---
import LayoutArticle from "$layouts/LayoutArticle.astro";

const breadcrumbsLabels = {
	"municipal-newspaper-guideline": "Объединение муниципальных газет",
};

import { Image } from "astro:assets";

const imagePaths = Array.from({ length: 36 }, (_, i) => {
	const index = String(i + 1).padStart(2, "0");
	return `/assets/img/design/design-systems/municipal-newspaper/Municipal_newspaper_guidline_Page_${index}.webp`;
});

const chunks = [];
for (let i = 0; i < imagePaths.length; i += 6) {
	chunks.push(imagePaths.slice(i, i + 6));
}
---

<LayoutArticle title="Дизайн‑система для объединённой редакции 20+ газет" description="Кейс разработки дизайн‑системы и унифицированного шаблона для объединения муниципальных газет Псковской области. 2019 год" headingTitle="Разработка и внедрение дизайн‑системы и унифицированного шаблона для объединения муниципальных газет Псковской области" subtitle="Как с помощью дизайн-системы сэкономить 2640 человекочасов в месяц" breadcrumbsLabels={breadcrumbsLabels} date="2019 год" customer="АНО ИД «Медиа 60»" customerLink="/about#mhpo">
	<section class="article-lid animation-scroll-fadeup" data-toc="Введение" id="lid">
		<p>В конце 2018 года Администрация Псковской области запустила реформу муниципальных СМИ: все районные газеты (а их было 24 не считая муниципальных изданий городских округов) объединялись в государственный холдинг. При этом план оптимизации процессов предусматривал существенное сокращение производственных затрат на вёрстку, но требования к продукту объединённого холдинга выдвигались противоположные — повысить уровень визуального оформления газет.</p>
	</section>
	<section class="article-body">
		<section class="article-chapter animation-scroll-fadeup">
			<h2 class="article-chapter-title" data-toc="Контекст" id="context">Контекст</h2>
			<section class="article-chapter-section">
				<h3 class="article-chapter-subtitle" data-toc="Задача" id="task">Задача</h3>
				<p class="article-text">Проект объединения муниципальных газет в холдинг включал в себя пункт о сокращении количества верстальщиков: <mark>вместо прежней схемы, в которой у каждой редакции был свой специалист (20+ человек на область), предлагалось реализовать схему «кустовой» вёрстки, при которой верстальщики остаются только в 7 редакциях — и начинают обслуживать сразу 3-4 издания.</mark> При этом основной объем работы им необходимо было обрабатывать за 2 рабочих дня.</p>
				<p class="article-text">Кроме того, часть полос с региональными новостями и телепрограммой централизованно версталась в головном офисе холдинга, а затем в готовом виде вставлялась в макеты изданий. При таком подходе стандарты оформления должны были чётко соблюдаться, быть понятными и непротиворечивыми.</p>
			</section>
			<section class="article-chapter-section">
				<h3 class="article-chapter-subtitle" data-toc="Подготовка" id="task">Подготовка</h3>
				<p class="article-text">Чтобы воплотить эту схему, требовался единый стандартизированный макет на базе продуманной дизайн-системы, которая позволяла бы максимально автоматизировать и ускорить процессы вёрстки, была бы адаптирована к каскадному внедрению новых элементов и при этом обеспечивала максимальную консистентность визуального оформления.</p>
				<p class="article-text">Для создания необходимых инструкций, дизайн-системы и макета была проведена подготовительная исследовательская работа:</p> 
				<ul class="article-text wrapper-indentation">
					<li>проанализированы существующие макеты всех муниципальных газет региона и техническая база в редакциях;</li>
					<li>проведена серия интервью с читателями муниципальных газет сообразно половозрастной структуре населения муниципалитетов для выявления замечаний относительно нынешнего дизайна районных изданий и пожеланий в оформлении;</li>
					<li>проведены ознакомительные беседы и тестирование навыков верстальщиков, которые должны были остаться работать в холдинге</li>
					<li>поскольку газеты на базе единого макета должны были печататься как минимум в 3 типографиях, каждая из которых имела немного отличные друг от друга из-за особенностей оборудования форматы печати, были подобраны наиболее универсальные и оптимальные параметры печатного поля макета.</li>
				</ul>
			</section>
		</section>
		<section class="crosscrolling fullwidth">
			{
				chunks.map((chunk) => (
					<div class="scrollline">
						{chunk.map((src) => (
							<Image src={src} alt="Страница документации дизайн-системы и инструкций по использованию унифицированного шаблона муниципальных газет" width={283} height={400} loading="eager" class="scrolline-item" />
						))}
					</div>
				))
			}
		</section>
		<section class="article-chapter animation-scroll-fadeup">
			<h2 class="article-chapter-title" data-toc="Результат" id="outcome">Результат</h2>
			<section class="article-chapter-section">
				<p class="article-text">Был разработан шаблон для InDesign c различными средствами автоматизации (каскадными стилями, набором регулярных выражений для GREP-замен, пресетами для цветоделения и т. п.), которые облегчали и ускоряли работу верстальщиков, а также обеспечивали по возможности защиту от ошибок, вызванных «человеческим фактором».</p>
				<p class="article-text">Для объединённой редакции были приобретены лицензии выбранных для единого макета шрифтов — полное семейство RF Dewi от Russian Fonts и Orbi от Paratype.</p>
				<p class="article-text">Для изданий, не имевших на последнем отрезке своей истории нормальной эмблемы (у некоторых изданий с 90-х годов XX века в качестве лого сохранялись надписи, набранные иногда искаженными шрифтами из базовых коллекций офисных ПК), были разработаны обновлённые логотипы. При разработке и доработке эмблем я старался ориентироваться на исторические эмблемы тех или иных газет в советские годы, чтобы сохранить и подчеркнуть преемственность.</p>
				<p class="article-text">Отдельно были разработаны и свёрстаны справочники-инструкции по спуску полос (для верстальщиков) и по подготовке текстовых и графических материалов, редактуре и ToV (для редакторов и журналистов).</p>
			</section>
	</section>
</LayoutArticle>

<style>
	.crosscrolling {
		overflow-x: clip;
		white-space: nowrap;
		margin-block: var(--space-xl);
		& .scrollline {
			display: flex;
			width: max-content;
			gap: var(--space-main);
			margin-block-end: var(--space-main);
			animation: pages-scrolling-to-right linear forwards;
			animation-timeline: view();
			animation-range: entry 0% cover 80%;
			&:nth-child(even) {
				animation: pages-scrolling-to-left linear forwards;
				animation-timeline: view();
				animation-range: entry 0% cover 80%;
			}
		}
		& .scrolline-item {
			@media screen and (width < 1200px) {
				width: 150px;
				height: 212px;
			}
		}
	}

	@keyframes pages-scrolling-to-right {
		from {
			transform: translateX(100%);
		}
		to {
			transform: translateX(calc(-1 * (100% - 100vw)));
		}
	}
	@keyframes pages-scrolling-to-left {
		from {
			transform: translateX(-100%);
		}
	}
</style>
