---
import LayoutArticle from "$layouts/LayoutArticle.astro";

const breadcrumbsLabels = {
	"municipal-newspaper-guideline": "Объединение муниципальных газет",
};

import { Image } from "astro:assets";

const imagePaths = Array.from({ length: 36 }, (_, i) => {
	const index = String(i + 1).padStart(2, "0");
	return `/assets/img/design/design-systems/municipal-newspaper/Municipal_newspaper_guidline_Page_${index}.webp`;
});

const chunks = [];
for (let i = 0; i < imagePaths.length; i += 12) {
	chunks.push(imagePaths.slice(i, i + 12));
}
---

<LayoutArticle
	title="Дизайн‑система для объединённой редакции 20+ газет"
	description="Кейс разработки дизайн‑системы и унифицированного шаблона для объединения муниципальных газет Псковской области. 2019 год"
	headingTitle="Разработка и внедрение дизайн‑системы и унифицированного шаблона для объединения муниципальных газет Псковской области"
	subtitle="Как с помощью дизайн-системы сэкономить 2640 человекочасов в месяц"
	breadcrumbsLabels={breadcrumbsLabels}
	date="2019 год"
	customer="АНО ИД «Медиа 60»"
	customerLink="/about#mhpo"
>
	<section class="article-lid animation-scroll-fadeup" data-toc="Введение" id="lid">
		<p>
			В конце 2018 года Администрация Псковской области запустила реформу муниципальных СМИ: все районные газеты (а их было 24 не считая муниципальных изданий городских округов) планировали объединить в государственный холдинг. При этом требовалось сократить производственные расходы на вёрстку и одновременно — повысить уровень визуального оформления газет.
		</p>
	</section>
	<section class="article-body">
		<section class="article-chapter animation-scroll-fadeup">
			<h2 class="article-chapter-title" data-toc="Контекст и задача" id="task">Контекст и задача</h2>
			<p class="article-text">Проект объединения муниципальных газет в холдинг включал в себя пункт о сокращении количества верстальщиков: <mark>вместо прежней схемы, в которой у каждой редакции был свой специалист (20+ человек на область), предлагалось реализовать схему «кустовой» вёрстки, при которой верстальщики остаются только в 7 редакциях — и начинают обслуживать сразу 3-4 издания.</mark> При этом основной объем работы им необходимо было делать за 2 рабочих дня.</p>
			<p class="article-text">Кроме того, часть полос с региональными новостями и телепрограммой централизованно версталась в головном офисе холдинга, а затем в готовом виде вставлялась в макеты изданий. При таком подходе стандарты оформления должны были чётко соблюдаться, быть понятными и непротиворечивыми.</p>
			<p class="article-text">Чтобы воплотить эту схему, требовался единый стандартизированный макет на базе продуманной дизайн-системы, которая позволяла бы максимально автоматизировать и ускорить процессы вёрстки, была бы адаптирована к каскадному внедрению новых элементов и при этом обеспечивала максимальную консистентность визуального оформления.</p>
		</section>
		<section class="crosscrolling fullwidth">
			{
				chunks.map((chunk) => (
					<div class="scrollline">
						{chunk.map((src) => (
							<Image src={src} alt="Страница документации дизайн-системы и инструкций по использованию унифицированного шаблона муниципальных газет" width={283} height={400} loading="lazy" class="scrolline-item" />
						))}
					</div>
				))
			}
		</section>
	</section>
</LayoutArticle>

<style>
	.crosscrolling {
		overflow-x: clip;
		white-space: nowrap;
		margin-block: var(--space-xl);
		& .scrollline {
			display: flex;
			gap: var(--space-main);
			margin-block-end: var(--space-main);
			animation: horizontal-scrolling-to-right linear forwards;
			animation-timeline: view();
			animation-range: entry 0% cover 90%;
			&:nth-child(even) {
				animation: horizontal-scrolling-to-left linear forwards;
				animation-timeline: view();
				animation-range: entry 0% cover 90%;
			}
		}
		& .scrolline-item {
			@media screen and (width < 1200px) {
				width: 150px;
				height: 212px;
			}
		}
	}

	@keyframes horizontal-scrolling-to-right {
		from {
			transform: translateX(90%);
		}
		to {
			transform: translateX(-150%);
		}
	}
	@keyframes horizontal-scrolling-to-left {
		from {
			transform: translateX(-200%);
		}
		to {
			transform: translateX(90%);
		}
	}
</style>
