---
import LayoutArticle from "$layouts/LayoutArticle.astro";

const breadcrumbsLabels = {
	"pln-redesign": "Редизайн ПЛН",
};

const imagePaths = Array.from({ length: 36 }, (_, i) => {
	const index = String(i + 1).padStart(2, "0");
	return `/assets/img/design/design-systems/municipal-newspaper/Municipal_newspaper_guidline_Page_${index}.webp`;
});

const chunks = [];
for (let i = 0; i < imagePaths.length; i += 12) {
	chunks.push(imagePaths.slice(i, i + 12));
}
---

<LayoutArticle
  title="Редизайн «Псковской ленты новостей»" 
  description="Кейс cоздания дизайн-системы и редизайна сайта самого посещаемого онлайн-СМИ Псковской области — «Псковской ленты новостей». 2023-2025 годы"
  headingTitle="Cоздание дизайн&#8209;системы и редизайн сайта самого посещаемого онлайн&#8209;СМИ Псковской области — «Псковской ленты новостей»"
  subtitle="Как обеспечить производственные потребности крупного медиа с большим количеством продуктов лёгкой в обслуживании дизайн-системой"
  breadcrumbsLabels={breadcrumbsLabels}
  date="2023–2025 годы"
  customer="Медиахолдинг «Гражданская пресса»"
  customerLink="/about#pln"
>
	<section class="article-cover article-cover--pln fullwidth">
		<picture>
			<source media="(max-width: 960px)" srcset="/assets/img/design/design-systems/pln/bg-pln-m.webp" />
			<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/design-systems/pln/bg-pln-1x.webp" />
			<img src="/assets/img/design/design-systems/pln/bg-pln-1x.webp" class="pln-cover--bg" alt="Дизайн-токены и фрагмент кода нового сайта ПЛН" />
		</picture>
		<picture>
			<source media="(max-width: 960px)" srcset="/assets/img/design/design-systems/pln/cover-pln-m.webp" />
			<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/design-systems/pln/cover-pln-1x.webp" />
			<source media="(min-width: 961px) and (resolution: 2dppx), 
        (min-width: 961px) and (resolution: 3dppx),
        (min-width: 961px) and (resolution: 4dppx)" srcset="/assets/img/design/design-systems/pln/cover-pln-2x.webp" />
			<img src="/assets/img/design/design-systems/pln/cover-pln-2x.webp" class="pln-cover--img" alt="Создание дизайн-системы и редизайн сайта самого популярного онлайн-медиа Псковской области — «Псковской ленты новостей»" />
		</picture>
	</section>
	<section class="article-lid fullwidth">
		<p>«Псковская лента новостей» (далее — ПЛН) — флагманское СМИ частного медиахолдинга «Гражданская пресса» с 25&#8209;летней историей и ежемесячной аудиторией порядка полумиллионна уникальных посетителей. В период 2022–2023 годов на сайте ПЛН были проведены исследования пользовательского поведения на фоне общей для рынка коррекции типовых моделей медиапотребления. Выводы из этих исследований подсветили проблемы, требовавшие корректировки интерфейса, а набор технических ограничений действовавшей версии сайта достиг порога, который уже серьёзно влиял на бизнес-метрики. Поэтому был запущен процесс очередного редизайна.</p>
    <p>Поскольку в этот же период в рамках бренда ПЛН запускались новые продукты (например, ежедневные онлайн-трансляции радиоэфиров, требовавшие потоковое изготовление обложек, или ПЛН-ТВ, выпускавшее различные информационные ролики и фильмы), <mark>было решено разрабатывать редизайн сайта в качестве базы для целостной мультиформатной дизайн-системы. Она должна была стать простой и утилитарной, чтобы, во-первых, не конкурировать с медиаконтентом, а, во-вторых, обеспечивать быстрый — «конвейерный» — выпуск большого объема разноплановых дизайн-продуктов — и при этом должна была оставаться достаточно уникальной и узнаваемой.</mark></p>
	</section>
	<section class="article-body">
		<h3 class="article-section-title">Исследования и контекст</h3>
		<p class="article-text">ПЛН на протяжении порядка 10 лет в 2&#8209;2,5 раза опережает ближайших преследователей на региональном медиарынке по посещаемости. Ключевые метрики сайта <strong><a href="https://pln-pskov.ru" target="_blank" title="">pln-pskov.ru</a></strong> в 2022-2023 годах:</p>
		<table class="table-main pln-metrics" id="table-pln-metrics">
			<thead>
				<tr>
					<th></th>
					<th>В неделю</th>
					<th>В месяц</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Уникальных посетителей</th>
					<td>&gt; 136 тысяч</td>
					<td>&gt; 490 тысяч</td>
				</tr>
				<tr>
					<th>Просмотров страниц</th>
					<td>&gt; 620 тысяч</td>
					<td>&gt; 2 млн</td>
				</tr>
				<tr>
					<th>Глубина просмотра</th>
					<td colspan="2" class="center">≈ 2,5</td>
				</tr>
				<tr>
					<th>Время на сайте</th>
					<td colspan="2" class="center">≈ 2,85 минуты</td>
				</tr>
			</tbody>
		</table>
    <p class="article-text footnote" id="footnote--plnstat">* Цифры в таблице — по данным сервиса «Яндекс Метрика» за период с 1 марта 2022 года по 26 февраля 2023 года (среднее арифметическое) без учёта посещений роботов</p>
    <p class="article-text">При углубленном изучении пользовательского поведения были <strong>исследованы технические аспекты использования сайта</strong> (устройства, разрешения экрана, браузеры, наличие блокировкщиков рекламы etc.), <strong>уточнён портрет основных сегментов аудитории, в том числе ядра</strong> (группы пользователей, которые посещают сайт каждую неделю в течение месяца), <strong>проанализированы тепловые карты и карты скроллинга основных экранов, точки входа и данные по отказам</strong>.</p>
    <picture>
			<source media="(max-width: 960px)" srcset="/assets/img/design/design-systems/pln/pln-analytics-m.webp" />
			<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/design-systems/pln/pln-analytics-1x.webp" />
			<source media="(min-width: 961px) and (resolution: 2dppx), 
        (min-width: 961px) and (resolution: 3dppx),
        (min-width: 961px) and (resolution: 4dppx)" srcset="/assets/img/design/design-systems/pln/pln-analytics-2x.webp" />
			<img src="/assets/img/design/design-systems/pln/pln-analytics-2x.webp" class="pln-cover--img" alt="Анализ метрик посещаемости сайта «Псковской ленты новостей»" />
		</picture>
		<p class="article-text"><strong>Некоторые наблюдения по резуальтатам анализа метрик:</strong></p>
		<ul class="wrapper--indentation">
			<li>тотальное доминирование пользователей, просматривающих сайт со смартфона (8 из 10), но при этом ядро аудитории — пользователи десктопов;</li>
      <li>женская аудитория вдвое превышает мужскую (частично это коррелируется с демографической картиной активного населения региона, а также со структурой занятости в сфере госслужбы, к которой относится значительная часть ядра аудитории), но уступает ей по глубине просмотра на 11 % (или на 0,2 процентных пункта), и на 33,7 % (порядка 25 секунд) — по времени на сайте;</li>
      <li>доминирующая возврастная группа — люди старше 35 лет, более половины всех пользователей — старше 55 лет;</li>
      <li>основная доля пользователей приходит на сайт через поисковый траффик и часто даже не видит главную страницу, однако на втором месте по источникам заходов — прямые переходы через закладки или набор url сайта;</li>
      <li>низкий показатель доскролла главной страницы и фактического нефункционирования отдельных элементов интерфейса.</li>
    </ul>
  </section>
</LayoutArticle>

<style>
	.article-cover--pln {
		position: relative;
		overflow: hidden;
    width: 100%;
		height: auto;
		aspect-ratio: 3 / 2;
    @media screen and (width < 1200px) {
      width: 200vw!important;
      transform: translateX(-27%);
    }
		& .pln-cover--img {
      position: absolute;
      inset: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
      object-position: center center;
      z-index: +1;
		}
		& .pln-cover--bg {
			position: absolute;
			width: 100%;
			height: 100%;
			inset: 0;
			object-fit: cover;
      object-position: center center;
      opacity: .3;
      mask: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 5%, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%);
		}
	}
  table.pln-metrics {
    width: var(--text-width-main);
    & th, td {
      width: 28%;
    }
    & tr > th:first-child {
      width: 41%;
    }
  }

  #footnote--plnstat {
    margin-block-end: var(--spacing-indentation);
  }
  #table-pln-metrics {
    margin-block-start: var(--spacing-indentation);
  }

	@keyframes horizontal-scrolling-to-right {
		from {
			transform: translateX(90%);
		}
		to {
			transform: translateX(-150%);
		}
	}
	@keyframes horizontal-scrolling-to-left {
		from {
			transform: translateX(-200%);
		}
		to {
			transform: translateX(90%);
		}
	}
</style>
