---
import LayoutArticle from "$layouts/LayoutArticle.astro";
import { Tabs, TabList, Tab, TabPanels, TabPanel } from "$components/ui/tabs";

const breadcrumbsLabels = {
	"pln-redesign": "Редизайн ПЛН",
};
---

<LayoutArticle title="Редизайн «Псковской ленты новостей»" description="Кейс cоздания дизайн-системы и редизайна сайта самого посещаемого онлайн-СМИ Псковской области — «Псковской ленты новостей»" headingTitle="Cоздание дизайн‑системы и редизайн сайта самого посещаемого онлайн‑СМИ Псковской области — «Псковской ленты новостей»" subtitle="Как обеспечить производственные потребности крупного медиа с большим количеством продуктов гибкой дизайн‑системой" breadcrumbsLabels={breadcrumbsLabels} date="2022–2025 годы" customer="Медиахолдинг «Гражданская пресса»" customerLink="/about#pln" ogImage="/assets/img/design/design-systems/pln/ogcover-pln.webp">
	<section class="article-cover article-cover--pln fullwidth">
		<picture>
			<source media="(max-width: 960px)" srcset="/assets/img/design/design-systems/pln/bg-pln-m.webp" />
			<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/design-systems/pln/bg-pln-1x.webp" />
			<img src="/assets/img/design/design-systems/pln/bg-pln-1x.webp" class="pln-cover--bg" alt="Дизайн-токены и фрагмент кода нового сайта ПЛН" fetchpriority="high" />
		</picture>
		<picture>
			<source media="(max-width: 960px)" srcset="/assets/img/design/design-systems/pln/cover-pln-m.webp" />
			<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/design-systems/pln/cover-pln-1x.webp" />
			<source media="(min-width: 961px) and (resolution: 2dppx), 
        (min-width: 961px) and (resolution: 3dppx),
        (min-width: 961px) and (resolution: 4dppx)" srcset="/assets/img/design/design-systems/pln/cover-pln-2x.webp" />
			<img src="/assets/img/design/design-systems/pln/cover-pln-2x.webp" class="pln-cover--img" alt="Создание дизайн-системы и редизайн сайта самого популярного онлайн-медиа Псковской области — «Псковской ленты новостей»" fetchpriority="high" />
		</picture>
	</section>
	<section class="article-lid animation-scroll-fadeup" data-toc="Введение" id="lid">
		<p>
			К началу 2020&#8209;х годов лидирующее онлайн&#8209;медиа Псковской области с 20-летней историей и ежемесячной аудиторией (MAU) порядка 500 тысяч человек — <a href="https://pln-pskov.ru" target="_blank" title="Сайт «Псковской ленты новостей»">«Псковская лента новостей»</a> (ПЛН) — столкнулась с необходимостью <strong>редизайна сайта на базе гибкой дизайн&#8209;системы</strong>. К этому решению редакцию подтолкнули глубинные изменения в медиапотреблении и кризис прежней модели монетизации, накопившиеся ограничения устаревшей архитектуры сайта и необходимость повысить эффективность редакционных и бизнес&#8209;процессов, чтобы сохранить и укрепить лидерство. <strong>Цель</strong> масштабных перемен: повысить удобство использования сайтом (особенно для пользователей смартфонов), создать масштабируемый дизайн&#8209;инструмент для редакции и обновить бренд, сохранив лояльность ядра аудитории.
		</p>
		<p>
			<strong>Исследования</strong> — <mark>анализ метрик и пользовательского поведения, аудит интерфейса, серия глубинных интервью с постоянными и эпизодическими читателями, с сотрудниками редакции — помогли определить основные проблемные зоны</mark> в дизайне. Анализ лучших практик в проектировании интерфейсов сайтов и приложений СМИ «общего интереса» с общественно-политическим и деловым уклоном — именно в этом сегменте традиционно работала ПЛН — позволил уточнить пул гипотез, которые были впоследствии протестированы.
		</p>
		<p>
			Разработка дизайн&#8209;системы началась с определения дизайн-токенов. На их основе в ходе серии итераций я <mark>спроектировал обновлённый интерфейс сайта, спрограммировал атомарные и функциональные компоненты, виджеты и шаблоны страниц. Затем на базе фреймворка SvelteKit был создан интерактивный адаптивный прототип на основе моковых данных, собранных в JSON&#8209;файлы для имитации взаимодействия с бэкендом и тестирования пограничных кейсов</mark>. Полученный интерактивный прототип стал базой для последующих итераций пользовательских исследований и тестирования концепции редизайна, её отладки и доработки.
		</p>
	</section>
	<section class="article-body">
		<section class="article-chapter animation-scroll-fadeup">
			<h2 class="article-chapter-title" data-toc="Исследования, контекст и ограничения" id="custdev">Исследования, контекст и ограничения</h2>
			<section class="article-chapter-section">
				<h3 class="article-chapter-subtitle" data-toc="Основные показатели" id="metrics">Основные показатели</h3>
				<p class="article-text">Ключевые метрики ПЛН во время старта работ по редизайну:</p>
				<table class="table-main pln-metrics" id="table-pln-metrics">
					<thead>
						<tr>
							<th></th>
							<th>Десктопы</th>
							<th>Смартфоны и планшеты</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>Устройства</th>
							<td>24,39&thinsp;%</td>
							<td>72,50&thinsp;%</td>
						</tr>
						<tr>
							<th>Глубина просмотра</th>
							<td>3,85</td>
							<td>1,87 <span class="table-indicator-shift">(&Delta; −51,43&thinsp;%)</span></td>
						</tr>
						<tr>
							<th>Время на сайте</th>
							<td>5:15</td>
							<td>1:48 <span class="table-indicator-shift">(&Delta; −65,71&thinsp;%)</span></td>
						</tr>
					</tbody>
				</table>
				<table class="table-main pln-metrics" id="table-pln-metrics">
					<thead>
						<tr>
							<th></th>
							<th>В неделю</th>
							<th>В месяц</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>Уникальных посетителей</th>
							<td>&gt; 136 тысяч</td>
							<td>&gt; 490 тысяч</td>
						</tr>
						<tr>
							<th>Просмотров страниц</th>
							<td>&gt; 620 тысяч</td>
							<td>&gt; 2 млн</td>
						</tr>
						<tr>
							<th>Ядро аудитории (посещения каждую неделю в течение месяца)</th>
							<td colspan="2" class="center">≈ 15&thinsp;%</td>
						</tr>
					</tbody>
				</table>
				<p class="article-text footnote" id="footnote--plnstat">* Цифры в таблице — по данным сервиса «Яндекс Метрика» за период с 1 марта 2022 года по 26 февраля 2023 года (среднее арифметическое) без учёта посещений роботов</p>
			</section>
			<section class="article-chapter-section">
				<h3 class="article-chapter-subtitle" data-toc="Исследования и анализ" id="discovery">Исследования и анализ</h3>
				<p class="article-text">
					При углубленном изучении пользовательского поведения были <strong>исследованы технические аспекты использования сайта</strong> (устройства, разрешения экрана, браузеры, наличие блокировщиков рекламы etc.), уточнён <strong>портрет основных сегментов аудитории</strong>, в том числе ядра, проанализированы <strong>тепловые карты и карты скроллинга</strong>, точки входа и данные по отказам, определены слепые зоны в интерфейсе.
				</p>
				<picture class="fullwidth">
					<source media="(max-width: 960px)" srcset="/assets/img/design/design-systems/pln/pln-analytics-m.webp" />
					<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/design-systems/pln/pln-analytics-1x.webp" />
					<source media="(min-width: 961px) and (resolution: 2dppx), 
					(min-width: 961px) and (resolution: 3dppx),
					(min-width: 961px) and (resolution: 4dppx)" srcset="/assets/img/design/design-systems/pln/pln-analytics-2x.webp" />
					<img src="/assets/img/design/design-systems/pln/pln-analytics-2x.webp" class="article-img fullwidth" alt="Анализ метрик посещаемости сайта «Псковской ленты новостей»" />
				</picture>
				<section class="article-chapter-section">
					<p class="article-text"><strong>Результаты технического и UX-аудита — ограничения и требования</strong></p>
					<ul class="wrapper--indentation">
						<li>Выявлена <strong>глубокая несогласованность десктопной и мобильной версии</strong>, которые размещены на разных доменах (с автоматическими редиректами), имеют неконсистентное оформление и разные пути пользователя.</li>
						<li>Одна из наиболее существенных проблем — <strong>интерфейсные тупики в самом частотном по отображению шаблоне</strong>: на странице новости в мобильной версии (более 50 % просмотров страниц).</li>
						<li>Во многих случаях текстовые элементы имеют <strong>недостаточный контраст согласно спецификации WCAG 2.1</strong>.</li>
						<li>Старый дизайн <strong>технически ограничивал использование на сайте рекламы современного формата на основе html5-баннеров</strong> из-за особенностей пропорционального масштабирования элементов на разрешениях свыше 1200 px по ширине.</li>
					</ul>
				</section>
				<section class="article-chapter-section">
					<p class="article-text"><strong>Основные результаты количественного анализа:</p>
						<ul class="wrapper--indentation">
						<li>Ключевые группы пользователей:</li>
							<ol>
								<li>госслужащие и офисные работники, преимущественно женщины старше 35 лет, пользователи десктопов</li>
								<li>социально и политически активные граждане, участники публичных дискуссий в соцсетях</li>
								<li>жители Пскова в эпизодическом поиске информации о происходящем в городе и регионе, пользователи смартфонов</li>
							</ol>
						<li>в целом женская аудитория почти вдвое превышает мужскую (частично это коррелируется с демографической картиной активного населения региона, а также со структурой занятости в сфере госслужбы), но уступает ей по глубине просмотра на 11 %, и на 33,7 % (порядка 25 секунд) — по времени на сайте;</li>
						<li>основная доля пользователей приходит на сайт через поисковый траффик и часто даже не видит главную страницу, однако на втором месте по источникам заходов — прямые переходы через закладки или набор url сайта;</li>
						<li>низкий показатель доскролла главной страницы и страниц новостей.</li>
					</ul>
				</section>
			</section>
		</section>
		<section class="article-chapter animation-scroll-fadeup">
			<h2 class="article-chapter-title" data-toc="Дизайн-система" id="ds">Дизайн-система</h2>
			<section class="article-chapter-section">
				<h3 class="article-chapter-subtitle" data-toc="Типографика" id="typography">Типографика</h3>
				<!-- <p class="article-text">
					<mark>Для сайта медиа (особенно медиа текстоцентричного) типографика — ключевой элемент дизайна</mark>. Именно она задёт тон, характер визуального языка медиабренда, определяет ритм и иерархичность распределения информации на страницах материалов, отвечает за удобство восприятия информации
					читателем.
				</p> -->
				<p class="article-text">
					На старом сайте использовалась всего одна гарнитура — <strong>Roboto</strong>: интерфейсный шрифт ОС Android.
				</p>
				<p class="article-text">Из-за этого на сайте, изобилующем разноплановыми текстовыми элементами, была ограничена возможность их стилистического акцентирования, организации иерархичности и внедрения понятного читателям маркера разделения собственно контента статей и всевозможных служебных надписей (названия рубрик, вывода даты и времени публикации, названий подразделов etc.).</p>
				<p class="article-text">
					Эти ограничения были преодолены <strong>подбором гармоничной пары шрифтовых семейств — с засечками и без — из разряда гарнитур с открытой лицензией</strong>.
				</p>
				<p class="article-text">От шрифтовой пары требовались:</p>
				<ul>
					<li>хорошая сочетаемость и проработка кириллицы;</li>
					<li>высокая четкость и распознаваемость в мелких кеглях на цифровых дисплея;</li>
					<li>большой набор начертаний и дополнительных символов, которые периодически могут понадобится медиа при оформлении специфичных материалов.</li>
				</ul>
			</section>
			<section class="article-chapter-section wrapper-columns-two width-xw wrapper-centered">
				<div class="wrapper-sticky">
					<p class="article-text">
						<strong>В качестве интерфейсного шрифтового семейства — без засечек — была выбрана гарнитура <a href="https://rsms.me/inter" title="Сайт гарнитуры Inter" target="_blank">Inter</a></strong> авторства Расмуса Андрессона — пожалуй, лучший из доступных на момент старта работ по редизайну бесплатных неогротесков с прекрасной читабельностью текста в малых кеглях на экранах.
					</p>
					<div class="article-inset wrapper--indentation animation-scroll-fadeup">
						<p class="article-text">Отдельный плюс «Интера» — <strong>впечатляющие возможности стилизации и кастомизации текста за счет широкого спектра лигатур</strong>. Это позволило настроить нужный вариант отображения цифр, форму точек и запятых, соотносящихся с рубленым, квадратным характером логотипа бренда.</p>
					</div>
				</div>
				<div class="wrapper-sticky">
					<img src="/assets/img/design/design-systems/pln/font-inter-1.svg" class="img-bg" alt="Шрифт Inter" />
					<img src="/assets/img/design/design-systems/pln/font-inter-2.svg" class="img-bg" alt="Шрифт Inter" />
				</div>
			</section>
			<section class="article-chapter-section wrapper-columns-two width-xw wrapper-centered">
				<div class="wrapper-sticky">
					<p class="article-text">
						<strong>А шрифтом с засечками — для основных массивов текста статей — стала специальная гарнитура <a href="https://github.com/stipub/stixfonts" title="Репозиторий гарнитуры Stix Two Text" target="_blank">Stix Two Text</a></strong>, созданная в рамках STIX Project для научных, технических и медицинских публикаций в цифровой среде — с упором на удобство восприятия текста в небольших кеглях и на экранах разного качества.
					</p>
				</div>
				<div class="wrapper-sticky">
					<img src="/assets/img/design/design-systems/pln/font-stix-1.svg" class="img-bg" alt="Шрифт Stix Two Text" />
					<img src="/assets/img/design/design-systems/pln/font-stix-2.svg" class="img-bg" alt="Шрифт Stix Two Text" />
				</div>
			</section>
			<section class="article-chapter-section wrapper-columns-two width-xw wrapper-centered">
				<div class="wrapper-sticky">
					<p class="article-text">
						Для таблицы размеров текста был подобран <strong>набор базовых токенов на основе функции clamp()</strong>, гибко адаптирующей кегль шрифта в зависимости от размера экрана между двумя крайними значениями.
					</p>
				</div>
				<div class="wrapper-sticky">
					<img src="/assets/img/design/design-systems/pln/pln-ds-typography.webp" class="article-img" alt="Таблица базовых токенов типографики для редизайна «Псковской ленты новостей»" />
				</div>
			</section>
			<section class="article-chapter-section">
				<h3 class="article-chapter-subtitle" data-toc="Цвета" id="colors">Цветовая палитра</h3>
				<p class="article-text">
					<strong>У бренда была фирменная цветовая лакуна — оттенки бордо</strong>. Между тем, при каждом редизайне конкретный цвет бренда всякий раз слегка видоизменялся в заданных рамках, то есть жесткого канона не существовало. Поэтому, ввиду замечаний некоторых пользователей об ощущении слишком тёмного и даже «грязного» дизайна, было решено слегка освежить фирменный цвет, подняв и яркость, и насыщенность.
				</p>
				<p class="article-text">
					Также <strong>нужен был набор базовых цветовых токенов для оформления контента и интерфейса сразу в двух вариантах — для светлой и тёмной темы</strong>. Последнюю решено было внедрить для удобства предпочитающих именно тёмную тему пользователей. В результате получились наборы цветов для основного монотонного контента (в первую очередь текста и иконок), для фона, для границ и разделителей. А уже затем с привязкой к базовым были сформированы семантические токены для элементов интерфейса.
				</p>
				<img src="/assets/img/design/design-systems/pln/pln-ds-color.webp" class="article-img width-main wrapper-centered" alt="Таблица базовых цветовых токенов для редизайна «Псковской ленты новостей»" />
			</section>
			<section class="article-chapter-section">
				<h3 class="article-chapter-subtitle" data-toc="Логотипы" id="logos">Логотипы</h3>
				<p class="article-text">Предыдущая версия логотипа, существовавшая с 2013 года, была слегка доработана не только по цвету, но и по форме. Во-первых, был заменён шрифт букв, во-вторых, была убрана расшифровывающая надпись, поскольку исследования показали, что большинство пользователей воспринимает бренд именно в виде аббревиатуры, а с расшифровкой даже иногда путается, смешивая названия бренда и его основного конкурента. И, наконец, были скорректированы отступы между квадратами, сделав логотип более плотным.</p>
				<p class="article-text">За счет усиления эффекта плотности и цельности логотипа впоследствии был использован приём использования эмблемы в шапке сайта и в промо-продукции как своего рода этикетки — без отступа от левой границы фрейма.</p>
				<Tabs id="pln-logo-compare" class="tabs-container-main" defaultTab={1}>
					<TabList label="Варианты логотипа ПЛН: старый и новый">
						<Tab id="pln-logo-compare-tab-1" controls="pln-logo-compare-panel-q">Было</Tab>
						<Tab id="pln-logo-compare-tab-2" controls="pln-logo-compare-panel-2" selected>Стало</Tab>
					</TabList>
					<TabPanels>
						<TabPanel id="pln-logo-compare-panel-1" labelledby="pln-logo-compare-tab-1" selected>
							<section class="pln-logo-compare">
								<img src="/assets/img/design/design-systems/pln/pln-logo-old.svg" class="pln-logo-compare--img" alt="Старый логотип «Псковской ленты новостей» (2013-2020 годы)" />
							</section>
						</TabPanel>
						<TabPanel id="pln-logo-compare-panel-2" labelledby="pln-logo-compare-tab-1">
							<section class="pln-logo-compare">
								<img src="/assets/img/design/design-systems/pln/pln-logo-new.svg" class="pln-logo-compare--img" alt="Новый логотип «Псковской ленты новостей» (с 2020 года)" />
							</section>
						</TabPanel>
					</TabPanels>
				</Tabs>
				<p class="article-text">Впоследствии на базе обновленного логотипа были разработаны или доработаны логотипы продуктов бренда, например, логотип радиостанции ПЛН-ФМ и логотип направления документальных фильмов и стримминговых передач ПЛН-ТВ.</p>
				<div class="wrapper-columns-grid width-main">
					<img src="/assets/img/design/design-systems/pln/pln-tv-logo.svg" class="img-bg" alt="Шрифт Inter" />
					<img src="/assets/img/design/design-systems/pln/pln-fm-logo.svg" class="img-bg" alt="Шрифт Inter" />
				</div>
			</section>
		</section>
	</section>

	<section class="article-chapter animation-scroll-fadeup">
		<h2 class="article-chapter-title" data-toc="UX и UI" id="ux_and_ui">UX и UI</h2>
		<h3 class="article-chapter-subtitle" data-toc="Шапка и навигация" id="header_and_nav">Шапка и навигация</h3>
	</section>
	<section class="article-chapter">
		<div class="article-chapter-section wrapper-columns-two width-reset wrapper-centered">
			<div class="wrapper--indentation">
				<p class="img-caption">Старая версия главной страницы:</p>
				<div class="mockup-wrapper shadow-h">
					<picture>
						<source media="(max-width: 960px)" srcset="/assets/img/design/design-systems/pln/pln-general-old-m.webp" />
						<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/design-systems/pln/pln-general-old-1x.webp" />
						<source media="(min-width: 961px) and (resolution: 2dppx), 
									(min-width: 961px) and (resolution: 3dppx),
									(min-width: 961px) and (resolution: 4dppx)" srcset="/assets/img/design/design-systems/pln/pln-general-old-2x.webp" />
						<img src="/assets/img/design/design-systems/pln/pln-general-old-2x.webp" alt="Старая версия главной страницы «Псковской ленты новостей»" />
					</picture>
				</div>
			</div>
			<div class="wrapper--indentation">
				<p class="img-caption">Прототип редизайна главной страницы:</p>
				<div class="mockup-wrapper shadow-h">
					<picture>
						<source media="(max-width: 960px)" srcset="/assets/img/design/design-systems/pln/pln-general-new-m.webp" />
						<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/design-systems/pln/pln-general-new-1x.webp" />
						<source media="(min-width: 961px) and (resolution: 2dppx), 
									(min-width: 961px) and (resolution: 3dppx),
									(min-width: 961px) and (resolution: 4dppx)" srcset="/assets/img/design/design-systems/pln/pln-general-new-2x.webp" />
						<img src="/assets/img/design/design-systems/pln/pln-general-new-2x.webp" alt="Исходный концепт редизайна главной страницы «Псковской ленты новостей»" />
					</picture>
				</div>
			</div>
		</div>
	</section>
</LayoutArticle>

<style>
	.article-cover--pln {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: auto;
		aspect-ratio: 3 / 2;
		@media screen and (width < 1200px) {
			width: 200vw !important;
			transform: translateX(-27%);
		}
		& .pln-cover--img {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
			z-index: +1;
		}
		& .pln-cover--bg {
			position: absolute;
			width: 100%;
			height: 100%;
			inset: 0;
			object-fit: cover;
			object-position: center center;
			opacity: 0.3;
			mask: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 5%, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%);
		}
	}
	table.pln-metrics {
		width: var(--content-width-main);
		& th,
		td {
			width: 28%;
		}
		& tr > th:first-child {
			width: 41%;
		}
	}

	.wrapper-columns-two {
		margin-block: var(--space-md);
	}

	#footnote--plnstat {
		margin-block-end: var(--space-indentation);
	}

	@keyframes horizontal-scrolling-to-right {
		from {
			transform: translateX(90%);
		}
		to {
			transform: translateX(-150%);
		}
	}
	@keyframes horizontal-scrolling-to-left {
		from {
			transform: translateX(-200%);
		}
		to {
			transform: translateX(90%);
		}
	}
</style>
