:root {
	color-scheme: light dark;

	--color-const-white: #ffffff;
	--color-const-light: #fcfcfc;
	--color-const-bg--light: oklch(0.982 0 0);
	--color-const-black: #000000;
	--color-const-dark: #111111;

	--color-content-main: oklch(0.2 0.003 240); /* #151617 */
	--color-content-s: oklch(0.3 0.004 240); /* #2c2e30 */
	--color-content-xs: oklch(0.4 0.005 240); /* #45484a */
	--color-content-xxs: oklch(0.54 0.006 240); /* #6c6f72 */
	--color-content-xxxs: oklch(0.75 0.005 240); /* #abaeb1 */
	--color-content-softest: oklch(0.85 0.004 240); /* #cbced0 */

	--color-separator-s: var(--color-content-softest);
	--color-separator-main: var(--color-content-xxs);
	--color-separator-h: var(--color-content-xs);

	--color-bg-xxxh: oklch(0.8 0 0); /* #bebebd */
	--color-bg-xxh: oklch(0.88 0 0); /* #d7d7d7 */
	--color-bg-xh: oklch(0.952 0 0); /* #efefef */
	--color-bg-h: oklch(0.961 0 0); /* #f2f2f2 */
	--color-bg-main: oklch(0.982 0 0); /* #f9f9f9 */
	--color-bg-s: oklch(0.99 0 0); /* #fcfcfc / oklch(from var(--color-bg-main) 99% c h) */
	--color-bg-xs: oklch(1 0 0); /* #ffffff */

	--color-brand-hardest: oklch(0.1 0.021 283.52); /* #030309 / rgb(3, 3, 9) */
	--color-brand-xxxd: oklch(0.2 0.047 281.74); /* #13132b / rgb(19, 19, 43) */
	--color-brand-xxd: oklch(0.27 0.065 281.13); /* #212145 / rgb(33, 33, 69) */
	--color-brand-xd: oklch(0.34 0.082 280.7); /* #313161 / rgb(49, 49, 97) */
	--color-brand-d: oklch(0.4 0.097 280.72); /* #3f407a / rgb(102, 103, 171) */
	--color-brand-main: oklch(0.543 0.105 281.7); /* #6667AB  / rgb(102, 103, 171) / oklch(0.543 0.105 281.7); - Pantone 17-3938 Very Peri - Color of the Year 2022 */
	--color-brand-s: oklch(0.62 0.087 286.15); /* #827eb8 / rgb(130, 126, 184) */
	--color-brand-xs: oklch(0.704 0.066 288.04); /* #9d9ac7 / rgb(157, 154, 199) */
	--color-brand-xxs: oklch(0.82 0.037 289.03); /* #c3c1db / rgb(195, 193, 219) */
	--color-brand-xxxs: oklch(0.88 0.023 289.86); /* #d7d5e6 / rgb(215, 213, 230) */
	--color-brand-softest: oklch(0.95 0.008 290.4); /* #eeedf3 / rgb(238, 237, 243) */

	--color-button-icon-controls: var(--color-brand-main);
	--color-button-bg-main: oklch(from var(--color-bg-xxh) l c h / 40%);
	--color-button-bg-focus: oklch(from var(--color-brand-main) l c h / 90%);
	--color-button-bg-hover: oklch(from var(--color-brand-main) l c h / 40%);
	--color-button-bg-colored: oklch(from var(--color-brand-main) l c h / 75%);
	--color-button-inactive: var(--color-brand-s);

	--color-safe-main: #379f37;
	--color-danger-main: #df1f1f;

	--color-mark: var(--color-brand-xxxs);
	--color-link: var(--color-brand-main);

	accent-color: var(--color-brand-main);

	--space-xxs: calc(0.25 * var(--space-main));
	--space-xs: calc(0.5 * var(--space-main));
	--space-s: calc(0.75 * var(--space-main));
	--space-main: 1rem;
	--space-md: calc(1.25 * var(--space-main));
	--space-l: calc(2 * var(--space-main));
	--space-xl: calc(3.25 * var(--space-main));
	--space-xxl: calc(5.25 * var(--space-main));

	--space-article-gap: var(--space-s);
	--space-scrollpadding: 6rem;
	--table-item--space: 0.8em;

	--font-family-primary: "Roboto Flex Variable", system-ui, sans-serif;
	--font-family-secondary: "JetBrains Mono Variable", monospace, system-ui;

	--font-size-xxxl: clamp(2rem, 1.7rem + 2vw, 3rem);
	--font-size-xxl: clamp(1.75rem, 1.4rem + 2vw, 2.25rem);
	--font-size-xl: clamp(1.4rem, 1.2rem + 1vw, 1.8rem);
	--font-size-l: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
	--font-size-main: clamp(1rem, 0.9rem + 0.3vw, 1.15rem);
	--font-size-s: clamp(0.9rem, 0.87rem + 0.15vw, 1.05rem);
	--font-size-xs: clamp(0.7rem, 0.66rem + 0.2vw, 0.9rem);
	--font-size-xxs: clamp(0.6rem, 0.56rem + 0.2vw, 0.8rem);
	--font-size-xxxs: clamp(0.5rem, 0.46rem + 0.2vw, 0.7rem);

	--font-weight-light: 300;
	--font-weight-regular: 350;
	--font-weight-medium: 400;
	--font-weight-semibold: 500;
	--font-weight-bold: 600;
	--font-weight-extrabold: 700;
	--font-weight-black: 800;
	--font-weight-extrablack: 900;

	--font-grade-main: 10;
	--font-grade-medium: 25;
	--font-grade-strong: -40;
	--font-grade-chapter-title: 60;
	--font-grade-chapter-subtitle: 150;

	--radius-button-xs: 0.15rem;
	--radius-button-s: 0.3rem;
	--radius-button-main: 0.5rem;
	--radius-button-l: 0.7rem;
	--radius-button-xl: 1rem;
	--radius-button-xxl: 1.2rem;
	--radius-button-xxxl: 1.5rem;

	/* Semantic tokens */

	--size-button-main: 3rem;

	--space-indentation: var(--space-main);

	--icon-stroke: 10;

	/* Расчет размеров на основе последовательности как у чисел Фибоначчи. Коррекции - -*s (short) и -*w (wide) c промежуточными результатами*/

	--content-max: 100%;
	--content-width-xs: min(var(--content-max), 24rem);
	--content-width-s: min(var(--content-max), 36rem);
	--content-width-main: min(var(--content-max), 42rem); /* Строка не более 65ch для базового размера шрифта */
	--content-width-w: min(var(--content-max), 58rem);
	--content-width-xw: min(var(--content-max), 72rem);

	--layout-padding-inline: var(--space-main);
	@media screen and (width >= 1200px) {
		--layout-padding-inline: var(--space-xl);
	}

	/* Тени */
	--shadow-color: 0deg 0% 84%;
	--shadow-s: 0.1px 0.9px 0.8px hsl(var(--shadow-color) / 0.73), 0.5px 3.6px 3.3px -4px hsl(var(--shadow-color) / 0.46);
	--shadow-main: 0.1px 0.9px 0.8px hsl(var(--shadow-color) / 0.68), 0.5px 3.7px 3.4px -2px hsl(var(--shadow-color) / 0.51), 2.5px 17.8px 16.2px -4px hsl(var(--shadow-color) / 0.34);
	--shadow-h: 0.1px 0.9px 0.8px hsl(var(--shadow-color) / 0.76), 0.6px 4.6px 4.2px -1px hsl(var(--shadow-color) / 0.65), 2px 14.4px 13.1px -2px hsl(var(--shadow-color) / 0.53), 5.4px 38.2px 34.7px -3px hsl(var(--shadow-color) / 0.42), 11.9px 83.8px 76.2px -4px hsl(var(--shadow-color) / 0.3);
}

:focus-visible {
	outline-color: var(--color-brand-main);
}
::selection {
	background-color: var(--color-mark);
}
::marker {
	color: var(--color-brand-main);
}

:is(::-webkit-calendar-picker-indicator, ::-webkit-clear-button, ::-webkit-inner-spin-button, ::-webkit-outer-spin-button) {
	color: var(--color-brand-main);
}

::-webkit-scrollbar-track {
	background: var(--color-brand-softest);
}
::-webkit-scrollbar-thumb {
	background: var(--color-brand-xxs);
}
::-webkit-scrollbar-thumb:hover {
	background: var(--color-brand-main);
}

[data-theme="dark"] {
	--color-content-main: oklch(0.99 0 0); /*  */
	--color-content-s: oklch(0.982 0 0); /*  */
	--color-content-xs: oklch(0.952 0 0); /*  */
	--color-content-xxs: oklch(0.88 0 0); /*  */
	--color-content-xxxs: oklch(0.8 0 0); /* #abaeb1 */
	--color-content-softest: oklch(0.65 0 0); /*  */

	--color-separator-s: var(--color-bg-xh);
	--color-separator-main: var(--color-bg-xxh);
	--color-separator-h: var(--color-bg-xxxh);

	--color-bg-xxxh: oklch(0.75 0.005 240); /*  */
	--color-bg-xxh: oklch(0.54 0.006 240); /*  */
	--color-bg-xh: oklch(0.4 0.005 240); /*  */
	--color-bg-h: oklch(0.3 0.004 240); /*  */
	--color-bg-main: oklch(0.25 0.003 240); /* #151617 */
	--color-bg-s: oklch(0.14 0.001 240); /*  */
	--color-bg-xs: oklch(0 0 0); /*  */

	--color-button-icon-controls: var(--color-brand-xs);
	--color-button-bg-main: oklch(from var(--color-content-xxs) l c h / 25%);
	--color-button-bg-focus: oklch(from var(--color-brand-main) l c h / 90%);
	--color-button-bg-hover: oklch(from var(--color-brand-main) l c h / 55%);
	--color-button-bg-colored: oklch(from var(--color-brand-main) l c h / 75%);
	--color-button-inactive: var(--color-brand-xs);

	--color-safe-main: #61c21c;
	--color-danger-main: #f12828;

	--color-mark: var(--color-brand-s);
	--color-link: var(--color-brand-xs);

	--shadow-color: 267deg 41% 11%;

	--font-grade-main: -80;
	--font-grade-medium: -30;
	--font-grade-strong: -30;
	--font-grade-chapter-title: 20;
	--font-grade-chapter-subtitle: 100;
}

/* Global */

@view-transition {
	navigation: auto;
}

html,
body {
	font-family: var(--font-family-primary);
	color: var(--color-content-main);
	background: var(--color-bg-main);
	height: auto;
	interpolate-size: allow-keywords;
	scroll-padding-top: var(--space-scrollpadding);
}

.hidden {
	display: none;
}

/* Typographics */

h1 {
	font-size: var(--font-size-xxxl);
	font-kerning: auto;
	font-optical-sizing: auto;
	line-height: 1.03;
	letter-spacing: -0.001em;
	font-variation-settings: "opsz" 11, "wght" var(--font-weight-extrabold), "GRAD" 50;
	white-space: pre-wrap;
	text-wrap: balance;
}

h2 {
	font-size: var(--font-size-xxl);
	font-kerning: auto;
	font-optical-sizing: auto;
	line-height: 1.15;
	letter-spacing: -0.005em;
	font-variation-settings: "opsz" 25, "wght" var(--font-weight-extrabold), "GRAD" -30;
	white-space: pre-wrap;
	text-wrap: balance;
}

h3 {
	font-size: var(--font-size-xl);
	font-kerning: auto;
	font-optical-sizing: auto;
	letter-spacing: -0.005em;
	line-height: 1.2;
	font-variation-settings: "opsz" 13, "wght" var(--font-weight-extrabold), "GRAD" 0;
	white-space: pre-wrap;
	text-wrap: balance;
}

h4 {
	font-size: var(--font-size-l);
	font-kerning: auto;
	font-optical-sizing: auto;
	letter-spacing: -0.005em;
	line-height: 1.2;
	font-variation-settings: "opsz" 13, "wght" var(--font-weight-extrabold), "GRAD" 0;
	white-space: pre-wrap;
	text-wrap: balance;
}

p,
span,
li,
summary {
	font-size: var(--font-size-main);
	font-kerning: auto;
	font-optical-sizing: auto;
	line-height: 1.45;
	font-weight: var(--font-weight-regular);
	text-wrap: pretty;
	font-variation-settings: "opsz" 10, "GRAD" var(--font-grade-main);
	& strong {
		font-variation-settings: "wght" 670, "GRAD" var(--font-grade-strong);
	}
}

:is(p, span, .article--wrapper li) a {
	color: var(--color-link);
	text-decoration: none;
	position: relative;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	&:focus,
	&:target {
		text-decoration: underline;
		text-decoration-color: var(--color-link);
		color: var(--color-const-light);
		background: var(--color-link);
	}
	@media (hover: hover) and (pointer: fine) {
		&:hover {
			text-decoration: underline;
			text-decoration-color: var(--color-link);
			color: var(--color-const-light);
			background: var(--color-link);
			border-radius: 0.4em;
			-webkit-box-decoration-break: clone;
			box-decoration-break: clone;
			@supports (corner-shape: squircle) {
				corner-shape: squircle;
			}
		}
	}
}

.footnote {
	font-size: var(--font-size-xxs);
	font-family: var(--font-family-secondary);
	color: var(--color-content-xxs);
}

.tag {
	font-family: var(--font-family-secondary);
	font-size: var(--font-size-xs);
	font-weight: var(--font-weight-medium);
	background: var(--color-button-bg-main);
	padding-inline: var(--space-xs);
	padding-block: var(--space-xxs);
	border-radius: var(--radius-button-l);
	@supports (corner-shape: squircle) {
		corner-shape: squircle;
	}
}

.skills_more {
	font-family: var(--font-family-secondary);
	font-size: var(--font-size-xs);
	font-weight: var(--font-weight-medium);
	padding-block: var(--space-xxs);
	color: var(--color-safe-main);
	font-weight: var(--font-weight-extrabold);
	&:before {
		content: "+";
		padding-inline-end: var(--space-xxs);
		color: var(--color-safe-main);
	}
}

.article--wrapper {
	padding-block-start: 6.2rem;
	padding-block-end: var(--space-l);
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	gap: var(--space-main);
	& :is(.article-head, .article-lid, .article-body, .article-chapter, .article-chapter-section:not(.wrapper-columns-two), .wrapper-sticky, :is(ul, ol):not(.breadcrumb, .toc-list, .toc-list *)) {
		display: flex;
		flex-direction: column;
		gap: var(--space-article-gap);
	}
	& .fullwidth {
		padding-inline: 0 !important;
	}
	& :is(.article-head, .article-lid, .article-chapter:not(.fullwidth)) {
		padding-inline: var(--layout-padding-inline);
	}
	& .article-text {
		width: var(--content-width-main);
		margin-inline: auto;
	}
	& .article-body > .article-text {
		width: var(--content-width-main);
	}
	& mark {
		background: var(--color-brand-xxxs);
	}
	& .article-img {
		margin-inline: auto;
	}
	& .article-heading {
		width: var(--content-width-w);
		margin-inline: auto;
		display: flex;
		flex-direction: column;
		gap: var(--space-main);
	}
	& .article-title {
		font-variation-settings: "opsz" 11, "wght" var(--font-weight-extrabold), "GRAD" 140 !important;
		letter-spacing: -0.0175em;
		font-kerning: auto;
		font-optical-sizing: auto;
		white-space: pre-wrap;
		text-wrap: balance;
	}
	& .article-subtitle {
		font-size: var(--font-size-xl);
		font-kerning: auto;
		font-optical-sizing: auto;
		letter-spacing: -0.005em;
		line-height: 1.1;
		font-variation-settings: "opsz" 11, "wght" var(--font-weight-medium), "GRAD" -50 !important;
		white-space: pre-wrap;
		text-wrap: balance;
		color: var(--color-content-xxs);
	}
	& .article-lid {
		margin-inline: auto;
		margin-block-end: var(--space-l);
		& p {
			width: var(--content-width-w);
			font-weight: var(--font-weight-semibold);
			font-size: var(--font-size-l);
			font-variation-settings: "opsz" 10, "wght" var(--font-weight-medium), "GRAD" 60;
			margin-inline: auto;
		}
	}
	& .article-chapter-title {
		width: var(--content-width-w);
		margin-inline: auto;
		margin-block: var(--space-xs);
		color: var(--color-content-s);
		font-variation-settings: "opsz" 12, "wght" var(--font-weight-bold), "GRAD" var(--font-grade-chapter-title);
	}
	& .article-chapter-subtitle {
		width: var(--content-width-main);
		margin-inline: auto;
		color: var(--color-content-s);
		font-variation-settings: "opsz" 8, "wght" var(--font-weight-semibold), "GRAD" var(--font-grade-chapter-subtitle);
	}
	& .tabs {
		margin-inline: auto;
		&.tabs-container-main {
			width: var(--content-width-main) !important;
		}
	}
	& .article-inset {
		font-family: var(--font-family-secondary);
		font-size: var(--font-size-s);
		letter-spacing: -0.012em;
		background: var(--color-bg-xh);
		padding: var(--space-main);
		border-radius: var(--space-xl);
		margin-inline: auto;
		@supports (corner-shape: squircle) {
			corner-shape: squircle;
		}
		& .article-inset--video {
			width: 100%;
			display: flex;
			justify-content: center;
			& iframe {
				overflow: hidden;
				max-width: 700px;
				height: auto;
				border-radius: 0.5rem;
				aspect-ratio: 16 / 9;
			}
		}
		&.article-inset--columns {
			display: grid;
			gap: var(--space-main);
			align-items: center;
			@media screen and (width > 1200px) {
				grid-template-columns: 1fr 1fr;
				& .article-inset--video {
					justify-content: end;
				}
			}
		}
	}
	& :is(ul, ol):not(.breadcrumb, .toc-list) {
		width: var(--content-width-main);
		margin-inline: auto;
		padding-inline-start: var(--space-main) !important;
		& li {
			padding-inline-start: 0.3em !important;
			list-style-position: outside;
		}
	}
}

.img-bg {
	background: var(--color-const-light) !important;
}

.img-caption {
	font-family: var(--font-family-secondary);
	font-size: var(--font-size-main);
	color: var(--color-content-xs);
}

.shadow-s {
	box-shadow: var(--shadow-s);
}

.shadow-main {
	box-shadow: var(--shadow-main);
}

.shadow-h {
	box-shadow: var(--shadow-h);
}

/* Layout */

.width-xs {
	width: var(--content-width-xs) !important;
}
.width-s {
	width: var(--content-width-s) !important;
}
.width-main {
	width: var(--content-width-main) !important;
}
.width-w {
	width: var(--content-width-w) !important;
}
.width-xw {
	width: var(--content-width-xw) !important;
}

.width-reset {
	width: 100% !important;
}

.wrapper-centered {
	margin-inline: auto;
}

.wrapper--inlinepadding {
	padding-inline: var(--layout-padding-inline);
}

.wrapper--indentation {
	display: flex;
	flex-direction: column;
	gap: var(--space-indentation);
}

.wrapper-columns-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-rows: auto;
	grid-auto-flow: dense;
	align-items: center;
	justify-content: center;
	gap: var(--space-main);
	margin-inline: auto;
	margin-block: 2em;
}

.wrapper-columns-two {
	display: grid;
	gap: var(--space-main);
	grid-template-columns: 1fr;
	@media screen and (width > 960px) {
		grid-template-columns: 1fr 1fr;
		align-items: start;
	}
}

.wrapper-sticky {
	@media screen and (width > 960px) {
		position: sticky;
		top: var(--space-scrollpadding);
	}
}

.mockup-wrapper {
	width: 100%;
	aspect-ratio: 16 / 9;
	object-fit: cover;
	overflow: auto;
}

.table-main {
	display: table !important;
	table-layout: fixed;
	text-align: left;
	border-collapse: collapse;
	padding-inline: var(--layout-padding-inline);
	margin-inline: auto;
	font-family: inherit;
	font-size: var(--font-size-main);
	font-kerning: auto;
	font-optical-sizing: auto;
	font-weight: var(--font-weight-regular);
	text-wrap: pretty;
	font-variation-settings: "opsz" 10, "GRAD" var(--font-grade-main);
	& :is(th, td) {
		padding-block: 0.4em;
		border-block-end: 1px solid var(--color-brand-main);
	}
	& tr > :is(th, td):not(:first-child):not(:last-child) {
		padding-inline: var(--table-item--space);
		border-inline: 1px solid var(--color-brand-main);
	}
	& tr > th:first-child {
		padding-inline-end: var(--table-item--space);
		border-inline-end: 1px solid var(--color-brand-main);
	}
	& tr > :is(th, td):last-child {
		padding-inline-start: var(--table-item--space);
	}
	& td {
		font-family: var(--font-family-secondary);
		font-size: var(--font-size-s);
		font-weight: var(--font-weight-semibold);
	}
	& *.center {
		text-align: center;
	}
	& .table-indicator-shift {
		font-family: inherit;
		color: var(--color-danger-main);
		font-size: var(--font-size-xs);
	}
}

details {
	position: relative;
	border-radius: var(--radius-button-xxl);
	border: 2px solid var(--color-separator-s);
	overflow: clip;
	@supports (corner-shape: squircle) {
		corner-shape: squircle;
	}
	& summary {
		padding-block: var(--space-s);
		padding-inline-start: var(--space-s);
		padding-inline-end: var(--space-l);
		position: relative;
		font-weight: var(--font-weight-bold);
		cursor: pointer;
		&::marker {
			content: none;
		}
		&::after {
			font-size: var(--font-size-main);
			color: var(--color-link);
			content: "›";
			transform: rotate(90deg);
			position: absolute;
			inset-inline-end: var(--space-xs);
			inset-block-start: .65rem;
			transform-origin: center;
			transition: transform 0.35s cubic-bezier(0.05, 0.39, 0.49, 1.25);
		}
	}
	&[open] summary::after {
		transform: rotate(-90deg) translateY(-0.2em);
	}
	&[open] {
		background: var(--color-bg-xh);
		transition: all 0.35s allow-discrete;
	}
	&::details-content {
		display: block;
		opacity: 0;
		block-size: 0;
		overflow: hidden;
		transition: all 0.35s allow-discrete;
	}
	&[open]::details-content {
		opacity: 1;
		block-size: auto;
		block-size: calc-size(auto, size);
		margin-block-end: var(--space-s);
	}
	& .details__content {
		padding-block: 0;
		padding-inline: var(--space-s);
		opacity: 0;
		display: grid !important;
		grid-template-rows: 0fr;
		transition: all 0.35s cubic-bezier(0.05, 0.39, 0.49, 1.25);
	}
	&[open] .details__content {
		opacity: 1;
		padding-inline: var(--space-s);
		display: grid !important;
		grid-template-rows: 1fr;
	}
}

/* NB! */
.golden-grid {
	display: grid;
	grid-template-rows: 6fr 6fr 12fr 24fr 16fr 32fr 32fr 26fr 17fr 21fr 21fr 17fr 26fr 32fr 32fr 16fr 24fr 12fr 6fr 6fr;
	grid-template-columns: 6fr 6fr 12fr 24fr 16fr 32fr 32fr 26fr 17fr 21fr 21fr 17fr 26fr 32fr 32fr 16fr 24fr 12fr 6fr 6fr;
	opacity: 0.2;
}
.golden-grid--show {
	position: absolute;
	inset: 0;
	& .padding-inline-start {
		grid-area: 1 / 1 / -1 / span 2;
		background-color: beige;
	}
	& .padding-block-start {
		grid-area: 1 / 1 / span 2 / -1;
		background-color: lightgrey;
	}
}
