:root {
	color-scheme: light dark;

	--color-const-white: #ffffff;
	--color-const-light: #fcfcfc;
	--color-const-black: #000000;
	--color-const-dark: #111111;

	--color-content-main: oklch(0.2 0.003 240); /* #151617 */
	--color-content-s: oklch(0.3 0.004 240); /* #2c2e30 */
	--color-content-xs: oklch(0.4 0.005 240); /* #45484a */
	--color-content-xxs: oklch(0.54 0.006 240); /* #6c6f72 */
	--color-content-xxxs: oklch(0.75 0.005 240); /* #abaeb1 */
	--color-content-softest: oklch(0.85 0.004 240); /* #cbced0 */

	--color-separator-main: var(--color-content-xxs);

	--color-bg-xxxh: oklch(0.8 0 0); /* #bebebd */
	--color-bg-xxh: oklch(0.88 0 0); /* #d7d7d7 */
	--color-bg-xh: oklch(0.952 0 0); /* #efefef */
	--color-bg-h: oklch(0.961 0 0); /* #f2f2f2 */
	--color-bg-main: oklch(0.982 0 0); /* #f9f9f9 */
	--color-bg-s: oklch(0.99 0 0); /* #fcfcfc / oklch(from var(--color-bg-main) 99% c h) */
	--color-bg-xs: oklch(1 0 0); /* #ffffff */

	--color-brand-hardest: oklch(0.1 0.021 283.52); /* #030309 / rgb(3, 3, 9) */
	--color-brand-xxxd: oklch(0.2 0.047 281.74); /* #13132b / rgb(19, 19, 43) */
	--color-brand-xxd: oklch(0.27 0.065 281.13); /* #212145 / rgb(33, 33, 69) */
	--color-brand-xd: oklch(0.34 0.082 280.7); /* #313161 / rgb(49, 49, 97) */
	--color-brand-d: oklch(0.4 0.097 280.72); /* #3f407a / rgb(102, 103, 171) */
	--color-brand-main: oklch(0.543 0.105 281.7); /* #6667AB  / rgb(102, 103, 171) / oklch(0.543 0.105 281.7); - Pantone 17-3938 Very Peri - Color of the Year 2022 */
	--color-brand-s: oklch(0.62 0.087 286.15); /* #827eb8 / rgb(130, 126, 184) */
	--color-brand-xs: oklch(0.704 0.066 288.04); /* #9d9ac7 / rgb(157, 154, 199) */
	--color-brand-xxs: oklch(0.82 0.037 289.03); /* #c3c1db / rgb(195, 193, 219) */
	--color-brand-xxxs: oklch(0.88 0.023 289.86); /* #d7d5e6 / rgb(215, 213, 230) */
	--color-brand-softest: oklch(0.95 0.008 290.4); /* #eeedf3 / rgb(238, 237, 243) */

	--color-button-icon-controls: var(--color-brand-main);
	--color-button-bg-main: oklch(from var(--color-bg-xxh) l c h / 40%);
	--color-button-bg-focus: oklch(from var(--color-brand-main) l c h / 90%);

	--color-safe-main: #379f37;

	--color-mark: var(--color-brand-xxxs);
	--color-link: var(--color-brand-main);

	accent-color: var(--color-brand-main);

	--spacing-xxs: calc(0.25 * var(--spacing-main));
	--spacing-xs: calc(0.5 * var(--spacing-main));
	--spacing-s: calc(0.75 * var(--spacing-main));
	--spacing-main: 1rem;
	--spacing-md: calc(1.25 * var(--spacing-main));
	--spacing-l: calc(2 * var(--spacing-main));
	--spacing-xl: calc(3.25 * var(--spacing-main));
	--spacing-xxl: calc(5.25 * var(--spacing-main));

	--font-family-primary: "Inter Variable", system-ui, sans-serif;
	--font-family-secondary: "JetBrains Mono Variable", monospace, system-ui;

	--font-size-display: clamp(11rem, 10.8rem + 1vw, 12rem);
	--font-size-xxl: clamp(2rem, 2vw + 1.5rem, 3.5rem);
	--font-size-xl: clamp(1.5rem, 1.3rem + 1vw, 2rem);
	--font-size-l: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
	--font-size-main: clamp(1rem, 0.9rem + 0.3vw, 1.15rem);
	--font-size-s: clamp(0.9rem, 0.87rem + 0.15vw, 1.05rem);
	--font-size-xs: clamp(0.7rem, 0.66rem + 0.2vw, 0.9rem);
	--font-size-xxs: clamp(0.6rem, 0.56rem + 0.2vw, 0.8rem);
	--font-size-xxxs: clamp(0.5rem, 0.46rem + 0.2vw, 0.7rem);

	--font-weight-light: 300;
	--font-weight-regular: 350;
	--font-weight-medium: 400;
	--font-weight-semibold: 500;
	--font-weight-bold: 600;
	--font-weight-extrabold: 700;
	--font-weight-black: 800;
	--font-weight-extrablack: 900;

	--radius-button-xs: 0.15rem;
	--radius-button-s: 0.3rem;
	--radius-button-main: 0.5rem;
	--radius-button-l: 0.7rem;
	--radius-button-xl: 1rem;
	--radius-button-xxl: 1.2rem;
	--radius-button-xxxl: 1.5rem;

	/* Semantic tokens */

	--size-button-main: 3rem; /* Базовое значение для размера кнопок */

	--spacing-indentation: var(--spacing-main);

	--icon-stroke: 10; /* Толщина линий в иконках */

	/* Расчет размеров на основе последовательности как у чисел Фибоначчи. Коррекции - -*s (short) и -*w (wide) */

	--text-width-xs: min(100%, 16rem);
	--text-width-s: min(100%, 24rem);
	--text-width-main: min(100%, 40rem); /* Строка не более 64ch для базового размера шрифта */
	--text-width-w: min(100%, 64rem);
	--text-width-xw: min(100%, 104rem);

	--layout-padding-inline: var(--spacing-main);
	@media screen and (width >= 1200px) {
		--layout-padding-inline: var(--spacing-xl);
	}
}

:focus-visible {
	outline-color: var(--color-brand-main);
}
::selection {
	background-color: var(--color-mark);
}
::marker {
	color: var(--color-brand-main);
}

:is(::-webkit-calendar-picker-indicator, ::-webkit-clear-button, ::-webkit-inner-spin-button, ::-webkit-outer-spin-button) {
	color: var(--color-brand-main);
}

::-webkit-scrollbar-track {
	background: var(--color-brand-softest);
}
::-webkit-scrollbar-thumb {
	background: var(--color-brand-xxs);
}
::-webkit-scrollbar-thumb:hover {
	background: var(--color-brand-main);
}

[data-theme="dark"] {
	--color-content-main: oklch(0.99 0 0); /*  */
	--color-content-s: oklch(0.982 0 0); /*  */
	--color-content-xs: oklch(0.952 0 0); /*  */
	--color-content-xxs: oklch(0.88 0 0); /*  */
	--color-content-xxxs: oklch(0.8 0 0); /* #abaeb1 */
	--color-content-softest: oklch(0.65 0 0); /*  */

	--color-separator-main: var(--color-content-xxs);

	--color-bg-xxxh: oklch(0.75 0.005 240); /*  */
	--color-bg-xxh: oklch(0.54 0.006 240); /*  */
	--color-bg-xh: oklch(0.4 0.005 240); /*  */
	--color-bg-h: oklch(0.3 0.004 240); /*  */
	--color-bg-main: oklch(0.2 0.003 240); /* #151617 */
	--color-bg-s: oklch(0.14 0.001 240); /*  */
	--color-bg-xs: oklch(0 0 0); /*  */

	--color-button-icon-controls: var(--color-brand-xs);
	--color-button-bg-main: oklch(from var(--color-content-xxs) l c h / 25%);
	--color-button-bg-focus: oklch(from var(--color-brand-main) l c h / 90%);

	--color-safe-main: #61c21c;

	--color-mark: var(--color-brand-s);
	--color-link: var(--color-brand-xs);
}

/* Global */

html,
body {
	@view-transition {
		navigation: auto;
	}
	font-family: var(--font-family-primary);
	color: var(--color-content-main);
	background: var(--color-bg-main);
	height: auto;
	interpolate-size: allow-keywords;
}

/* Typographics */

/* inter-cyrillic-wght-normal */
@font-face {
	font-family: "Inter Variable";
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url(@fontsource-variable/inter/files/inter-cyrillic-opsz-normal.woff2) format("woff2-variations");
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* inter-cyrillic-wght-italic */
@font-face {
	font-family: "Inter Variable";
	font-style: italic;
	font-display: swap;
	font-weight: 100 900;
	src: url(@fontsource-variable/inter/files/inter-cyrillic-opsz-italic.woff2) format("woff2-variations");
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* inter-latin-wght-normal */
@font-face {
	font-family: "Inter Variable";
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url(@fontsource-variable/inter/files/inter-latin-opsz-normal.woff2) format("woff2-variations");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* inter-latin-wght-italic */
@font-face {
	font-family: "Inter Variable";
	font-style: italic;
	font-display: swap;
	font-weight: 100 900;
	src: url(@fontsource-variable/inter/files/inter-latin-opsz-italic.woff2) format("woff2-variations");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* jetbrains-mono-cyrillic-wght-normal */
@font-face {
	font-family: "JetBrains Mono Variable";
	font-style: normal;
	font-display: swap;
	font-weight: 100 800;
	src: url(@fontsource-variable/jetbrains-mono/files/jetbrains-mono-cyrillic-wght-normal.woff2) format("woff2-variations");
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* jetbrains-mono-latin-wght-normal */
@font-face {
	font-family: "JetBrains Mono Variable";
	font-style: normal;
	font-display: swap;
	font-weight: 100 800;
	src: url(@fontsource-variable/jetbrains-mono/files/jetbrains-mono-latin-wght-normal.woff2) format("woff2-variations");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

h1 {
	font-size: var(--font-size-xxl);
	line-height: 1.03;
	font-weight: var(--font-weight-extrabold);
	white-space: pre-wrap;
	text-wrap: balance;
}

h2 {
	font-size: var(--font-size-xl);
	line-height: 1.15;
	font-weight: var(--font-weight-extrabold);
	white-space: pre-wrap;
	text-wrap: balance;
}

h3 {
	font-size: var(--font-size-l);
	line-height: 1.2;
	font-weight: var(--font-weight-extrabold);
	white-space: pre-wrap;
	text-wrap: balance;
}

p,
span,
li {
	font-size: var(--font-size-main);
	line-height: 1.35;
	font-weight: var(--font-weight-regular);
	text-wrap: pretty;
}

:is(p, span, .article--wrapper li) a {
	color: var(--color-link);
	text-decoration: none;
	position: relative;
	&:focus,
	&:target {
		text-decoration: underline;
		text-decoration-color: var(--color-link);
		color: var(--color-const-light);
		background: var(--color-link);
	}
	@media (hover: hover) and (pointer: fine) {
		&:hover {
			text-decoration: underline;
			text-decoration-color: var(--color-link);
			color: var(--color-const-light);
			background: var(--color-link);
			border-radius: 0.4em;
			-webkit-box-decoration-break: clone;
			box-decoration-break: clone;
			@supports (corner-shape: squircle) {
				corner-shape: squircle;
			}
		}
	}
}

.footnote {
	font-size: var(--font-size-xxs);
	font-family: var(--font-family-secondary);
	color: var(--color-content-xxs);
}

.tag {
	font-family: var(--font-family-secondary);
	font-size: var(--font-size-xs);
	font-weight: var(--font-weight-medium);
	background: var(--color-button-bg-main);
	padding-inline: var(--spacing-xs);
	padding-block: var(--spacing-xxs);
	border-radius: var(--radius-button-l);
	@supports (corner-shape: squircle) {
		corner-shape: squircle;
	}
}

.skills_more {
	font-family: var(--font-family-secondary);
	font-size: var(--font-size-xs);
	font-weight: var(--font-weight-medium);
	padding-block: var(--spacing-xxs);
	color: var(--color-safe-main);
	font-weight: var(--font-weight-extrabold);
	&:before {
		content: "+";
		padding-inline-end: var(--spacing-xxs);
		color: var(--color-safe-main);
	}
}

.article--wrapper {
	padding-block-start: 6.2rem;
	padding-block-end: var(--spacing-l);
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-main);
	& :is(.article-head, .article-lid, .article-body) {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-main);
	}
	& > *:not(.fullwidth, .article-body) {
		padding-inline: var(--layout-padding-inline);
	}
	& .article-body > *:not(.fullwidth) {
		padding-inline: var(--layout-padding-inline);
	}
	& .article-text {
		width: var(--text-width-main);
		margin-inline: auto;
	}
	& mark {
		background: var(--color-brand-xxxs);
	}
	& .article-subtitle {
		color: var(--color-content-xxs);
		font-weight: var(--font-weight-medium);
	}
	& .article-lid {
		margin-inline: auto;
		margin-block: var(--spacing-l);
		& p {
			padding-inline: var(--layout-padding-inline);
			width: var(--text-width-w);
			font-weight: var(--font-weight-semibold);
			font-size: var(--font-size-l);
			margin-inline: auto;
		}
		/* &:first-letter {
        font-size: calc(var(--font-size-l) * 2.2);
        line-height: 1;
        vertical-align: baseline;
        display: inline-block;
        float: left;
        margin: 0 .2em 0 0;
        color: var(--color-const-light);
        background: var(--color-brand-main);
        padding: .1em .3em;
        border-radius: var(--radius-button-xl);
        @supports (corner-shape: squircle) {
          corner-shape: squircle;
        }
    } */
	}
	& .article-section-title {
		width: var(--text-width-w);
		margin-inline: auto;
		color: var(--color-content-s);
	}
	& .article-inset {
		font-family: var(--font-family-secondary);
		font-size: var(--font-size-s);
		letter-spacing: -0.012em;
		background: var(--color-bg-xh);
		padding: var(--spacing-l);
		border-radius: var(--spacing-xl);
		margin-inline: auto;
		@supports (corner-shape: squircle) {
			corner-shape: squircle;
		}
		& .article-inset--video {
			width: 100%;
			display: flex;
			justify-content: center;
			& iframe {
				overflow: hidden;
				max-width: 700px;
				height: auto;
				border-radius: 0.5rem;
				aspect-ratio: 16 / 9;
			}
		}
		&.article-inset--columns {
			display: grid;
			gap: var(--spacing-main);
			align-items: center;
			@media screen and (width > 1200px) {
				grid-template-columns: 1fr 1fr;
				& .article-inset--video {
					justify-content: end;
				}
			}
		}
	}
	& ul,
	ol {
		width: var(--text-width-main);
		margin-inline: auto;
	}
}

/* Layout */

.wrapper--inlinepadding {
	padding-inline: var(--layout-padding-inline);
}

.wrapper--indentation {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-indentation);
}

.table-main {
	--table-item--spacing: 0.8em;
	margin-inline: auto;
	text-align: left;
	table-layout: fixed;
	border-collapse: collapse;
	display: block;
	& th,
	td {
		padding-block: 0.4em;
		border-block-end: 1px solid var(--color-brand-main);
		width: 100%;
	}
	& tr > :is(th, td):not(:first-child):not(:last-child) {
		padding-inline: var(--table-item--spacing);
		border-inline: 1px solid var(--color-brand-main);
	}
	& tr > th:first-child {
		padding-inline-end: var(--table-item--spacing);
		border-inline-end: 1px solid var(--color-brand-main);
	}
	& tr > :is(th, td):last-child {
		padding-inline-start: var(--table-item--spacing);
	}
	& *.center {
		text-align: center;
	}
}

/* NB! */
.golden-grid {
	display: grid;
	grid-template-rows: 6fr 6fr 12fr 24fr 16fr 32fr 32fr 26fr 17fr 21fr 21fr 17fr 26fr 32fr 32fr 16fr 24fr 12fr 6fr 6fr;
	grid-template-columns: 6fr 6fr 12fr 24fr 16fr 32fr 32fr 26fr 17fr 21fr 21fr 17fr 26fr 32fr 32fr 16fr 24fr 12fr 6fr 6fr;
	opacity: 0.2;
}
.golden-grid--show {
	position: absolute;
	inset: 0;
	& .padding-inline-start {
		grid-area: 1 / 1 / -1 / span 2;
		background-color: beige;
	}
	& .padding-block-start {
		grid-area: 1 / 1 / span 2 / -1;
		background-color: lightgrey;
	}
}
