---
import LayoutArticle from "$layouts/LayoutArticle.astro";

const breadcrumbsLabels = {
	logos: "Примеры отчётов и презентаций",
};
---

<LayoutArticle title="Ежегодные отчёты, презентации, оформление выставочных пространств | Портфолио Сергея Васильева" description="Примеры создания буклетов ежегодной отчетности и деловых презентаций" headingTitle="Ежегодные отчёты, презентации, оформление выставочных пространств" subtitle="Примеры разработки полиграфических буклетов для отчётности бизнеса, государственных и муниципальных органов, оформления стендов на выставках" breadcrumbsLabels={breadcrumbsLabels} date="2011, 2018-2019, 2022 годы">
	<section class="article-lid animation-scroll-fadeup" data-toc="Введение" id="lid">
		<p>Имею большой опыт верстки и подготовки к печати всевозможных корпоративных и государственных буклетов, брошюр, презентаций, журналов. В частности, делал инвестиционный меморандум на нескольких языках и локальные презентации для комитета по инвестициям и развитию туризма администрации Псковской области, ежегодные отчёты губернатора Псковской области и главы Пскова, отчёт и выпуски журнала Всероссийской ассоциации развития местного самоуправления. Также выполнял заказы на разработку оформления стендов для выставок.</p>
	</section>
	<section class="article-body">
		<section class="article-chapter animation-scroll-fadeup">
			<h2 class="article-chapter-title" data-toc="Примеры вёрстки ежегодных отчётов для главы города Пскова" id="head-of-pskov-reports">Примеры вёрстки ежегодных отчётов для главы города Пскова</h2>
			<p class="article-text">Отчёты были разработаны в 2018-19 годах. В рамках подготовки я также осуществлял портретную съемку и осуществлял бильдредактирование.</p>
			<div class="spreads-collection article-chapter-section width-xw wrapper-centered">
				<div class="spread-wrapper">
					<picture>
						<source media="(max-width: 960px)" srcset="/assets/img/design/communications/reports/headofpskov-annualreport-2018-cover-m.webp" />
						<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/communications/reports/headofpskov-annualreport-2018-cover-1x.webp" />
						<source media="(min-width: 961px) and (resolution: 2dppx), 
						(min-width: 961px) and (resolution: 3dppx),
						(min-width: 961px) and (resolution: 4dppx)" srcset="/assets/img/design/communications/reports/headofpskov-annualreport-2018-cover-2x.webp" />
						<img src="/assets/img/design/communications/reports/headofpskov-annualreport-2018-cover-2x.webp" class="article-img fullwidth halfspread" alt="Разворот отчёта главы города Пскова" loading="lazy" />
					</picture>
				</div>
				<div class="spread-wrapper">
					<picture>
						<source media="(max-width: 960px)" srcset="/assets/img/design/communications/reports/headofpskov-annualreport-2018-spread-1-m.webp" />
						<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/communications/reports/headofpskov-annualreport-2018-spread-1-1x.webp" />
						<source media="(min-width: 961px) and (resolution: 2dppx), 
						(min-width: 961px) and (resolution: 3dppx),
						(min-width: 961px) and (resolution: 4dppx)" srcset="/assets/img/design/communications/reports/headofpskov-annualreport-2018-spread-1-2x.webp" />
						<img src="/assets/img/design/communications/reports/headofpskov-annualreport-2018-spread-1-2x.webp" class="article-img fullwidth" alt="Разворот отчёта главы города Пскова" loading="lazy" />
					</picture>
				</div>
				<div class="spread-wrapper">
					<picture>
						<source media="(max-width: 960px)" srcset="/assets/img/design/communications/reports/headofpskov-annualreport-2018-spread-3-m.webp" />
						<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/communications/reports/headofpskov-annualreport-2018-spread-3-1x.webp" />
						<source media="(min-width: 961px) and (resolution: 2dppx), 
						(min-width: 961px) and (resolution: 3dppx),
						(min-width: 961px) and (resolution: 4dppx)" srcset="/assets/img/design/communications/reports/headofpskov-annualreport-2018-spread-3-2x.webp" />
						<img src="/assets/img/design/communications/reports/headofpskov-annualreport-2018-spread-3-2x.webp" class="article-img fullwidth" alt="Разворот отчёта главы города Пскова" loading="lazy" />
					</picture>
				</div>
				<div class="spread-wrapper">
					<picture>
						<source media="(max-width: 960px)" srcset="/assets/img/design/communications/reports/headofpskov-annualreport-2018-spread-4-m.webp" />
						<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/communications/reports/headofpskov-annualreport-2018-spread-4-1x.webp" />
						<source media="(min-width: 961px) and (resolution: 2dppx), 
						(min-width: 961px) and (resolution: 3dppx),
						(min-width: 961px) and (resolution: 4dppx)" srcset="/assets/img/design/communications/reports/headofpskov-annualreport-2018-spread-4-2x.webp" />
						<img src="/assets/img/design/communications/reports/headofpskov-annualreport-2018-spread-4-2x.webp" class="article-img fullwidth" alt="Разворот отчёта главы города Пскова" loading="lazy" />
					</picture>
				</div>
				<div class="spread-wrapper">
					<picture>
						<source media="(max-width: 960px)" srcset="/assets/img/design/communications/reports/headofpskov-annualreport-2019-cover-m.webp" />
						<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/communications/reports/headofpskov-annualreport-2019-cover-1x.webp" />
						<source media="(min-width: 961px) and (resolution: 2dppx), 
						(min-width: 961px) and (resolution: 3dppx),
						(min-width: 961px) and (resolution: 4dppx)" srcset="/assets/img/design/communications/reports/headofpskov-annualreport-2019-cover-2x.webp" />
						<img src="/assets/img/design/communications/reports/headofpskov-annualreport-2019-cover-2x.webp" class="article-img fullwidth" alt="Разворот отчёта главы города Пскова" loading="lazy" />
					</picture>
				</div>
				<div class="spread-wrapper">
					<picture>
						<source media="(max-width: 960px)" srcset="/assets/img/design/communications/reports/headofpskov-annualreport-2019-spread-1-m.webp" />
						<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/communications/reports/headofpskov-annualreport-2019-spread-1-1x.webp" />
						<source media="(min-width: 961px) and (resolution: 2dppx), 
						(min-width: 961px) and (resolution: 3dppx),
						(min-width: 961px) and (resolution: 4dppx)" srcset="/assets/img/design/communications/reports/headofpskov-annualreport-2019-spread-1-2x.webp" />
						<img src="/assets/img/design/communications/reports/headofpskov-annualreport-2019-spread-1-2x.webp" class="article-img fullwidth" alt="Разворот отчёта главы города Пскова" loading="lazy" />
					</picture>
				</div>
				<div class="spread-wrapper">
					<picture>
						<source media="(max-width: 960px)" srcset="/assets/img/design/communications/reports/headofpskov-annualreport-2019-spread-2-m.webp" />
						<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/communications/reports/headofpskov-annualreport-2019-spread-2-1x.webp" />
						<source media="(min-width: 961px) and (resolution: 2dppx), 
						(min-width: 961px) and (resolution: 3dppx),
						(min-width: 961px) and (resolution: 4dppx)" srcset="/assets/img/design/communications/reports/headofpskov-annualreport-2019-spread-2-2x.webp" />
						<img src="/assets/img/design/communications/reports/headofpskov-annualreport-2019-spread-2-2x.webp" class="article-img fullwidth" alt="Разворот отчёта главы города Пскова" loading="lazy" />
					</picture>
				</div>
			</div>
		</section>
		<section class="article-chapter animation-scroll-fadeup">
			<h2 class="article-chapter-title" data-toc="Примеры вёрстки инвестиционных буклетов" id="investment-reports">Примеры вёрстки инвестиционных буклетов</h2>
			<p class="article-text">В 2010-2011 годах госкомитет Псковской области по инвестициям и туризму вёл ряд активных маркетинговых кампаний, для которых регулярно требовались различная полиграфическая продукция. Так я сверстал инвестиционный меморандум региона, презентацию аргротехнического потенциала Псковской области, большой реестр туристских ресурсов и т. п.</p>
			<div class="spreads-collection article-chapter-section width-xw wrapper-centered">
				<div class="spread-wrapper">
					<picture>
						<source media="(max-width: 960px)" srcset="/assets/img/design/communications/reports/agroprom-m.webp" />
						<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/communications/reports/agroprom-1x.webp" />
						<source media="(min-width: 961px) and (resolution: 2dppx), 
						(min-width: 961px) and (resolution: 3dppx),
						(min-width: 961px) and (resolution: 4dppx)" srcset="/assets/img/design/communications/reports/agroprom-2x.webp" />
						<img src="/assets/img/design/communications/reports/agroprom-2x.webp" class="article-img fullwidth" alt="Разворот презентации аграрного потенциала Псковской области" loading="lazy" />
					</picture>
				</div>
				<div class="spread-wrapper">
					<picture>
						<source media="(max-width: 960px)" srcset="/assets/img/design/communications/reports/imvestmemorandum-1-m.webp" />
						<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/communications/reports/imvestmemorandum-1-1x.webp" />
						<source media="(min-width: 961px) and (resolution: 2dppx), 
						(min-width: 961px) and (resolution: 3dppx),
						(min-width: 961px) and (resolution: 4dppx)" srcset="/assets/img/design/communications/reports/imvestmemorandum-1-2x.webp" />
						<img src="/assets/img/design/communications/reports/imvestmemorandum-1-2x.webp" class="article-img fullwidth" alt="Разворот инвестиционного меморандума Псковской области" loading="lazy" />
					</picture>
				</div>
				<div class="spread-wrapper">
					<picture>
						<source media="(max-width: 960px)" srcset="/assets/img/design/communications/reports/imvestmemorandum-2-m.webp" />
						<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/communications/reports/imvestmemorandum-2-1x.webp" />
						<source media="(min-width: 961px) and (resolution: 2dppx), 
						(min-width: 961px) and (resolution: 3dppx),
						(min-width: 961px) and (resolution: 4dppx)" srcset="/assets/img/design/communications/reports/imvestmemorandum-2-2x.webp" />
						<img src="/assets/img/design/communications/reports/imvestmemorandum-2-2x.webp" class="article-img fullwidth" alt="Разворот инвестиционного меморандума Псковской области" loading="lazy" />
					</picture>
				</div>
			</div>
		</section>
		<section class="article-chapter animation-scroll-fadeup">
			<h2 class="article-chapter-title" data-toc="Пример оформления выставочного стенда" id="exhibitions">Пример оформления выставочного стенда</h2>
			<p class="article-text">В начале 2020-х годов ко мне обратился производитель сварочного оборудовани — завод «Техносвар», которому я оформил несколько выставочных стендов (включая обработку изображений и изготовление пиктограмм).</p>
			<div class="article-chapter-section width-xw wrapper-centered">
				<picture>
					<source media="(max-width: 960px)" srcset="/assets/img/design/communications/reports/exhibition-technosvar-m.webp" />
					<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/communications/reports/exhibition-technosvar-1x.webp" />
					<source media="(min-width: 961px) and (resolution: 2dppx), 
					(min-width: 961px) and (resolution: 3dppx),
					(min-width: 961px) and (resolution: 4dppx)" srcset="/assets/img/design/communications/reports/exhibition-technosvar-2x.webp" />
					<img src="/assets/img/design/communications/reports/exhibition-technosvar-2x.webp" class="article-img fullwidth" alt="Разворот инвестиционного меморандума Псковской области" loading="lazy" />
				</picture>
			</div>
		</section>
	</section>
</LayoutArticle>

<style>
	.spreads-collection {
		display: flex !important;
		flex-direction: column !important;
		gap: var(--space-l) !important;
		margin-block: var(--space-l) !important;
		& img {
			filter: var(--shadow-filter);
			&.halfspread {
				width: 50% !important;
			}
		}
	}
</style>
