---
import LayoutArticle from "$layouts/LayoutArticle.astro";

const breadcrumbsLabels = {
	values: "Кампания «То, что нас объединяет»",
};
---

<LayoutArticle title="Кампания «То, что нас объединяет» | Портфолио Сергея Васильева" description="Коммуникационная кампания нулевой волны на выборах губернатора Псковской области в 2014 год" headingTitle="Кампания «То, что нас объединяет»" subtitle="Коммуникационная кампания нулевой волны в формате социальной рекламы на выборах губернатора Псковской области в 2014 году" breadcrumbsLabels={breadcrumbsLabels} date="2014 год">
	<div class="wrapper-padding-inline wrapper-margin-block-md wrapper-centered">
		<video slot="media" autoplay loop muted playsinline width="1920" class="wrapper-rounded">
			<source src="/assets/img/design/communications/values/values-billboard-animation.mp4" type="video/mp4" />
			К сожалению, ваш браузер не поддерживает используемый формат видео.
		</video>
	</div>
	<!-- <section class="article-lid animation-scroll-fadeup" data-toc="Концепция кампании" id="lid">
		<p>Концепция кампании</p>
	</section> -->
	<section class="article-body">
		<section class="article-chapter animation-scroll-fadeup">
			<h2 class="article-chapter-title" data-toc="Концепция кампании" id="campaign-concept">Концепция кампании</h2>
			<p class="article-text">На выборах губернатора Псковской области 2014 года я был участником небольшой креативной группы, курирующей разработку концепции и изготовление макетов АПМ для кандидата — и. о. губернатора <strong>Андрея Турчака</strong>.</p>
			<p class="article-text">Для нулевого этапа предвыборной кампании требовалось разработать концепцию кампании социальной рекламы, которая отвечала бы сразу нескольким задачам:</p>
			<ul class="article-text wrapper-indentation">
				<li>формировала позитивный интерес к идее / слогану до старта официального агитационного периода;</li>
				<li>транслировала графические приёмы, которые впоследствии — при старте агитационного периода — суггестивно связали бы агитационные материалы кандидата, оформленные с использованием тех же приёмов, со сформированным социальной кампанией позитивным отношением;</li>
				<li>была ориентирована на максимально широкий диапазон возрастных когорт и социальных групп;</li>
				<li>строилась без использования лиц людей, чтобы впоследствии материалы кампании можно было использовать в агитационный период.</li>
			</ul>
			<p class="article-text">В результате была разработана, протестирована и утверждена <mark>концепция построения нулевой кампании на связке ключевых, общегражданских ценностей, к которым традиционно апеллировал кандидат в публичных выступлениях — <strong>любовь, семья, родина, вера, труд, память</strong> — и изображений, в которых ключевым объектом являются <strong>руки</strong>.</mark></p>
		</section>
		<section class="article-chapter animation-scroll-fadeup">
			<h2 class="article-chapter-title" data-toc="Коллекция баннеров" id="investment-reports" bilboard-collection>Коллекция баннеров</h2>
			<p class="article-text">Я участвовал в формировании концепции и пула ценностей, отобранных для создания креативов, а также проработке сюжетов баннеров, продюссировал фотосъемки (включая поиск моделей и формирование сцен, непосредтвенно фотосъёмку и последующую ретушь) и формировал финальный визуал баннеров наружной рекламы (в формате билбордов и сити-форматов).</p>
			<div class="article-chapter-section fullwidth wrapper-margin-block-md wrapper-centered" id="billboards-collection">
				<picture>
					<source media="(max-width: 960px)" srcset="/assets/img/design/communications/values/values-love.webp" />
					<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/communications/values/values-love.webp" />
					<source media="(min-width: 961px) and (resolution: 2dppx), 
					(min-width: 961px) and (resolution: 3dppx),
					(min-width: 961px) and (resolution: 4dppx)" srcset="/assets/img/design/communications//values/values-love.webp" />
					<img src="/assets/img/design/communications/values/values-love.webp" class="article-img fullwidth" alt="Баннер кампании «То, что нас объединяет»: «Любовь»" loading="lazy" />
				</picture>
				<picture>
					<source media="(max-width: 960px)" srcset="/assets/img/design/communications/values/values-memory.webp" />
					<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/communications/values/values-memory.webp" />
					<source media="(min-width: 961px) and (resolution: 2dppx), 
					(min-width: 961px) and (resolution: 3dppx),
					(min-width: 961px) and (resolution: 4dppx)" srcset="/assets/img/design/communications//values/values-memory.webp" />
					<img src="/assets/img/design/communications/values/values-memory.webp" class="article-img fullwidth" alt="Баннер кампании «То, что нас объединяет»: «Память»" loading="lazy" />
				</picture>
				<picture>
					<source media="(max-width: 960px)" srcset="/assets/img/design/communications/values/values-labor.webp" />
					<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/communications/values/values-labor.webp" />
					<source media="(min-width: 961px) and (resolution: 2dppx), 
					(min-width: 961px) and (resolution: 3dppx),
					(min-width: 961px) and (resolution: 4dppx)" srcset="/assets/img/design/communications//values/values-labor.webp" />
					<img src="/assets/img/design/communications/values/values-labor.webp" class="article-img fullwidth" alt="Баннер кампании «То, что нас объединяет»: «Труд»" loading="lazy" />
				</picture>
				<picture>
					<source media="(max-width: 960px)" srcset="/assets/img/design/communications/values/values-homeland.webp" />
					<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/communications/values/values-homeland.webp" />
					<source media="(min-width: 961px) and (resolution: 2dppx), 
					(min-width: 961px) and (resolution: 3dppx),
					(min-width: 961px) and (resolution: 4dppx)" srcset="/assets/img/design/communications//values/values-homeland.webp" />
					<img src="/assets/img/design/communications/values/values-homeland.webp" class="article-img fullwidth" alt="Баннер кампании «То, что нас объединяет»: «Родина»" loading="lazy" />
				</picture>
				<picture>
					<source media="(max-width: 960px)" srcset="/assets/img/design/communications/values/values-faith.webp" />
					<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/communications/values/values-faith.webp" />
					<source media="(min-width: 961px) and (resolution: 2dppx), 
					(min-width: 961px) and (resolution: 3dppx),
					(min-width: 961px) and (resolution: 4dppx)" srcset="/assets/img/design/communications//values/values-faith.webp" />
					<img src="/assets/img/design/communications/values/values-faith.webp" class="article-img fullwidth" alt="Баннер кампании «То, что нас объединяет»: «Вера»" loading="lazy" />
				</picture>
				<picture>
					<source media="(max-width: 960px)" srcset="/assets/img/design/communications/values/values-family.webp" />
					<source media="(min-width: 961px) and (resolution: 1dppx)" srcset="/assets/img/design/communications/values/values-family.webp" />
					<source media="(min-width: 961px) and (resolution: 2dppx), 
					(min-width: 961px) and (resolution: 3dppx),
					(min-width: 961px) and (resolution: 4dppx)" srcset="/assets/img/design/communications//values/values-family.webp" />
					<img src="/assets/img/design/communications/values/values-family.webp" class="article-img fullwidth" alt="Баннер кампании «То, что нас объединяет»: «Семья»" loading="lazy" />
				</picture>
			</div>
		</section>
	</section>
</LayoutArticle>

<style>
	#billboards-collection {
		width: 100%;
		align-items: start;
		& *:nth-child(even) {
			align-self: end;
		}
		& img {
			width: 100%;
			max-width: 1200px;
		}
	}
</style>
