---
import Virtuvian from "$components/blocks/Virtuvian.astro";
import Skills from "$components/blocks/Skills.astro";
---

<section class="hero">
	<section class="hero_heading parallax-item" data-parallax="0.6">
		<p class="hero_heading--subtitle hero_heading--hello">Будем знакомы!</p>
		<h1 class="hero_heading--title">Сергей Васильев</h1>
		<div class="wrapper-indentation">
			<p class="hero_heading--subtitle"><mark>мультидисциплинарный продуктовый и коммуникационный дизайнер</mark> с опытом веб&#8209;разработки, управления ИТ&#x2060;-&#x2060;проектами и СМИ.</p>
			<p class="hero_heading--description">Разрабатываю дизайн на основе глубинных исследований и анализа контекста.</p>
			<p class="hero_heading--description">Сам пишу код — хорошо знаю нюансы, возможности и ограничения реализации дизайн-решений в разработке.</p>
			<p class="hero_heading--description">Меня вдохновляет развитие дизайн&#x2060;-&#x2060;систем, классическая типографика и техники генеративного дизайна.</p>
		</div>
	</section>
	<section class="hero_cover">
		<Virtuvian />
	</section>
	<section class="hero_skills">
		<Skills />
	</section>
	<!-- <div class="golden-grid">
      <div class="padding-inline-start"></div>
      <div class="padding-inline-end"></div>
      <div class="padding-block-start"></div>
      <div class="padding-block-end"></div>
    </div> -->
</section>

<style>
	.hero {
		width: 100%;
		height: auto;
		min-height: 100vh;
		padding-inline: var(--layout-padding-inline);
		padding-block: var(--space-xxl) 0;
		color: var(--color-content-main);
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas:
			"cover"
			"heading"
			"skills";
		gap: var(--space-xxl);
		margin-block-end: var(--space-l);
		@media screen and (width >= 1200px) {
			padding-block: var(--space-l);
			grid-template-columns: 2fr 3fr 2fr;
			grid-template-areas: "heading cover skills";
			gap: var(--space-xxs);
		}
		@media screen and (width >= 1600px) {
			grid-template-columns: 3fr 5fr 3fr;
		}
	}
	.hero_heading {
		grid-area: heading;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		overflow: visible;
	}

	.hero_cover {
		grid-area: cover;
		display: grid;
		place-items: center;
	}

	.hero_heading--hello {
		margin-block-end: var(--space-s);
	}

	.hero_heading--title {
		font-size: var(--font-size-xxl);
		line-height: 1;
		letter-spacing: -0.025em;
		font-variation-settings:
			"opsz" 8,
			"wght" var(--font-weight-extrabold),
			"GRAD" 100;
		/* margin-block-end: var(--space-xs); */
		&:after {
			content: ",";
		}
	}
	.hero_heading--subtitle {
		font-family: var(--font-family-secondary);
		font-style: italic;
		font-size: var(--font-size-l);
		letter-spacing: 0.002em;
		/* font-variation-settings:
			"opsz" 12,
			"wght" var(--font-weight-medium),
			"GRAD" var(--font-grade-medium); */
		line-height: 1.3;
	}

	.hero_heading--description {
		font-size: var(--font-size-main);
		letter-spacing: -0.002em;
		font-variation-settings:
			"opsz" 20,
			"wght" var(--font-weight-medium),
			"GRAD" var(--font-grade-strong);
		line-height: 1.3;
	}

	.hero_skills {
		grid-area: skills;
		display: flex;
		flex-direction: column;
		justify-content: center;
		@media screen and (width >= 1200px) {
			align-items: end;
		}
	}
</style>
