---
import Virtuvian from "$components/blocks/Virtuvian.astro";
import Skills from "$components/blocks/Skills.astro";
---

<section class="hero">
	<section class="hero_heading">
		<p class="hero_heading--hello">Будем знакомы!</p>
		<h1 class="hero_heading--title">Сергей Васильев</h1>
		<div class="wrapper--indentation">
			<p class="hero_heading--subtitle"><mark class="subtitle_mark--first">мультидисциплинарный</mark><br /><mark class="subtitle_mark--second">продуктовый и коммуникационный дизайнер</mark><br />с большим опытом управления командами, IT&#8209;проектами и медиа.</p>
			<p class="hero_heading--subtitle">
				Я сам пишу код, поэтому хорошо понимаю особенности, возможности и ограничения реализации дизайн-концепций с точки зрения разработки, интересуюсь генеративным дизайном. Меня вдохновляют создание и развитие дизайн&#8209;систем, хорошая типографика и сложные пользовательские сценарии.
			</p>
		</div>
		<svg xmlns="//www.w3.org/2000/svg" version="1.1" class="svg-filters" style="display:none;">
			<defs>
				<filter id="marker-shape">
					<feTurbulence type="fractalNoise" baseFrequency="0 0.15" numOctaves="1" result="warp"></feTurbulence>
					<feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="30" in="SourceGraphic" in2="warp"></feDisplacementMap>
				</filter>
				<filter id="marker-shape--second">
					<feTurbulence type="fractalNoise" baseFrequency="0 0.18" numOctaves="1" result="warp"></feTurbulence>
					<feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="28" in="SourceGraphic" in2="warp"></feDisplacementMap>
				</filter>
			</defs>
		</svg>
	</section>
	<section class="hero_cover">
		<Virtuvian />
	</section>
	<section class="hero_skills">
		<Skills />
	</section>
	<!-- <div class="golden-grid">
      <div class="padding-inline-start"></div>
      <div class="padding-inline-end"></div>
      <div class="padding-block-start"></div>
      <div class="padding-block-end"></div>
    </div> -->
</section>

<style>
	.hero {
		width: 100%;
		height: auto;
		min-height: 100vh;
		padding-inline: var(--layout-padding-inline);
		padding-block: var(--space-xxl) 0;
		color: var(--color-content-main);
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas:
			"cover"
			"heading"
			"skills";
		gap: var(--space-l);
		margin-block-end: var(--space-l);
		@media screen and (width >= 1200px) {
			padding-block: var(--space-l);
			grid-template-columns: 2fr 3fr 2fr;
			grid-template-areas: "heading cover skills";
			gap: var(--space-xxs);
		}
		@media screen and (width >= 1600px) {
			grid-template-columns: 3fr 5fr 3fr;
		}
	}
	.hero_heading {
		grid-area: heading;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		overflow: visible;
	}

	.hero_cover {
		grid-area: cover;
		display: grid;
		place-items: center;
	}

	.hero_heading--hello {
		font-size: var(--font-size-l);
		letter-spacing: -0.002em;
		font-variation-settings:
			"opsz" 30,
			"wght" var(--font-weight-main),
			"GRAD" var(--font-grade-strong);
		line-height: 1.3;
		margin-block-end: var(--space-xxs);
	}
	.hero_heading--title {
		font-size: var(--font-size-xxl);
		line-height: 1;
		letter-spacing: -0.025em;
		font-variation-settings:
			"opsz" 12,
			"wght" var(--font-weight-extrabold),
			"GRAD" 100;
		margin-block-end: var(--space-xs);
		&:after {
			content: ",";
		}
	}
	.hero_heading--subtitle {
		font-size: var(--font-size-md);
		letter-spacing: -0.002em;
		font-variation-settings:
			"opsz" 30,
			"wght" var(--font-weight-main),
			"GRAD" var(--font-grade-strong);
		line-height: 1.3;
	}

	.hero_heading--subtitle mark {
		position: relative;
		background: none;
		z-index: +1;
	}

	.hero_heading--subtitle mark:before {
		position: absolute;
		left: -0.25em;
		top: 0.1em;
		z-index: -1;
		content: "";
		rotate: -0.6deg;
		background-color: var(--color-mark);
		width: 105%;
		height: 1.25em;
	}

	mark.subtitle_mark--first:before {
		filter: url(#marker-shape);
	}
	mark.subtitle_mark--second:before {
		filter: url(#marker-shape--second);
	}

	.hero_skills {
		grid-area: skills;
		display: flex;
		flex-direction: column;
		justify-content: center;
		@media screen and (width >= 1200px) {
			align-items: end;
		}
	}
</style>
