---

---

<article class="main_about wrapper--inlinepadding">
  <h3>Откуда такая смесь: дизайн + веб-разработка + медиа?</h3>
  <div class="article_body">
    <p>Свои первые сайты я написал в обычном «Блокноте» в 2000-м году, когда мне было 16-лет. <a href="https://pleskov.narod.ru/" rel="nofollow" target="_blank">Первый сайт</a> был посвящен моему родному городу — Пскову, а <a href="https://web.archive.org/web/20010603221923/http://province.hut.ru/files.shtml" rel="nofollow" target="_blank">второй — «Взгляд из провинции»</a> — представлял из себя своего рода онлайн-медиа, в котором публиковались статьи моего отца плюс работал форум.</p>
    <p>Именно тогда я понял — и сразу применил — несколько важных для меня принципов: дизан должен быть функциональным и адаптивным, а веб-проекты — модульными и готовыми к постоянным расширениям и переделкам.</p>
  </div>
</article>

<style>
  article.main_about {
    & .article_body {
      width: min(64ch, 100%);
    }
  }
</style>