---
import CardPage from "$components/ui/CardPage.astro";
---

<section class="section-cards">
	<h2 class="section-cards-title animation-scroll-fadeup">Коммуникационный дизайн</h2>
	<section class="section-cards-wrapper animation-scroll-fadeup">
		<CardPage link="/design/communications/pln-covers" timeline="2020-2024 годы" title="Обложки публикаций, брендинг передач, инфографика и мечр для медиа" subtitle="Примеры регулярных работ по визуальному обслуживанию редакций медиахолдинга" tags={["Графдизайн", "Креативные концепции", "Инфографика"]}>
			<img src="/assets/img/design/communications/pln-communications/pln-communications-cover.webp" class="pagecard-cover--zoom" alt="Коммуникационный дизайн для ПЛН" />
		</CardPage>
		<CardPage link="/design/communications/logos" timeline="2006-2024 годы" title="Логотипы" subtitle="Подборка образцов коммерческой разработки логотипов" tags={["Графдизайн", "Креативные концепции", "Брендинг"]}>
			<img src="/assets/img/design/communications/logos/logos-bg/logos-cover.webp" class="pagecard-cover--zoom" alt="Подборка разработанных логотипов" />
		</CardPage>
	</section>
</section>

<style is:global></style>
