---
import CardPage from "$components/ui/CardPage.astro";
---

<section class="section-cards">
	<h2 class="section-cards-title animation-scroll-fadeup">Продуктовый дизайн, дизайн-системы</h2>
	<ul class="section-cards-wrapper animation-scroll-fadeup">
		<li>
			<CardPage link="/design/design-systems/pln-redesign" timeline="2022-2024 годы" title="Дизайн⁠-⁠система, редизайн и вёрстка сайта самого посещаемого онлайн⁠-⁠СМИ региона" subtitle="Как обеспечить производственные потребности крупного медиа с большим количеством продуктов лёгкой в обслуживании дизайн⁠-⁠системой" tags={["Исследования", "Дизайн-система", "UX", "UI", "Веб-разработка"]}>
				<img src="/assets/img/design/design-systems/pln/cover-pln-m.webp" class="pagecard-cover--primary" alt="Дизайн-токены и фрагмент кода нового сайта ПЛН" />
				<img src="/assets/img/design/design-systems/pln/bg-pln-m.webp" class="pagecard-cover--secondary" alt="Создание дизайн-системы и редизайн сайта самого популярного онлайн-медиа Псковской области — «Псковской ленты новостей»" />
			</CardPage>
		</li>
		<li>
			<CardPage link="/design/design-systems/municipal-newspaper-guideline" timeline="2019 год" title="Дизайн⁠-⁠система и унифицированный шаблон для объединенной редакции муниципальных газет" subtitle="Как с помощью дизайн⁠-⁠системы сэкономить 2640 человеко⁠-⁠часов в месяц" tags={["Дизайн-система", "Полиграфия", "Менторство"]}>
				<div class="pagecard-cover--entrywrapper">
					<img src="/assets/img/design/design-systems/municipal-newspaper/municipal_newspaper_cover_line1.webp" class="pagecard-cover--entry entry-to-left" alt="Страницы инструкции по использованию унифицированного шаблона газет" />
					<img src="/assets/img/design/design-systems/municipal-newspaper/municipal_newspaper_cover_line2.webp" class="pagecard-cover--entry entry-to-right" alt="Страницы инструкции по использованию унифицированного шаблона газет" />
				</div>
				<img src="/assets/img/design/design-systems/municipal-newspaper/bg-newspaper-m.webp" class="pagecard-cover--secondary" alt="" />
			</CardPage>
		</li>
	</ul>
</section>
