---
// import CardPage from "$components/ui/CardPage.astro";
---

<section class="section-cards">
	<h2 class="section-cards-title animation-scroll-fadeup">Дизайн-системы</h2>
	<section class="section-cards-wrapper animation-scroll-fadeup">
		<a href="/design/design-systems/pln-redesign" class="pagecard-linkwrapper">
			<article class="pagecard">
				<div class="pagecard-cover">
					<img src="/assets/img/design/design-systems/pln/cover-pln-m.webp" class="pagecard-cover--primary" alt="Дизайн-токены и фрагмент кода нового сайта ПЛН" />
					<img src="/assets/img/design/design-systems/pln/bg-pln-m.webp" class="pagecard-cover--secondary" alt="Создание дизайн-системы и редизайн сайта самого популярного онлайн-медиа Псковской области — «Псковской ленты новостей»" />
				</div>
				<div class="pagecard-timeline">
					<span class="tag">2022&ndash;2025 годы</span>
				</div>
				<div class="pagecard-description">
					<div class="pagecard-heading">
						<h3 class="pagecard-title">Дизайн&#x2060;-&#x2060;система, редизайн и вёрстка сайта самого посещаемого онлайн&#x2060;-&#x2060;СМИ региона</h3>
						<p class="pagecard-subtitle">Как обеспечить производственные потребности крупного медиа с большим количеством продуктов лёгкой в обслуживании дизайн&#x2060;-&#x2060;системой</p>
					</div>
					<div class="pagecard-tags">
						<span class="tag">UX</span>
						<span class="tag">Дизайн-система</span>
						<span class="tag">UI</span>
						<span class="tag">Веб-разработка</span>
					</div>
				</div>
			</article>
		</a>
		<a href="/design/design-systems/municipal-newspaper-guideline" class="pagecard-linkwrapper">
			<article class="pagecard">
				<div class="pagecard-cover">
					<div class="pagecard-cover--entrywrapper">
						<img src="/assets/img/design/design-systems/municipal-newspaper/municipal_newspaper_cover_line1.webp" class="pagecard-cover--entry entry-to-left" alt="Страницы инструкции по использованию унифицированного шаблона газет" />
						<img src="/assets/img/design/design-systems/municipal-newspaper/municipal_newspaper_cover_line2.webp" class="pagecard-cover--entry entry-to-right" alt="Страницы инструкции по использованию унифицированного шаблона газет" />
					</div>
					<img src="/assets/img/design/design-systems/municipal-newspaper/bg-newspaper-m.webp" class="pagecard-cover--secondary" alt="Разработка и внедрение дизайн‑системы и унифицированного шаблона для объединения муниципальных газет Псковской области" />
				</div>
				<div class="pagecard-timeline">
					<span class="tag">2019 год</span>
				</div>
				<div class="pagecard-description">
					<div class="pagecard-heading">
						<h3 class="pagecard-title">Дизайн&#x2060;-&#x2060;система и унифицированный шаблон для объединенной редакции муниципальных газет</h3>
						<p class="pagecard-subtitle">Как с помощью дизайн&#x2060;-&#x2060;системы сэкономить 2640 человеко&#x2060;-&#x2060;часов в месяц</p>
					</div>
					<div class="pagecard-tags">
						<span class="tag">Дизайн-система</span>
						<span class="tag">Полиграфия</span>
						<span class="tag">Менторство</span>
					</div>
				</div>
			</article>
		</a>
	</section>
</section>
