---

---

<section class="section_cards">
	<h2 class="section_cards_subtitle">Дизайн-системы</h2>
	<section class="section_cards_wrapper">
		<a href="/design/design-systems/pln-redesign" class="page_card_linkwrapper">
			<article class="page_card">
				<div class="page_card_cover">
					<img src="/assets/img/design/design-systems/pln/cover-pln-m.webp" class="page_card_cover--primary" alt="Дизайн-токены и фрагмент кода нового сайта ПЛН" />
					<img src="/assets/img/design/design-systems/pln/bg-pln-m.webp" class="page_card_cover--secondary" alt="Создание дизайн-системы и редизайн сайта самого популярного онлайн-медиа Псковской области — «Псковской ленты новостей»" />
				</div>
				<div class="page_card_timeline">
					<span class="tag">2022&ndash;2025 годы</span>
				</div>
				<div class="page_card_description">
					<div class="page_card_heading">
						<h3 class="page_card_title">Дизайн&#8209;система, редизайн и вёрстка сайта самого посещаемого онлайн&#8209;СМИ региона</h3>
						<p class="page_card_subtitle">Как обеспечить производственные потребности крупного медиа с большим количеством продуктов лёгкой в обслуживании дизайн&#8209;системой</p>
					</div>
					<div class="page_card_tags">
						<span class="tag">UX</span>
						<span class="tag">Дизайн-система</span>
						<span class="tag">UI</span>
						<span class="tag">Веб-разработка</span>
					</div>
				</div>
			</article>
		</a>
		<a href="/design/design-systems/municipal-newspaper-guideline" class="page_card_linkwrapper">
			<article class="page_card">
				<div class="page_card_cover">
					<div class="page_card_cover--entrywrapper">
						<img src="/assets/img/design/design-systems/municipal-newspaper/municipal_newspaper_cover_line1.webp" class="page_card_cover--entry entry-to-left" alt="Страницы инструкции по использованию унифицированного шаблона газет" />
						<img src="/assets/img/design/design-systems/municipal-newspaper/municipal_newspaper_cover_line2.webp" class="page_card_cover--entry entry-to-right" alt="Страницы инструкции по использованию унифицированного шаблона газет" />
					</div>
					<img src="/assets/img/design/design-systems/municipal-newspaper/bg-newspaper-m.webp" class="page_card_cover--secondary" alt="Разработка и внедрение дизайн‑системы и унифицированного шаблона для объединения муниципальных газет Псковской области" />
				</div>
				<div class="page_card_timeline">
					<span class="tag">2019 год</span>
				</div>
				<div class="page_card_description">
					<div class="page_card_heading">
						<h3 class="page_card_title">Дизайн&#8209;система и унифицированный шаблон для объединенной редакции муниципальных газет</h3>
						<p class="page_card_subtitle">Как с помощью дизайн&#8209;системы сэкономить 2640 человеко&#8209;часов в месяц</p>
					</div>
					<div class="page_card_tags">
						<span class="tag">Дизайн-система</span>
						<span class="tag">Полиграфия</span>
						<span class="tag">Менторство</span>
					</div>
				</div>
			</article>
		</a>
	</section>
</section>

<style>
	.section_cards {
		margin-block-end: var(--space-xl);
		& > *:not(.fullwidth) {
			padding-inline: var(--layout-padding-inline);
		}
		& .section_cards_subtitle {
			margin-block-end: var(--space-xs);
		}
		& .section_cards_wrapper {
			padding-block: var(--space-s);
			display: flex;
			flex-direction: row;
			gap: var(--space-main);
			@media screen and (width > 1200px) {
				gap: var(--space-l);
			}
			overflow-x: auto;
			scroll-snap-type: x mandatory;
			scroll-behavior: smooth;
			overscroll-behavior-x: contain;
			transition: scroll 0.5s ease;
			scroll-padding-inline: 1.2rem;
			scrollbar-width: none;
			position: relative;
			animation: card--show 0.7s ease-in-out;
			-webkit-animation: card--show 0.7s ease-in-out;
			animation-timeline: view(block);
			animation-range-start: cover 0%;
			animation-range-end: cover 45%;
			@starting-style {
				transform: translateY(200px);
			}
		}
	}
	a.page_card_linkwrapper {
		all: unset;
		cursor: pointer;
		@media (hover: hover) and (pointer: fine) {
			&:hover,
			&:focus {
				& .page_card_title {
					text-decoration: underline;
					text-decoration-color: var(--color-link);
				}
				& .page_card_cover--primary {
					transform: scale(110%) rotate(15deg);
				}
				& .entry-to-left {
					transform: translateX(-45%) translateY(-102%)!important;
				}
				& .entry-to-right {
					transform: translateX(0%) translateY(102%)!important;
				}
				& .page_card_cover--secondary {
					filter: blur(2px);
				}
			}
		}
		&:focus {
			.page_card {
				outline: 4px solid var(--color-link);
				outline-offset: 4px;
			}
		}
	}
	.page_card {
		scroll-snap-align: start;
		position: relative;
		display: grid;
    grid-template-rows: min-content min-content 1fr;
		overflow: clip;
		width: 100%;
		min-width: 330px;
		max-width: 600px;
		height: 100%;
		background: var(--color-bg-xh);
		border-radius: var(--radius-button-xxxl);
		@supports (corner-shape: squircle) {
			corner-shape: squircle;
		}
		& .page_card_cover {
			grid-area: 1 / 1 / 2 / 2;
			position: relative;
			aspect-ratio: 3 / 2;
			overflow: hidden;
			& .page_card_cover--primary {
				width: 100%;
				height: 100%;
				object-fit: cover;
				position: relative;
				z-index: +1;
				transition:
					transform 0.2s,
					rotate 0.2s;
			}
			& .page_card_cover--entrywrapper {
				width: 100%;
				height: 100%;
				position: relative;
				z-index: +1;
				& > .page_card_cover--entry {
					max-width: initial;
					position: absolute;
					&:is(.entry-to-left, .entry-to-right) {
						max-height: 40%;
						transition: transform 0.2s;
					}
					&.entry-to-left {
						top: 50%;
						transform: translateX(25%) translateY(-102%);
					}
					&.entry-to-right {
						bottom: 50%;
						transform: translateX(-70%) translateY(102%);
					}
				}
			}
			& .page_card_cover--secondary {
				position: absolute;
				inset: 0;
				opacity: 0.3;
				mask: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0) 100%);
				transition: filter 0.4s;
			}
		}
		& .page_card_timeline {
			height: min-content;
			grid-area: 1 / 1 / 2 / 2;
			z-index: +1;
			padding-block: var(--space-md);
			padding-inline: var(--space-md);
			@media screen and (width > 1200px) {
				padding-block: var(--space-l);
				padding-inline: var(--space-l);
			}
			& > .tag {
				font-weight: var(--font-weight-semibold);
			}
		}
		& .page_card_heading {
			display: flex;
			flex-direction: column;
			gap: var(--space-xs);
		}
		& .page_card_title {
			font-variation-settings: "opsz" 13, "wght" var(--font-weight-bold), "GRAD" var(	--font-grade-chapter-subtitle) !important;
			line-height: 1.2;
		}
		& .page_card_subtitle {
			font-size: var(--font-size-main);
			font-variation-settings: "opsz" 16, "wght" var(--font-weight-main), "GRAD" var(--font-grade-medium) !important;
			opacity: .7;
			line-height: 1.45;
		}
		& .page_card_description {
			grid-area: 2 / 1 / -1 / -1;
			display: grid;
			grid-template-rows: 1fr min-content;
			gap: var(--space-main);
			padding-block-end: var(--space-md);
			padding-inline: var(--space-md);
			@media screen and (width > 1200px) {
				padding-block-end: var(--space-l);
				padding-inline: var(--space-l);
			}
			& .page_card_tags {
				display: flex;
				flex-wrap: wrap;
				gap: var(--space-xxs);
				padding-inline-end: var(--space-md);
				@media screen and (width > 1200px) {
					padding-inline-end: var(--space-l);
				}
			}
		}
		& .tag {
			font-size: var(--font-size-xxs);
			color: var(--color-content-xxs);
			border-radius: var(--radius-button-main);
			-webkit-backdrop-filter: blur(2px);
			backdrop-filter: blur(3px);
		}
	}

	@keyframes card--show {
		from {
			opacity: 0;
			transform: translateY(200px);
		}
		to {
			opacity: 1;
			transform: translateY(0px);
		}
	}
</style>
