---

---

<section class="skills">
	<h2 class="skills-group-title">Ключевые навыки</h2>
	<ul>
		<li class="tag">дизайн-системы</li>
		<li class="tag">UX / UI</li>
		<li class="tag">управление командами</li>
		<li class="tag">арт-дирекшн</li>
		<li class="tag">менторство</li>
		<li class="tag">айдентика</li>
		<li class="tag">cторителлинг</li>
		<li class="skills_more">ещё 7</li>
	</ul>

	<h2 class="skills-group-title">Инструменты</h2>
	<ul>
		<li class="tag">Яндекс Метрика</li>
		<li class="tag">Figma</li>
		<li class="tag">Penpot</li>
		<li class="tag">Storybook</li>
		<li class="tag">Token Studio</li>
		<li class="tag">Photoshop</li>
		<li class="tag">Illustrator</li>
		<li class="tag">InDesign</li>
		<li class="tag">PremierPro</li>
		<li class="tag">AfterEffects</li>
		<li class="skills_more">ещё 6</li>
	</ul>

	<h2 class="skills-group-title">Исследования и проектировние</h2>
	<ul>
		<li class="tag">CustDev</li>
		<li class="tag">JTBD</li>
		<li class="tag">CJM и UJM</li>
		<li class="tag">User flow</li>
		<li class="tag">A/B тесты</li>
		<li class="tag">Тепловые карты</li>
		<li class="tag">Интервью</li>
		<li class="skills_more">ещё 4</li>
	</ul>

	<h2 class="skills-group-title">Веб-разработка</h2>
	<ul>
		<li class="tag">html</li>
		<li class="tag">css</li>
		<li class="tag">js</li>
		<li class="tag">JSON</li>
		<li class="tag">svg</li>
		<li class="tag">SMIL</li>
		<li class="tag">Astro</li>
		<li class="tag">Git</li>
		<li class="tag">a11y</li>
		<li class="tag">i18n</li>
		<li class="skills_more">ещё 5</li>
	</ul>
</section>

<style>
	.skills {
		@media screen and (width >= 1200px) {
			text-align: right;
		}
		& .skills-group-title {
			font-size: var(--font-size-l);
			font-kerning: auto;
			font-optical-sizing: auto;
			letter-spacing: -0.005em;
			line-height: 1.1;
			font-variation-settings: "opsz" 13, "wght" var(--font-weight-extrabold), "GRAD" 0;
			white-space: pre-wrap;
			text-wrap: balance;
			margin-block-end: var(--space-main);
		}
		& ul {
			display: flex;
			flex-wrap: wrap;
			gap: var(--space-xs);
			list-style-type: none;
			margin-block-end: var(--space-md);
			@media screen and (width >= 1200px) {
				justify-content: end;
			}
		}
	}
</style>
