---
import Layout from "$layouts/Layout.astro";
import Breadcrumbs from "$components/ui/Breadcrumbs.astro";
---

<Layout title="Сергей Васильев: портфолио. Страница не найдена" description="Страница ошибки 404: запрашиваемая страница не найдена. Возможно, допущена ошибка в адресе страницы">
	<article class="error-404--wrapper">
    <Breadcrumbs />
		<section class="error-404 wrapper--indentation">
			<p>Ошибка <strong>404</strong></p>
			<h1>Cтраница не найдена :(</h1>
			<p>
				Или её адрес указан некорректно, или она временно недоступна.<br/> В любом случае, на сайте есть ещё много других материалов.<br/> Возможно, вас заинтересует что-нибудь в разделах <a href="/design" title="Раздел с кейсами в области дизайна">дизайн</a>,  
        <a href="/webdev" title="Раздел с кейсами в области веб-разработки">веб-разработка</a> или <a href="/media" title="Раздел с примерами работ в медиа: фильмы, фото, тексты">медиа</a>, в котором опубликованы примеры моих работ в СМИ — фильмы, фото, тексты. Либо узнайте больше <a href="/about" title="Раздел с описанием биографии и списком мест работы и достижений">обо мне</a> в биографическом разделе.
			</p>
		</section>
	</article>
</Layout>

<style>
	.error-404--wrapper {
		padding-top: 6.5rem;
		padding-inline: var(--layout-padding-inline);
		& .error-404 {
      margin-inline: auto;
			width: min(100%, 85ch);
			height: 100%;
      text-align: center;
			text-wrap: balance;
			& h1 {
        margin-block-end: var(--spacing-xl);
      }
      & p {
				font-family: var(--font-family-secondary);
			}
      & a {
        font-weight: var(--font-weight-extrabold);
      }
		}
	}
</style>
