---
import Layout from "$layouts/Layout.astro";
import Breadcrumbs from "$components/ui/Breadcrumbs.astro";
---

<Layout title="Сергей Васильев: портфолио. Страница не найдена" description="Страница ошибки 404: запрашиваемая страница не найдена. Возможно, допущена ошибка в адресе страницы">
	<article class="error-404--wrapper">
    <Breadcrumbs />
		<section class="error-404 wrapper--indentation">
			<p>Ошибка <strong>404</strong></p>
			<h1>Cтраница не найдена<br/>:(</h1>
			<p>
				Её адрес указан некорректно, или она временно недоступна либо вовсе была удалена.<br/> В любом случае, на сайте есть много других материалов, чтобы вы могли составить мнение обо мне и моих навыках.<br/> Смотрите примеры моих работ в разделах <a href="/design" title="Раздел с кейсами в области дизайна">дизайн</a> и <a href="/webdev" title="Раздел с кейсами в области веб-разработки">веб-разработка</a>, либо узнайте больше <a href="/about" title="Раздел с описанием биографии и списком мест работы и достижений">обо мне</a> в биографическом разделе.
			</p>
		</section>
	</article>
</Layout>

<style>
	.error-404--wrapper {
		margin-top: 6.5rem;
		padding-inline: var(--layout-padding-inline);
		& .error-404 {
      margin-inline: auto;
			width: min(100%, 85ch);
			height: 100%;
      text-align: center;
			text-wrap: balance;
			& h1 {
        margin-block-end: var(--space-xl);
      }
      & p {
				font-family: var(--font-family-secondary);
			}
      & a {
        font-weight: var(--font-weight-extrabold);
      }
		}
	}
</style>
