---
import LayoutSiteSection from "$layouts/LayoutSiteSection.astro";
---

<LayoutSiteSection title="Сергей Васильев: биография" headingTitle="Обо мне" description="Биография, опыт работы и достижения Сергея Васильева — продуктового дизайнера с опытом веб-разработки и управления медиа и IT-проектами из Пскова">
	<section class="article-body">
		<section id="aboutpage-intro" class="article-chapter wrapper--indentation">
			<h2 class="article-chapter-title">Биография</h2>
			<p class="article-text">(Здесь будет краткое резюме).</p>
		</section>
		<section id="about-experience" class="article-chapter about-experience wrapper--indentation">
			<h2 class="article-chapter-title">Опыт работы</h2>
			<section class="workplace">
				<div class="workplace-container wrapper--indentation">
					<div class="workplace-head">
						<h3 class="workplace-name">CoffeeStudio</h3>
						<span class="workplace-site"><a class="workplace-link" href="https://coffestudio.ru" title="Сайт агентства интернет-рекламы CoffeeStudio" target="_blank">coffestudio.ru</a></span>
					</div>
					<div class="workplace-story">
						<span class="workplace-period">Август 2024 — по настоящее время</span>
						<span class="workplace-position">Менеджер IT-проектов</span>
					</div>
					<div class="workplace-body wrapper--indentation">
						<p class="article-text">
							<strong>В студии интернет-маркетинга, специализирующейся на интернет-рекламе и заказной веб-разработке, совмещаю управленческую и дизайнерскую экспертизу</strong> для создания цифровых продуктов от этапа брифинга клиента, исследований и планирования до проектирования, разработки, тестирования и запуска. Помимо этого, <strong>выполняю роль дизайн-лида</strong>: курирую работу дизайнеров студии, планирую их загрузку в связке с внутренним заказчиком — отделом маркетинга, провожу дизайн&#8209;ревью и даю консультации по новым для сотрудников областям.
						</p>
						<section class="workplace-achievements">
							<p class="workplace-achievements--title">Ключевые задачи и результаты:</p>
							<details class="achievements-item">
								<summary class="achievements-short">Разработка платформы готовой инфраструктуры веб&#8209;проектов и CMS с WYSIWYG-редактором</summary>
								<p class="details__content">
									В качестве основного проектного менеджера курировал разработку платформы готовой инфраструктуры веб-проектов на базе стека Vue 3/Nuxt и Django с модулем слоя WYSIWYG CMS поверх основного сайта — от этапа обсуждения концепции, уточнения требований, ограничений и архитектуры до разработке MVP и доработки версии 2.0, внедрения платформы в производственные процессы студии и разработки на её базе клиентских сайтов. Внедрение платформы значительно ускорило разработку и сократило издержки на запуск новых сайтов, упростило и ускорило контент-менеджмент и техподдержку.
								</p>
							</details>
							<details class="achievements-item">
								<summary class="achievements-short">Проектирование и прототипирование CRM и пользовательских сценариев</summary>
								<p class="details__content">Проектирование отдельных пользовательских сценариев (например, сценария добавления товаров в корзину и оформления заказа) и разделов CRM (например, базы знаний компании). Также был успешный опыт экспресс-прототипирования (создания интерактивного прототипа) CRM для конкретного потенциального заказчика без детального ТЗ и описания бизнес-логики: выполненный прототип был принят заказчиком, что позволило заключить крупную сделку на разработку.</p>
							</details>
							<details class="achievements-item">
								<summary class="achievements-short">Проектный менеджмент (заказная разработка сайтов)</summary>
								<p class="details__content">В качестве проектного менеджера успешно реализовал проекты заказной разработки сайтов (от этапа брифинга клиентов и исследований, перевода бизнес-требований в технические спецификации и дизайн-решения, составления смет, проектирования и дизайна до планирования графика работ, формирования ТЗ и постановки задач дизайнерам и командами фронтенд- и бэкенд-разработки, контроля выполнения задач и презентации работ заказчикам). Во многих случаях за счет собственной экспертизы в области дизайна, разработки и маркетинга сэкономил значительное время на реализацию отдельных этапов производтва.</p>
							</details>
							<details class="achievements-item">
								<summary class="achievements-short">Разработка и доработка айдентики и гайдлайнов</summary>
								<p class="details__content">В качестве дизайнера участвовал в разработке и доработке айдентики клиентов студии, разрабатывал гайдлайны и элементы дизайн-систем. В частности, участвовал в обновлении айдентики и формиромал интерактивный гайдлайн, а также собирал на основе него промо-лендинги отдельных продуктов для одного из крупнейших российских вендеров ПО для банковского и корпоративного секторов.</p>
							</details>
							<details class="achievements-item">
								<summary class="achievements-short">Дизайн, прототипирование и вёрстка сайтов</summary>
								<p class="details__content">В качестве дизайнера и разработчика за 1,5 года полностью автономно реализовал 8 проектов по заказной разработке сайтов на базе конструктора Tilda и в виде статичных сайтов (SSG) на классическом стеке html, css, js, фреймворк Astro). В качестве менеджера или исполнителя отдельных работ участвовал в разработке и сдаче 6 крупных сайтов.</p>
							</details>
						</section>
					</div>
				</div>
			</section>
			<section class="workplace" id="pln">
				<div class="workplace-container wrapper--indentation">
					<div class="workplace-head">
						<h3 class="workplace-name">Медиахолдинг «Гражданская пресса»</h3>
						<span class="workplace-site"><a class="workplace-link" href="https://rm60.ru" title="Сайт медиахолдинга «Гражданская пресса»" target="_blank">rm.60</a></span>
					</div>
					<div class="workplace-story">
						<span class="workplace-period">Июнь 2020 — август 2024</span>
						<span class="workplace-position">Руководитель отдела мультимедийной графики и веб-разработок</span>
					</div>
					<div class="workplace-body wrapper--indentation">
						<p class="article-text">
							Медиахолдинг «Гражданская пресса» — крупнейший частный медиахолдинг Псковской области, в состав которого входит несколько онлайн-СМИ, в том числе региональный лидер по известности и посещаемости, интернет-телевидение, 5 радиостанций и рекламное агентство. 
						</p>
						<p class="article-text">
							В качестве руководителя дизайн-направления всего медиахолдинга <strong>оптимизировал и увеличил выработку производственных дизайн-процессов</strong> для обеспечения редакций и рекламного отдела графическими материалами и продуктами веб-разработки, <strong>создал централизованную и масштабируемую дизайн-систему и на базе неё подготовил редизайн сайта флагманского медиа</strong>, проводил регулярный <strong>мониторинг ключевых продуктовых метрик и аналитику пользовательского поведения</strong>, изменений в медиапотреблении для подготовки предложений по трансформации медиапродуктов в соответствии с изменяющейся ситуацией, занимался корректировкой и развитием айдентики медиабрендов холдинга. Помимо этого <strong>разработал концепции и запустил несколько новых медиапродуктов</strong>. Мои задачи охватывали как вопросы стратегии и операционного управления, так и непосредственную разработку и дизайн-процессы. 
						</p>
						<section class="workplace-achievements">
							<p class="workplace-achievements--title">Ключевые задачи и результаты:</p>
							<details class="achievements-item">
								<summary class="achievements-short">Разработка дизайн-системы и редизайн сайта флагманского СМИ медиахолдинга</summary>
								<p class="details__content">
									Гибкая и масштабируемая дизайн-система и заложенные в неё принципы позволили вывести визуальное и пользовательское качество медиапродукта на уровень современных цифровых стандартов, повысила консистентность и узнаваемость бренда, серьезно ускорила и сократила временн&#x301;ые и накладные расходы на производство графических и рекламных материалов для медиа, а также позволила провести редизайн сайта флагманского СМИ с минимальными затратами.
								</p>
								<p class="details__content">
									Также на основе разработанной дизайн-системы была разработана айдентика для десятков медиапродуктов, разработан сайт холдинга.
								</p>
							</details>
							<details class="achievements-item">
								<summary class="achievements-short">Разработка, внедрение и производство новых медиаформатов и медипродуктов</summary>
								<p class="details__content">Наладил потоковое производство с минимальными накладными расходами информационных и коммерческих лонгирдов (лендингов) и инфографики с уникальным дизайном и интерактивными элементами, что расширило информационную палитру СМИ и стало дополнительным источником продаж в условиях технического ограничения рекламных носителей.</p>
							</details>
							<details class="achievements-item">
								<summary class="achievements-short">Аналитика пользовательского поведения и тестирование гипотез</summary>
								<p class="details__content">Осуществлял регулярный мониторинг и анализ статистических данных и метрик пользовательского поведения, отслеживал изменения в трендах медиапотребления, формировал и тестировал гипотезы по коррекции различных аспектов работы медиа, готовил аналитические заметки с рекомендациями по развитию медиапродуктов.</p>
							</details>
							<details class="achievements-item">
								<summary class="achievements-short">Усовершенствование прямых видеотрансляций радиопередач</summary>
								<p class="details__content">Усовершенствовал процесс и качество организации ежедневных прямых видеотрансляций радиопередач: подобрал оптимальный по соотношению цена\качество комплект необходимого оборудования, нашёл и настроил ПО для организации титров, разработал шаблоны заставок радиопередач. В последствии подготовил дизайн-макет обновления и брендирования радиостудии.</p>
							</details>
						</section>
					</div>
				</div>
			</section>
		</section>
		<section id="aboutpage-bio" class="article-chapter wrapper--indentation">
			<h2 class="article-chapter-title">Моя история</h2>
			<p class="article-text">
				Я родился в Пскове в 1984 году в семье журналистов. В 90-е родители создали один из первых в стране частных издательско-полиграфических комплексов «Курсив», и всё детство я проводил в типографии. С 9 класса начал подрабатывать на каникулах в компьютерном цеху, верстал в тогда ещё Aldus
				PageMaker и осваивал компьютерную графику в CorelDraw и Adobe Photoshop 3&#8209;й версии.
			</p>
			<p class="article-text">Интерес к дизайну поддерживала и школа — я учился в классе отделения искусств по направлению изобразительного искусства и мировой художественной культуры.</p>
			<p class="article-text">
				Высшее образование получил на филологическом факультете Псковского государственного педагогического университета, который окончил с отличием в 2006 году. В вузе делал упор на изучение <strong>семиотики</strong> (науки о знаках и знаковых системах). В какой-то мере семиотические подходы к изучению
				различных аспектов коммуникации можно сравнить с декомпозицией дизайн-системы, определении её законов и ключевых токенов.
			</p>
			<p class="article-text">
				Ещё в школе начал изучать программирование (Pascal, C++) и только зарождавшуюся тогда веб-разработку. Первые свои сайты написал в «Блокноте». Кстати, они уже тогда имели в меру адаптивный дизайн и модульную структуру. Подробнее об этом можно прочитать в разделе <strong>
					<a href="/webdev" title="Раздел с кейсами в области веб-разработки">«Веб-разработка»</a>
				</strong>.
			</p>
		</section>
	</section>
</LayoutSiteSection>

<style>
	.about-experience {
		& .workplace:not(:last-child) {
			margin-block-end: var(--space-l);
		}
	}

	.workplace {
		& .workplace-head {
			width: var(--content-width-main);
			margin-inline: auto;
			display: flex;
			flex-direction: column;
			width: var(--content-width-main);
			margin-inline: auto;
		}
		& .workplace-head {
			display: flex;
      align-items: center;
		}
		& .workplace-name {
			margin-inline-end: var(--space-main);
			text-align: center;
			&::before {
				content: "●";
				color: var(--color-brand-main);
				margin-inline-end: var(--space-s);
			}
		}
		.workplace-site {
			font-family: var(--font-family-secondary);
			font-size: var(--font-size-main);
			color: var(--color-link) !important;
			font-variation-settings:
				"opsz" 10,
				"wght" var(--font-weight-main),
				"GRAD" var(--font-grade-main);
		}
		& .workplace-story {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			width: var(--content-width-main);
			margin-inline: auto;
		}
		& .workplace-period {
			display: block;
			width: fit-content;
			margin-inline: auto;
			padding-block: var(--space-xxs);
			padding-inline: var(--space-xs);
			font-size: var(--font-size-xs);
			font-family: var(--font-family-secondary);
			color: var(--color-content-s);
			background: var(--color-bg-xh);
			border-radius: var(--space-main) var(--space-main) 0 0;
			@supports (corner-shape: squircle) {
				corner-shape: squircle;
			}
		}
		& .workplace-position {
			background: var(--color-bg-xs);
			border: 3px solid var(--color-bg-xh);
			border-radius: var(--radius-button-xxxl);
			padding-block: var(--space-xxs);
			padding-inline: var(--space-s);
			text-align: center;
			line-height: 1.3;
			font-size: var(--font-size-l);
			font-variation-settings:
				"opsz" 8,
				"wght" var(--font-weight-semibold),
				"GRAD" var(--font-grade-chapter-subtitle);
			@supports (corner-shape: squircle) {
				corner-shape: squircle;
			}
		}
		& .workplace-achievements {
			font-family: var(--font-family-secondary);
			width: var(--content-width-main);
			margin-inline: auto;
			display: flex;
			flex-direction: column;
			gap: var(--space-xs);
			& .workplace-achievements--title {
				color: var(--color-content-xxs);
				font-variation-settings:
					"opsz" 8,
					"wght" var(--font-weight-extrabold),
					"GRAD" var(--font-grade-chapter-subtitle);
			}
			& .achievements-item {
				& summary {
					font-size: var(--font-size-s);
					font-weight: var(--font-weight-bold);
				}
				& .details__content {
					font-size: var(--font-size-s);
					&:not(:last-child) {
						margin-block-end: var(--space-xs);
					}
				}
			}
		}
	}
</style>
