---
import LayoutSiteSection from "$layouts/LayoutSiteSection.astro";
---

<LayoutSiteSection title="Сергей Васильев: биография" headingTitle="Обо мне" description="Биография, опыт работы и достижения Сергея Васильева — продуктового дизайнера с опытом веб-разработки и управления медиа и IT-проектами из Пскова">
	<section class="article-body">
		<section id="aboutpage-intro" class="article-chapter wrapper--indentation animation-scroll-fadeup">
			<h2 class="article-chapter-title">Коротко</h2>
			<p class="article-text">Профессионально занимаюсь дизайном более 20 лет. Имею опыт работы и независимым дизайнером, и в студии, и в качестве ведущего продуктового дизайна для онлайн-медиа. У меня за плечами большой опыт управления проектами и командами.</p>
			<p class="article-text">Также имею большой опыт преподавания:</p>
			<ul>
				<li>Порядка 10 лет был научным руководителем квалификационных работ студентов Псковского госуниверситета по направлениям «журналистика», а также «PR и связи с общественностью». Более 5 лет был председателем государственной экзаменационной комиссии вуза по этим направлениям.</li>
				<li>Несколько потоков преподавал курс «Основы веб-разработки», а также модули по работе с Figma в CoffeSchool.</li>
				<li>Порядка 10 лет преподавал на курсах основы композиции в фотографии и фоторепортажа</li>
			</ul>
		</section>
		<section id="about-experience" class="article-chapter about-experience wrapper--indentation">
			<h2 class="article-chapter-title">Опыт работы</h2>
			<section class="workplace animation-scroll-fadeup" id="CoffeeStudio">
				<div class="workplace-container wrapper--indentation">
					<div class="workplace-head">
						<h3 class="workplace-name">CoffeeStudio</h3>
						<span class="workplace-site"><a class="workplace-link" href="https://coffestudio.ru" title="Сайт агентства интернет-рекламы CoffeeStudio" target="_blank">coffestudio.ru</a></span>
					</div>
					<div class="workplace-story">
						<span class="workplace-period">Август 2024 — по настоящее время</span>
						<span class="workplace-position">Менеджер IT-проектов</span>
					</div>
					<div class="workplace-body wrapper--indentation">
						<p class="article-text">
							В студии интернет-маркетинга, специализирующейся на интернет-рекламе и заказной веб-разработке, <strong>совмещаю управленческую и дизайнерскую экспертизу</strong> для создания цифровых продуктов от этапа брифинга клиента, исследований и планирования до проектирования, разработки, тестирования
							и запуска. Помимо этого <strong>выполняю роль дизайн-лида</strong>: курирую работу дизайнеров студии, планирую их загрузку в связке с внутренним заказчиком — отделом маркетинга, провожу дизайн&#8209;ревью и даю консультации по новым для сотрудников областям.
						</p>
						<section class="workplace-achievements">
							<p class="workplace-achievements--title">Ключевые задачи и результаты:</p>
							<details class="achievements-item">
								<summary class="achievements-short">Разработка платформы готовой инфраструктуры веб&#8209;проектов и CMS с WYSIWYG-редактором</summary>
								<p class="details-text">
									В качестве основного проектного менеджера курировал разработку платформы готовой инфраструктуры веб-проектов на базе стека Vue 3/Nuxt и Django с модулем слоя WYSIWYG CMS поверх основного сайта — от этапа обсуждения концепции, уточнения требований, ограничений и архитектуры
									до разработке MVP и доработки версии 2.0, внедрения платформы в производственные процессы студии и разработки на её базе клиентских сайтов. Внедрение платформы значительно ускорило разработку и сократило издержки на запуск новых сайтов, упростило и ускорило контент-менеджмент
									и техподдержку.
								</p>
							</details>
							<details class="achievements-item">
								<summary class="achievements-short">Проектирование и прототипирование CRM и пользовательских сценариев</summary>
								<p class="details-text">
									Проектирование отдельных пользовательских сценариев (например, сценария добавления товаров в корзину и оформления заказа) и разделов CRM (например, базы знаний компании). Также был успешный опыт экспресс-прототипирования (создания интерактивного прототипа) CRM для конкретного
									потенциального заказчика без детального ТЗ и описания бизнес-логики: выполненный прототип был принят заказчиком, что позволило заключить крупную сделку на разработку.
								</p>
							</details>
							<details class="achievements-item">
								<summary class="achievements-short">Проектный менеджмент (заказная разработка сайтов)</summary>
								<p class="details-text">
									В качестве проектного менеджера успешно реализовал проекты заказной разработки сайтов (от этапа брифинга клиентов и исследований, перевода бизнес-требований в технические спецификации и дизайн-решения, составления смет, проектирования и дизайна до планирования графика работ,
									формирования ТЗ и постановки задач дизайнерам и командами фронтенд- и бэкенд-разработки, контроля выполнения задач и презентации работ заказчикам). Во многих случаях за счет собственной экспертизы в области дизайна, разработки и маркетинга сэкономил значительное время на реализацию
									отдельных этапов производства.
								</p>
							</details>
							<details class="achievements-item">
								<summary class="achievements-short">Разработка и доработка айдентики и гайдлайнов</summary>
								<p class="details-text">
									В качестве дизайнера участвовал в разработке и доработке айдентики клиентов студии, разрабатывал гайдлайны и элементы дизайн-систем. В частности, участвовал в обновлении айдентики и формировал интерактивный гайдлайн, а также собирал на основе него промо-лендинги отдельных продуктов
									для одного из крупнейших российских вендеров ПО для банковского и корпоративного секторов.
								</p>
							</details>
							<details class="achievements-item">
								<summary class="achievements-short">Дизайн, прототипирование и вёрстка сайтов</summary>
								<p class="details-text">
									В качестве дизайнера и разработчика за 1,5 года полностью автономно реализовал 8 проектов по заказной разработке сайтов на базе конструктора Tilda и в виде статичных сайтов (SSG) на классическом стеке html, css, js, фреймворк Astro). В качестве менеджера или исполнителя отдельных
									работ участвовал в разработке и сдаче 6 крупных сайтов.
								</p>
							</details>
						</section>
					</div>
				</div>
			</section>
			<section class="workplace animation-scroll-fadeup" id="pln">
				<div class="workplace-container wrapper--indentation">
					<div class="workplace-head">
						<h3 class="workplace-name">Медиахолдинг «Гражданская пресса»</h3>
						<span class="workplace-site"><a class="workplace-link" href="https://rm60.ru" title="Сайт медиахолдинга «Гражданская пресса»" target="_blank">rm.60</a></span>
					</div>
					<div class="workplace-story">
						<span class="workplace-period">Июнь 2020 — август 2024</span>
						<span class="workplace-position">Руководитель отдела мультимедийной графики и веб-разработок</span>
					</div>
					<div class="workplace-body wrapper--indentation">
						<p class="article-text">Медиахолдинг «Гражданская пресса» — крупнейший частный медиахолдинг Псковской области, в состав которого входит несколько онлайн-СМИ, в том числе региональный лидер по известности и посещаемости, интернет-телевидение, 5 радиостанций и рекламное агентство.</p>
						<p class="article-text">
							В качестве руководителя дизайн-направления всего медиахолдинга <strong>оптимизировал и увеличил выработку производственных дизайн-процессов</strong> для обеспечения редакций и рекламного отдела графическими материалами и продуктами веб-разработки, <strong>
								создал централизованную и масштабируемую дизайн-систему и на базе неё подготовил редизайн сайта флагманского медиа
							</strong>, проводил регулярный <strong>мониторинг ключевых продуктовых метрик и аналитику пользовательского поведения</strong>, изменений в медиапотреблении для подготовки предложений по трансформации медиапродуктов в соответствии с изменяющейся ситуацией, занимался корректировкой
							и развитием айдентики медиабрендов холдинга. Помимо этого <strong>разработал концепции и запустил несколько новых медиапродуктов</strong>. Мои задачи охватывали как вопросы стратегии и операционного управления, так и непосредственную разработку и дизайн-процессы.
						</p>
						<section class="workplace-achievements">
							<p class="workplace-achievements--title">Ключевые задачи и результаты:</p>
							<details class="achievements-item">
								<summary class="achievements-short">Разработка дизайн-системы и редизайн сайта флагманского СМИ медиахолдинга</summary>
								<p class="details-text">
									Гибкая и масштабируемая дизайн-система и заложенные в неё принципы позволили вывести визуальное и пользовательское качество медиапродукта на уровень современных цифровых стандартов, повысила консистентность и узнаваемость бренда, серьезно ускорила и сократила временн&#x301;ые
									и накладные расходы на производство графических и рекламных материалов для медиа, а также позволила провести редизайн сайта флагманского СМИ с минимальными затратами.
								</p>
								<p class="details-text">Также на основе разработанной дизайн-системы была разработана айдентика для десятков медиапродуктов, разработан сайт холдинга.</p>
							</details>
							<details class="achievements-item">
								<summary class="achievements-short">Разработка, внедрение и производство новых медиаформатов и медиапродуктов</summary>
								<p class="details-text">
									Наладил потоковое производство с минимальными накладными расходами информационных и коммерческих лонгридов (лендингов) и инфографики с уникальным дизайном и интерактивными элементами, что расширило информационную палитру СМИ и стало дополнительным источником продаж в условиях
									технического ограничения рекламных носителей.
								</p>
							</details>
							<details class="achievements-item">
								<summary class="achievements-short">Аналитика пользовательского поведения и тестирование гипотез</summary>
								<p class="details-text">
									Осуществлял регулярный мониторинг и анализ статистических данных и метрик пользовательского поведения, отслеживал изменения в трендах медиапотребления, формировал и тестировал гипотезы по коррекции различных аспектов работы медиа, готовил аналитические заметки с рекомендациями
									по развитию медиапродуктов.
								</p>
							</details>
							<details class="achievements-item">
								<summary class="achievements-short">Усовершенствование прямых видеотрансляций радиопередач</summary>
								<p class="details-text">
									Усовершенствовал процесс и качество организации ежедневных прямых видеотрансляций радиопередач: подобрал оптимальный по соотношению цена\качество комплект необходимого оборудования, нашёл и настроил ПО для организации титров, разработал шаблоны заставок радиопередач. В последствии
									подготовил дизайн-макет обновления и брендирования радиостудии.
								</p>
							</details>
						</section>
					</div>
				</div>
			</section>
			<section class="workplace animation-scroll-fadeup" id="mhpo">
				<div class="workplace-container wrapper--indentation">
					<div class="workplace-head">
						<h3 class="workplace-name">ГП ПО «Медиахолдинг Псковской области»</h3>
						<!-- <span class="workplace-site"><a class="workplace-link" href="https://mhpsk.ru" title="Сайт «Медиахолдинга Псковской области»" target="_blank">mhpsk.ru</a></span> -->
					</div>
					<div class="workplace-story">
						<span class="workplace-period">Февраль 2017 — май 2020</span>
						<span class="workplace-position">Креативный редактор холдинга</span>
					</div>
					<div class="workplace-body wrapper--indentation">
						<p class="article-text">
							На позиции креативного редактора холдинга я сосредоточился на трансформации ключевых медиапродуктов и внедрении новых форматов. При этом занимался как стратегическим планированием, так и выступал в роли ведущего продуктового дизайнера и арбитра визуальной стратегии.
						</p>
						<section class="workplace-achievements">
							<p class="workplace-achievements--title">Ключевые задачи и результаты:</p>
							<details class="achievements-item">
								<summary class="achievements-short">Разработка и внедрение дизайн-системы для объединения 20+ муниципальных газет</summary>
								<p class="details-text">
									Дизайн-система с подробными инструкциями и интеграцией инструментов автоматизации, адаптивный макет и проведённое обучение персонала позволили наладить производственный процесс вёрстки 20+ газет кустовым методом — силами всего 7 верстальщиков вместо 20+ ранее. Это сэкономило
									предприятию более 2600 человеко-часов в месяц. <a class="details-text--link" href="/design/design-systems/municipal-newspaper-guideline" title="Кейс разработки и внедрения дизайн‑системы и унифицированного шаблона для объединения муниципальных газет Псковской области">
										(Подробнее >>>)
									</a>
								</p>
							</details>
							<details class="achievements-item">
								<summary class="achievements-short">Редизайн печатного макета и сайта газеты «Псковская правда»</summary>
								<p class="details-text">К 100-летию газеты подготовил её редизайн, а также курировал редизайн сайта газеты, разработкой которого занимался сотрудник редакции.</p>
							</details>
							<details class="achievements-item">
								<summary class="achievements-short">Создание мобильной версии сайта «Псковского агентства информации»</summary>
								<p class="details-text">
									Мобильная версия сайта флагманского СМИ холдинга привлекла дополнительную аудиторию и даже впоследствии — при появлении мобильной версии у ближайшего конкурента — демонстрировала лучшие в этой паре показатели метрик, демонстрирующих удобство использования и удовлетворенность
									пользователей.
								</p>
							</details>
						</section>
					</div>
					<div class="workplace-story">
						<span class="workplace-period">Ноябрь 2013 — январь 2017</span>
						<span class="workplace-position">Главный редактор «Псковского агентства информации»</span>
					</div>
					<div class="workplace-body wrapper--indentation">
						<p class="article-text">В качестве руководителя редакции я непосредственно управлял всеми ключевыми редакционными процессами, влияющими на продукт, в том числе выполнял роль продукт-менеджера, продуктового и коммуникационного дизайн-лида.</p>
						<section class="workplace-achievements">
							<p class="workplace-achievements--title">Ключевые задачи и результаты:</p>
							<details class="achievements-item">
								<summary class="achievements-short">Рост показателей основных продуктовых метрик</summary>
								<p class="details-text">
									За период моего руководства ПАИ отрыв по среднесуточной посещаемости от основного конкурента — «Псковской ленты новостей» — сократился с 3-4 раз до максимум 1,5-2 раз. При этом по многим метрикам редакция догнала и обогнала конкурента. Кроме того, несколько лет редакция занимала 1
									место в регионе по индексу цитирования.
								</p>
							</details>
							<details class="achievements-item">
								<summary class="achievements-short">Редизайн сайта</summary>
								<p class="details-text">
									На основе аудита интерфейса и исследования пользовательских предпочтений я разработал новый дизайн сайта ПАИ, подготовил техническое задание для разработчиков и курировал процесс разработки и внедрения. В последующем непосредственно руководил процессами доработки и внедрения новой
									функциональности на сайт.
								</p>
								<p class="details-text">Редизайн получил преимущественно позитивные отклики и сразу продемонстрировал эффект в виде роста посещаемости и шеринга материалов, увеличения ядра аудитории, глубины и времени просмотра, а также доскролла страниц.</p>
								<p class="details-text">Разработанный дизайн успешно функционировал почти 7 лет — до 2020 года, когда был заменён по решению нового руководства холдинга.</p>
							</details>
							<details class="achievements-item">
								<summary class="achievements-short">Внедрение новых рекламных и медиа-форматов</summary>
								<p class="details-text">
									В начале 2014 года я самостоятельно подготовил текст, спроектировал дизайн и разработал первый на местном медиарынке мультимедийный <strong>лонгрид</strong> — <a class="details-text--link" href="https://informpskov.ru/turchak5years" title="Лонгрид «Пятилетка Турчака»">
										«Пятилетка Турчака»
									</a>. ПАИ было пионером внедрения этого формата в Псковской области — и одним из первых в России: приблизительно в это же время с подобными форматами начали впервые экспериментировать такие федеральные издания, как «Коммерсант» и «Комсомольская правда». Впоследствии этот формат
									стал очень популярным и позволил агентству расширить палитру рекламных предложений, а кроме того на протяжении нескольких лет был эксклюзивным преимуществом медиа.
								</p>
								<p class="details-text">Кроме того, я внедрил на сайт медиа раздел <strong>инфографики</strong>, запустил формат <strong>текстовых онлайн-трансляций</strong> крупных мероприятий, первым на псковском рынке запустил <strong>видео-трансляции спортивных мероприятий</strong>.</p>
								<p class="details-text">Наконец, в период моего руководства редакцией были внедрены форматы интерактивных квизов и форматы нативной рекламы.</p>
							</details>
						</section>
					</div>
					<div class="workplace-story">
						<span class="workplace-period">Июнь 2013 — октябрь 2013</span>
						<span class="workplace-position">Заместитель главного редактора «Псковского агентства информации»</span>
					</div>
					<div class="workplace-body wrapper--indentation">
						<p class="article-text">
							На новом месте работы передо мной была поставлена задача определить основные проблемы и пути трансформации медиапродукта, чтобы переломить ситуацию, связанную с увеличением отрыва по ключевым показателям основного конкурента, и вернуть СМИ утраченный авторитет среди читателей
						</p>
						<section class="workplace-achievements">
							<p class="workplace-achievements--title">Ключевые задачи и результаты:</p>
							<details class="achievements-item">
								<summary class="achievements-short">Аналитика метрик и пользовательского поведения</summary>
								<p class="details-text">
									На первом этапе работы (помимо текущей ежедневной деятельности, связанной с написанием статей, фотосъемки и подготовки графических материалов) я сосредоточился на анализе пользовательских метрик, выявлении сильных и слабых сторон медиа. Результатом стал перечень предложений по
									коррекции редакционной политики.
								</p>
							</details>
							<details class="achievements-item">
								<summary class="achievements-short">Старт редизайна сайта</summary>
								<p class="details-text">
									Будучи ещё заместителем главного редактора, я по распоряжению учредителя приступил к процессу редизайна сайта: изучил архитектуру сайта и метрики, провел глубинные интервью с пользователями, спроектировал интерфейс, подготовил ТЗ и контролировал старт процесса разработки.
								</p>
							</details>
						</section>
					</div>
				</div>
			</section>
			<section class="workplace animation-scroll-fadeup" id="pln-2010">
				<div class="workplace-container wrapper--indentation">
					<div class="workplace-head">
						<h3 class="workplace-name">Медиахолдинг «Гражданская пресса»</h3>
						<span class="workplace-site"><a class="workplace-link" href="https://rm60.ru" title="Сайт медиахолдинга «Гражданская пресса»" target="_blank">rm.60</a></span>
					</div>
					<div class="workplace-story">
						<span class="workplace-period">Декабрь 2010 — май 2013</span>
						<span class="workplace-position">Заместитель главного редактора «Псковской ленты новостей»</span>
					</div>
					<div class="workplace-body wrapper--indentation">
						<p class="article-text">
							В период моего первого периода работы в холдинге я <strong>совмещал редакторские и журналистские обязанности с функциями редакционного арт&#8209;директора</strong>: отвечал за иллюстративную часть работы, выполнял функции бильд&#8209;редактора, разрабатывал оформление рекламных
							материалов и новых проектов, а также подготовил редизайн сайта образца 2012 года.
						</p>
						<section class="workplace-achievements">
							<p class="workplace-achievements--title">Ключевые задачи и результаты:</p>
							<details class="achievements-item">
								<summary class="achievements-short">Редизайн сайта медиа</summary>
								<p class="details-text">
									Были проанализированы жалобы пользователей, связанные с интерфейсом, проработаны дополнительные сценарии пограничных случаев, упрощена навигация и реализация ключевых пользовательских сценариев, осовременен визуальный стиль сайта, а также предусмотрены новые и более эффективные
									рекламные форматы. Редизайн продемонстрировал позитивное влияние на рост ключевых метрик: на глубину просмотра и снижение отказов, а также на общую посещаемость.
								</p>
							</details>
							<details class="achievements-item">
								<summary class="achievements-short">Систематизация внутреннего репозитория изображений и фото</summary>
								<p class="details-text">Реализовал проект по систематизации и каталогизации хранения редакционного фотоархива на отдельном сервере, что сократило время на поиск необходимых иллюстраций и позволило увеличить покрытие иллюстрациями выходящих материалов.</p>
							</details>
						</section>
					</div>
				</div>
			</section>
		</section>
		<section id="aboutpage-bio" class="article-chapter wrapper--indentation animation-scroll-fadeup">
			<h2 class="article-chapter-title">Моя история</h2>
			<p class="article-text">
				Я родился в Пскове в семье журналистов. В 90-е родители создали один из первых в стране частных издательско-полиграфических комплексов «Курсив», и всё детство я проводил в типографии. С 9 класса начал подрабатывать на каникулах в компьютерном цеху, верстал в тогда ещё Aldus PageMaker
				и осваивал компьютерную графику в CorelDraw, Adobe Photoshop и Adobe Illustrator.
			</p>
			<p class="article-text">В освоении графического дизайна помогала и школьная специализация — я учился в классе отделения искусств по направлению изобразительного искусства и мировой художественной культуры.</p>
			<p class="article-text">Высшее образование получил на филологическом факультете Псковского государственного педагогического университета, который окончил с отличием в 2006 году. Специализировался на изучение <strong>семиотики</strong> — науки о знаках и знаковых коммуникативных системах.</p>
			<p class="article-text">
				Ещё в школе начал изучать программирование (Pascal, C++) и только зарождавшуюся тогда веб-разработку. Первые свои сайты написал в простом «Блокноте». Кстати, они уже тогда имели в меру адаптивный дизайн и модульную структуру. Подробнее об этом можно прочитать в разделе <strong>
					<a href="/webdev" title="Раздел с кейсами в области веб-разработки">«Веб-разработка»</a>
				</strong>.
			</p>
		</section>
	</section>
</LayoutSiteSection>

<style>
	.about-experience {
		& .workplace:not(:last-child) {
			margin-block-end: var(--space-l);
		}
	}

	.workplace {
		& .workplace-head {
			width: var(--content-width-main);
			margin-inline: auto;
			display: flex;
			flex-direction: column;
			width: var(--content-width-main);
			margin-inline: auto;
		}
		& .workplace-head {
			display: flex;
			align-items: center;
		}
		& .workplace-name {
			margin-inline-end: var(--space-main);
			text-align: center;
			&::before {
				content: "●";
				color: var(--color-brand-main);
				margin-inline-end: var(--space-s);
			}
		}
		.workplace-site {
			font-family: var(--font-family-secondary);
			font-size: var(--font-size-main);
			color: var(--color-link) !important;
			font-variation-settings:
				"opsz" 10,
				"wght" var(--font-weight-main),
				"GRAD" var(--font-grade-main);
		}
		& .workplace-story {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			width: var(--content-width-main);
			margin-inline: auto;
		}
		& .workplace-period {
			display: block;
			width: fit-content;
			margin-inline: auto;
			padding-block: var(--space-xxs);
			padding-inline: var(--space-xs);
			font-size: var(--font-size-xs);
			font-family: var(--font-family-secondary);
			color: var(--color-content-s);
			background: var(--color-bg-xh);
			border-radius: var(--space-main) var(--space-main) 0 0;
			@supports (corner-shape: squircle) {
				corner-shape: squircle;
			}
		}
		& .workplace-position {
			background: var(--color-bg-xs);
			border: 3px solid var(--color-bg-xh);
			border-radius: var(--radius-button-xxxl);
			padding-block: var(--space-xxs);
			padding-inline: var(--space-s);
			text-align: center;
			line-height: 1.3;
			font-size: var(--font-size-l);
			font-variation-settings:
				"opsz" 8,
				"wght" var(--font-weight-semibold),
				"GRAD" var(--font-grade-chapter-subtitle);
			@supports (corner-shape: squircle) {
				corner-shape: squircle;
			}
		}
		& .workplace-achievements {
			font-family: var(--font-family-secondary);
			width: var(--content-width-main);
			margin-inline: auto;
			display: flex;
			flex-direction: column;
			gap: var(--space-xs);
			& .workplace-achievements--title {
				color: var(--color-content-xxs);
				font-variation-settings:
					"opsz" 8,
					"wght" var(--font-weight-extrabold),
					"GRAD" var(--font-grade-chapter-subtitle);
			}
			& .achievements-item {
				background: radial-gradient(ellipse at top right, var(--color-brand-softest), transparent 65%);
				&[open] {
					background: radial-gradient(ellipse at top right, var(--color-brand-softest), transparent 65%);
				}
				& summary {
					font-size: var(--font-size-s);
					font-weight: var(--font-weight-bold);
				}
				& .details-text {
					font-size: var(--font-size-s);
					&:not(:last-child) {
						margin-block-end: var(--space-xs);
					}
				}
			}
		}
	}
</style>
