---
import LayoutSiteSection from "$layouts/LayoutSiteSection.astro";
---

<LayoutSiteSection title="Сергей Васильев: биография" headingTitle="Обо мне" description="Биография, опыт работы и достижения Сергея Васильева — продуктового дизайнера с опытом веб-разработки и управления медиа и IT-проектами из Пскова">
	<section class="article-body">
		<section id="aboutpage-intro" class="article-chapter wrapper--indentation animation-scroll-fadeup">
			<h2 class="article-chapter-title">Коротко</h2>
			<p class="article-text">Профессионально занимаюсь дизайном более 20 лет. Имею опыт работы независимым дизайнером, в студии, в качестве ведущего продуктового дизайна для онлайн-медиа, а также большой опыт управления проектами и командами.</p>
			<p class="article-text">Более 10 лет совмещаю практику с преподаванием:</p>
			<ul>
				<li>руководил дипломными проектами студентов и возглавлял государственную экзаменационную комиссию на факультете журналистики и PR ПсковГУ;</li>
				<li>преподавал на курсе «Основы веб-разработки» и инструменты дизайна (Figma) в CoffeeSchool;</li>
				<li>вел курсы по основам композиции в фотографии и фоторепортажу.</li>
			</ul>
		</section>
		<section id="about-experience" class="article-chapter about-experience wrapper--indentation">
			<h2 class="article-chapter-title">Опыт работы</h2>
			<section class="workplace animation-scroll-fadeup" id="CoffeeStudio">
				<div class="workplace-container wrapper--indentation">
					<div class="workplace-head">
						<h3 class="workplace-name">CoffeeStudio</h3>
						<span class="workplace-site"><a class="workplace-link" href="https://coffestudio.ru" title="Сайт агентства интернет-рекламы CoffeeStudio" target="_blank">coffestudio.ru</a></span>
					</div>
					<div class="workplace-story">
						<span class="workplace-period">Август 2024 — по настоящее время</span>
						<span class="workplace-position">Менеджер IT-проектов</span>
					</div>
					<div class="workplace-body wrapper--indentation">
						<p class="article-text">
							Руковожу полным циклом создания цифровых продуктов — от брифинга до запуска — в ведущей региональной студии интернет&#8209;маркетинга, специализирующейся на digital&#8209;рекламе и заказной веб&#8209;разработке. <strong>Совмещаю дизайнерскую и управленческую экспертизу для создания эффективных</strong>.
						</p>
						<p class="article-text">В качестве дизайн&#8209;лида курирую работу команды дизайнеров (планирование, ревью, развитие компетенций) и выступаю ключевым связующим звеном между отделом маркетинга и производством.</p>
						<section class="workplace-achievements">
							<p class="workplace-achievements--title">Ключевые задачи и результаты:</p>
							<details class="achievements-item">
								<summary class="achievements-short">Разработка платформы готовой инфраструктуры веб&#8209;проектов и CMS с WYSIWYG-редактором</summary>
								<p class="details-text">
									В качестве основного проектного менеджера курировал разработку платформы на базе стека Vue 3/Nuxt и Django, включая модуль WYSIWYG&#8209;CMS. Вел проект через все этапы: от концепции, проектирования архитектуры и разработки MVP до выпуска версии 2.0, внедрения в производственные процессы студии и создания на её основе клиентских сайтов. Внедрение платформы более чем вдвое ускорило разработку и сократило издержки на запуск новых сайтов.
								</p>
							</details>
							<details class="achievements-item">
								<summary class="achievements-short">Проектирование и прототипирование CRM и пользовательских сценариев</summary>
								<p class="details-text">Занимался проектированием пользовательских сценариев для клиентских сайтов и разделов CRM.</p>
								<p class="details-text">
									Есть опыт успешного экспресс-прототипирования концепции CRM для пресейл-переговоров с потенциальным клиентом без детального ТЗ и подробного описания бизнес-логики: созданный в течение рабочего дня интерактивный прототип был высоко оценён клиентом, что позволило компании заключить
									крупную сделку на разработку системы.
								</p>
							</details>
							<details class="achievements-item">
								<summary class="achievements-short">Проектный менеджмент (заказная разработка сайтов)</summary>
								<p class="details-text">
									Управлял полным циклом заказной разработки: от брифинга и подготовки смет до презентации результатов клиенту. В мои задачи входили перевод бизнес-требований в технические спецификации и дизайн-решения, проектирование, планирование, постановка задач командам дизайнеров, фронтенд- и бэкенд-разработки, а также контроль их выполнения. Благодаря комплексной экспертизе в дизайне, разработке и маркетинге регулярно оптимизировал процессы, что позволяло сокращать сроки и затраты на реализацию проектов без потери качества.
								</p>
							</details>
							<details class="achievements-item">
								<summary class="achievements-short">Разработка и доработка айдентики и гайдлайнов</summary>
								<p class="details-text">
									Как дизайнер участвовал в разработке и комплексном обновлении айдентики для клиентов студии, создавал дизайн-системы и интерактивные гайдлайны. Ключевой проект: обновление айдентики и создание интерактивного гайдлайна для одного из крупнейших российских вендоров ПО для банковского и корпоративного секторов, на основе которого в дальнейшем разрабатывались промо-лендинги продуктов.
								</p>
							</details>
							<details class="achievements-item">
								<summary class="achievements-short">Дизайн, прототипирование и вёрстка сайтов</summary>
								<p class="details-text">
									За полтора года полностью автономно, как дизайнер и разработчик, реализовал 8 проектов: создавал сайты на конструкторе Tilda и статичные SSG-сайты на стеке HTML, CSS, JS с использованием фреймворка Astro. Параллельно, в роли менеджера или исполнителя, участвовал в разработке
									и сдаче 6 крупных веб-проектов.
								</p>
							</details>
						</section>
					</div>
				</div>
			</section>
			<section class="workplace animation-scroll-fadeup" id="pln">
				<div class="workplace-container wrapper--indentation">
					<div class="workplace-head">
						<h3 class="workplace-name">Медиахолдинг «Гражданская пресса»</h3>
						<span class="workplace-site"><a class="workplace-link" href="https://rm60.ru" title="Сайт медиахолдинга «Гражданская пресса»" target="_blank">rm.60</a></span>
					</div>
					<div class="workplace-story">
						<span class="workplace-period">Июнь 2020 — август 2024</span>
						<span class="workplace-position">Руководитель отдела мультимедийной графики и веб-разработок</span>
					</div>
					<div class="workplace-body wrapper--indentation">
						<p class="article-text">
							Возглавлял дизайн-направление крупнейшего медиахолдинга Псковской области, включающий ведущие онлайн&#8209;СМИ, интернет&#8209;ТВ, радиостанции и рекламное агентство. <strong>Реорганизовал и масштабировал производственные процессы для оперативного создания графики и веб&#8209;продуктов для редакций и рекламного отдела. Разработал и внедрил единую дизайн&#8209;систему, на основе которой провел редизайн сайта флагманского медиа. Систематически анализировал продуктовые метрики и пользовательское поведение, чтобы адаптировать медиапродукты к изменениям на рынке.</strong> Курировал развитие айдентики брендов холдинга и запустил несколько новых медиапродуктов. Зона ответственности охватывала стратегию, операционное управление, непосредственную разработку и дизайн&#8209;процессы.
						</p>
						<section class="workplace-achievements">
							<p class="workplace-achievements--title">Ключевые задачи и результаты:</p>
							<details class="achievements-item">
								<summary class="achievements-short">Разработка дизайн-системы и редизайн сайта флагманского СМИ медиахолдинга</summary>
								<p class="details-text">
									Создал гибкую и масштабируемую дизайн&#8209;систему, которая заложила основу для редизайна сайта флагманского издания. Система подняла визуальное и пользовательское качество продукта до современных стандартов, укрепила консистентность и узнаваемость бренда, а также значительно
									сократила время и ресурсы на производство графических и рекламных материалов. На её базе также была разработана айдентика для десятков медиапродуктов и создан новый сайт холдинга.
								</p>
								<p class="details-text">
									Редизайн сайта значительно улучшил пользовательский опыт для основной аудитории (в частности, это отразилось во взаимосвязанном росте метрик проведённого на сайте времени и глубины просмотра (в том числе — снижении доли заходов с глубиной 1)), создал новые инструменты монетизации. <a
										class="details-text--link"
										href="/design/design-systems/pln-redesign"
										title="Кейс создания дизайн-системы и редизайна «Псковской ленты новостей»">
										(Подробнее >>>)
									</a>
								</p>
							</details>
							<details class="achievements-item">
								<summary class="achievements-short">Разработка, внедрение и производство новых медиаформатов и медиапродуктов</summary>
								<p class="details-text">
									Наладил потоковое производство с минимальными накладными расходами информационных и коммерческих лонгридов (лендингов) и инфографики. Это позволио компании расширило информационную палитру СМИ и стало дополнительным источником продаж в условиях технического ограничения рекламных
									носителей.
								</p>
							</details>
							<details class="achievements-item">
								<summary class="achievements-short">Аналитика пользовательского поведения и тестирование гипотез</summary>
								<p class="details-text">
									На постоянной основе проводил мониторинг и анализ статистических данных и метрик пользовательского поведения, отслеживал тренды медиапотребления. На основе данных формировал и тестировал гипотезы для корректировки работы медиа, а также готовил аналитические отчёты с рекомендациями
									по развитию медиапродуктов.
								</p>
							</details>
							<details class="achievements-item">
								<summary class="achievements-short">Модернизация процесса прямых трансляций</summary>
								<p class="details-text">
									Усовершенствовал процесс и качество организации ежедневных прямых видеотрансляций радиопередач: подобрал оптимальный по соотношению цена\качество комплект необходимого оборудования, нашёл и настроил ПО для управления титрами, разработал шаблоны заставок радиопередач. В последствии
									подготовил дизайн-макет обновления и брендирования радиостудии.
								</p>
							</details>
						</section>
					</div>
				</div>
			</section>
			<section class="workplace animation-scroll-fadeup" id="mhpo">
				<div class="workplace-container wrapper--indentation">
					<div class="workplace-head">
						<h3 class="workplace-name">ГП ПО «Медиахолдинг Псковской области»</h3>
						<!-- <span class="workplace-site"><a class="workplace-link" href="https://mhpsk.ru" title="Сайт «Медиахолдинга Псковской области»" target="_blank">mhpsk.ru</a></span> -->
					</div>
					<div class="workplace-story">
						<span class="workplace-period">Февраль 2017 — май 2020</span>
						<span class="workplace-position">Креативный редактор холдинга</span>
					</div>
					<div class="workplace-body wrapper--indentation">
						<p class="article-text">
							На позиции креативного редактора государственного медиахолдинга, в состав которого входили районные газеты, радиостанции и крупное новостное СМИ, я сосредоточился на <strong>трансформации ключевых медиапродуктов и внедрении новых форматов</strong>. При этом занимался как стратегическим
							планированием, так и выступал в роли ведущего продуктового дизайнера и арбитра визуальной стратегии.
						</p>
						<section class="workplace-achievements">
							<p class="workplace-achievements--title">Ключевые задачи и результаты:</p>
							<details class="achievements-item">
								<summary class="achievements-short">Разработка и внедрение дизайн-системы для объединения 20+ муниципальных газет</summary>
								<p class="details-text">
									Разработал и внедрил унифицированную дизайн-систему для консолидации производства более 20 газет. Система включала детальные гайдлайны, автоматизацию и адаптивные шаблоны. После обучения команды процесс верстки был реорганизован по кустовому методу. Это сократило команду
									верстальщиков с 20+ до 7 человек, обеспечив экономию более 2600 человеко-часов в месяц. <a
										class="details-text--link"
										href="/design/design-systems/municipal-newspaper-guideline"
										title="Кейс разработки и внедрения дизайн‑системы и унифицированного шаблона для объединения муниципальных газет Псковской области">
										(Подробнее >>>)
									</a>
								</p>
							</details>
							<details class="achievements-item">
								<summary class="achievements-short">Редизайн печатного макета и сайта газеты «Псковская правда»</summary>
								<p class="details-text">К 100-летнему юбилею газеты разработал и внедрил новую визуальную концепцию и макет. Также управлял проектом редизайна сайта «Псковской правды», координируя работу штатного разработчика редакции для создания согласованного цифрового воплощения бренда.</p>
							</details>
							<details class="achievements-item">
								<summary class="achievements-short">Создание мобильной версии сайта «Псковского агентства информации»</summary>
								<p class="details-text">
									Разработал и внедрил мобильную версию сайта флагманского СМИ холдинга. Решение не только привлекло новую аудиторию, но и после выхода аналогичной версии у ближайшего конкурента — стабильно показывало лучшие результаты по ключевым метрикам юзабилити и пользовательской
									удовлетворенности.
								</p>
							</details>
						</section>
					</div>
					<div class="workplace-story">
						<span class="workplace-period">Ноябрь 2013 — январь 2017</span>
						<span class="workplace-position">Главный редактор «Псковского агентства информации»</span>
					</div>
					<div class="workplace-body wrapper--indentation">
						<p class="article-text">
							Руководил редакцией флагманского новостного сайта, отвечая за его стратегическое развитие. <strong>
								Моя роль выходила за рамки традиционного редакционного управления и включала полный продуктовый цикл — от гипотез и дизайна до реализации. Таким образом, в перечень моих задач входили задачи продукт-менеджера, а также продуктового и коммуникационного дизайн-лида
							</strong>.
						</p>
						<section class="workplace-achievements">
							<p class="workplace-achievements--title">Ключевые задачи и результаты:</p>
							<details class="achievements-item">
								<summary class="achievements-short">Рост показателей основных продуктовых метрик</summary>
								<p class="details-text">
									За время моего руководства отрыв в среднесуточной посещаемости от основного конкурента («Псковской ленты новостей») сократился с 3–4 раз до максимум 1,5–2 раз. По ряду ключевых метрик редакция не только догнала, но и превзошла конкурента. В течение нескольких лет издание также
									устойчиво занимало первое место в регионе по индексу цитирования.
								</p>
							</details>
							<details class="achievements-item">
								<summary class="achievements-short">Редизайн сайта</summary>
								<p class="details-text">Провёл аудит интерфейса и исследование пользовательских предпочтений, на основе которых разработал новый дизайн сайта. Подготовил технические требования, курировал разработку и внедрение, а впоследствии — доработку и добавление новой функциональности.</p>
								<p class="details-text">
									Редизайн получил положительные отклики и сразу привёл к росту ключевых метрик: посещаемости, вовлечённости (шеринг, глубина и время просмотра, доскролл) и размера ядра аудитории. Созданный дизайн оставался актуальным и успешно функционировал почти 7 лет — до 2020 года.
								</p>
							</details>
							<details class="achievements-item">
								<summary class="achievements-short">Внедрение новых рекламных и медиа&#8209;форматов</summary>
								<p class="details-text">
									В начале 2014 года я самостоятельно подготовил текст, спроектировал дизайн и разработал первый на местном медиарынке мультимедийный <strong>лонгрид</strong> — <a class="details-text--link" href="https://informpskov.ru/turchak5years" title="Лонгрид «Пятилетка Турчака»">
										«Пятилетка Турчака»
									</a>. Это сделало ПАИ пионером в использовании формата больших мультимедийных лонгридов в регионе и одним из первых в России, где в то время его начинали осваивать лишь несколько крупных федеральных изданий.
								</p>
								<p class="details-text">Впоследствии этот формат стал очень популярным и позволил агентству расширить палитру рекламных предложений, а также на протяжении нескольких лет оставался его эксклюзивным преимуществом.</p>
								<p class="details-text">
									Также запустил раздел <strong>инфографики, текстовые онлайн-трансляции мероприятий</strong> и первые в области <strong>видео-трансляции спортивных событий</strong>. В период моего руководства были внедрены <strong>интерактивные квизы</strong> и <strong>
										современные форматы нативной рекламы
									</strong>.
								</p>
							</details>
						</section>
					</div>
					<div class="workplace-story">
						<span class="workplace-period">Июнь 2013 — октябрь 2013</span>
						<span class="workplace-position">Заместитель главного редактора «Псковского агентства информации»</span>
					</div>
					<div class="workplace-body wrapper--indentation">
						<p class="article-text">
							На позиции заместителя главного редактора возглавил работу по анализу и трансформации медиапродукта. Моей ключевой задачей стало <strong>выявление основных проблем и разработка стратегии</strong>, чтобы сократить растущий отрыв от лидирующего конкурента и восстановить утраченный
							авторитет издания среди аудитории.
						</p>
						<section class="workplace-achievements">
							<p class="workplace-achievements--title">Ключевые задачи и результаты:</p>
							<details class="achievements-item">
								<summary class="achievements-short">Аналитика метрик и пользовательского поведения</summary>
								<p class="details-text">
									Параллельно с текущей редакционной работой — написанием материалов, фотосъемкой и созданием графики — провёл глубокий анализ пользовательских метрик и поведения аудитории. Это позволило выявить ключевые точки роста и проблемные зоны продукта, а также сформировать пакет конкретных
									предложений по корректировке редакционной политики.
								</p>
							</details>
						</section>
					</div>
				</div>
			</section>
			<section class="workplace animation-scroll-fadeup" id="pln-2010">
				<div class="workplace-container wrapper--indentation">
					<div class="workplace-head">
						<h3 class="workplace-name">Медиахолдинг «Гражданская пресса»</h3>
						<span class="workplace-site"><a class="workplace-link" href="https://rm60.ru" title="Сайт медиахолдинга «Гражданская пресса»" target="_blank">rm.60</a></span>
					</div>
					<div class="workplace-story">
						<span class="workplace-period">Декабрь 2010 — май 2013</span>
						<span class="workplace-position">Заместитель главного редактора «Псковской ленты новостей»</span>
					</div>
					<div class="workplace-body wrapper--indentation">
						<p class="article-text">
							В первый период работы в холдинге <strong>совмещал редакторские и журналистские обязанности с ролью редакционного арт&#8209;директора</strong>. Отвечал за иллюстративную часть, выполнял функции бильд&#8209;редактора, разрабатывал оформление рекламных материалов и новых проектов,
							а также подготовил и реализовал полный редизайн сайта издания (2012 г.).
						</p>
						<section class="workplace-achievements">
							<p class="workplace-achievements--title">Ключевые задачи и результаты:</p>
							<details class="achievements-item">
								<summary class="achievements-short">Редизайн сайта медиа</summary>
								<p class="details-text">
									Провел комплексный редизайн, основанный на анализе пользовательских жалоб и сценариев поведения. Упростил навигацию и ключевые пользовательские пути, осовременил визуальный стиль и внедрил новые, более эффективные рекламные форматы. В результате выросли ключевые метрики:
									увеличились глубина просмотра и общая посещаемость, снизился процент отказов.
								</p>
							</details>
							<details class="achievements-item">
								<summary class="achievements-short">Систематизация внутреннего репозитория изображений и фото</summary>
								<p class="details-text">Реализовал проект по централизации и каталогизации редакционного фотоархива на выделенном сервере. Это позволило значительно ускорить поиск иллюстраций и повысить качество визуального оформления материалов за счёт более полного использования архива.</p>
							</details>
						</section>
					</div>
				</div>
			</section>
		</section>
		<section id="aboutpage-bio" class="article-chapter wrapper--indentation animation-scroll-fadeup">
			<h2 class="article-chapter-title">Моя история</h2>
			<p class="article-text">
				Я родился в Пскове в семье журналистов. В 90-е годы мои родители основали один из первых в стране частных издательско-полиграфических комплексов — «Курсив», поэтому всё детство я провёл в издательстве, с самого начала погружаясь в мир производства креативного контента и дизайна.
			</p>
			<p class="article-text">Уже с 9 класса начал подрабатывать дизайнером-верстальщиком в компьютерном цеху. Дополнительным фундаментом стало обучение в классе с художественно-эстетическим уклоном, где я изучал изобразительное искусство и мировую художественную культуру.</p>
			<p class="article-text">
				Высшее образование получил на филологическом факультете Псковского государственного педагогического университета, окончил его с отличием в 2006 году. <mark>
					В центре академических интересов была <strong>семиотика</strong> — наука о знаках и коммуникативных системах, что позже стало теоретической основой для работы с интерфейсами и визуальными коммуникациями.
				</mark>
			</p>
			<p class="article-text">
				Параллельно ещё в школе начал изучать программирование (Pascal, C++) и веб-разработку. Первые сайты создавал в обычном «Блокноте», уже тогда закладывая в них модульную структуру и адаптивность. Подробнее об этом можно прочитать в разделе<strong>
					<a href="/webdev" title="Раздел с кейсами в области веб-разработки">«Веб-разработка»</a>
				</strong>.
			</p>
		</section>
	</section>
</LayoutSiteSection>

<style>
	.about-experience {
		& .workplace:not(:last-child) {
			margin-block-end: var(--space-l);
		}
	}

	.workplace {
		& .workplace-head {
			width: var(--content-width-main);
			margin-inline: auto;
			display: flex;
			flex-direction: column;
			width: var(--content-width-main);
			margin-inline: auto;
		}
		& .workplace-head {
			display: flex;
			align-items: center;
		}
		& .workplace-name {
			margin-inline-end: var(--space-main);
			text-align: center;
			&::before {
				content: "●";
				color: var(--color-brand-main);
				margin-inline-end: var(--space-s);
			}
		}
		.workplace-site {
			font-family: var(--font-family-secondary);
			font-size: var(--font-size-main);
			color: var(--color-link) !important;
			font-variation-settings:
				"opsz" 10,
				"wght" var(--font-weight-main),
				"GRAD" var(--font-grade-main);
		}
		& .workplace-story {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			width: var(--content-width-main);
			margin-inline: auto;
		}
		& .workplace-period {
			display: block;
			width: fit-content;
			margin-inline: auto;
			padding-block: var(--space-xxs);
			padding-inline: var(--space-xs);
			font-size: var(--font-size-xs);
			font-family: var(--font-family-secondary);
			color: var(--color-content-s);
			background: var(--color-bg-xh);
			border-radius: var(--space-main) var(--space-main) 0 0;
			@supports (corner-shape: squircle) {
				corner-shape: squircle;
			}
		}
		& .workplace-position {
			background: var(--color-bg-xs);
			border: 3px solid var(--color-bg-xh);
			border-radius: var(--radius-button-xxxl);
			padding-block: var(--space-xxs);
			padding-inline: var(--space-s);
			text-align: center;
			line-height: 1.3;
			font-size: var(--font-size-l);
			font-variation-settings:
				"opsz" 8,
				"wght" var(--font-weight-semibold),
				"GRAD" var(--font-grade-chapter-subtitle);
			@supports (corner-shape: squircle) {
				corner-shape: squircle;
			}
		}
		& .workplace-achievements {
			font-family: var(--font-family-secondary);
			width: var(--content-width-main);
			margin-inline: auto;
			display: flex;
			flex-direction: column;
			gap: var(--space-xs);
			& .workplace-achievements--title {
				color: var(--color-content-xxs);
				font-variation-settings:
					"opsz" 8,
					"wght" var(--font-weight-extrabold),
					"GRAD" var(--font-grade-chapter-subtitle);
			}
			& .achievements-item {
				background: radial-gradient(ellipse at top right, var(--color-brand-softest), transparent 65%);
				&[open] {
					background: radial-gradient(ellipse at top right, var(--color-brand-softest), transparent 65%);
				}
				& summary {
					font-size: var(--font-size-s);
					font-weight: var(--font-weight-bold);
				}
				& .details-text {
					font-size: var(--font-size-s);
					&:not(:last-child) {
						margin-block-end: var(--space-xs);
					}
				}
			}
		}
	}
</style>
