---
import LayoutIndex from "../layouts/Layout_index.astro";
import Intro from "../components/atoms/Intro.astro";
import Hero from '../components/atoms/Hero.astro';
import DepartTags from "../components/atoms/DepartTags.astro";

---

<LayoutIndex title="Сергей Васильев: портфолио" description="Портфолио, биография и навыки работы продуктового дизайнера, веб-разработчика, редактора, журналиста, фотографа и менеджера IT-проектов Сергей Васильева из Пскова">
	<Intro />
  <Hero />
  <DepartTags />
  <h2>Несколько слова обо мне</h2>
  <p>ыываыв</p>
  <p>ыываыв</p>
  <p>ыываыв</p>
  <p>ыываыв</p>
  <p>ыываыв</p>
  <p>ыываыв</p>
  <p>ыываыв</p>
  <p>ыываыв</p>
  <p>ыываыв</p>
  <p>ыываыв</p>
  <p>ыываыв</p>
  <p>ыываыв</p>
  <p>ыываыв</p>
  <p>ыываыв</p>
  <p>ыываыв</p>
  <p>ыываыв</p>
  <p>ыываыв</p>
  <p>ыываыв</p>
  <p>ыываыв</p>
  <p>ыываыв</p>
</LayoutIndex>

