---
import LayoutSiteSection from "$layouts/LayoutSiteSection.astro";
import CardDev from "$components/ui/CardDev.astro";
---

<LayoutSiteSection title="Сергей Васильев: веб-разработка" headingTitle="Веб-разработка" description="Описание проектов в области веб-разработки: первые сайты, примеры выполненных сайтов и лендингов, истории создания UI-китов">
	<section class="article-body">
		<section id="webdev-intro" class="article-chapter wrapper--indentation">
			<h2 class="article-chapter-title">Коротко</h2>
			<div class="article-inset width-w">
				<p class="article-text">
					<strong>Мои практические навыки подтверждает этот сайт — он самописный, сверстан вручную на классическом стеке HTML/CSS/JS с использованием фреймворка Astro v5.x</strong>. Все анимации и эффекты реализованы без конструкторов, с минимальным применением сторонних библиотек. Код проекта открыт и доступен для изучения в моём репозитории на GitHub.
				</p>
			</div>
			<p class="article-text">
				Кроме того, в рамках редизайна высоконагруженного сайта онлайн-медиа «Псковская лента новостей» (MAU >500 тысяч, база >500 тысяч страниц) мной были разработаны CSS-стили и HTML-разметка, а также JS-скрипты для всех основных шаблонов и компонентов. <a href="/design/design-systems/pln-redesign" title="Читать кейс о редизайне сайта «Псковской ленты новостей»">Подробности >>></a>.
			</p>
		</section>
		<section id="webdev-intro" class="article-chapter wrapper--indentation">
			<h2 class="article-chapter-title">Примеры заказной разработки сайтов</h2>
			<p class="article-text">В этих проектах я комплексно выполнял роли менеджера, дизайнера и разработчика, что обеспечивало полный контроль над процессом от концепции до реализации. Примеры включают мультиязычный сайт-портфолио для художника, созданный на фреймворке Astro с динамическим рендерингом данных из JSON, а также ряд проектов, разработанных на платформе Tilda. Этот набор демонстрирует гибкость в выборе технологий в зависимости от конкретных задач и требований заказчика.</p>
		</section>
		<section id="webdev-intro" class="article-chapter fullwidth wrapper--indentation animation-scroll-fadeup">
			<div class="collection collection-twoitems">
				<CardDev cover="/assets/img/dev/screens/nvilvovskaya.webp" caption="Сайт Наталии Вильвовской" link="https://nvilvovskaya.com" />
				<CardDev cover="/assets/img/dev/screens/finist.webp" caption="Лендинги ключевых продуктов банковского и корпоративного ПО компании «Финист-софт»" link="https://products.finist-soft.ru" />
				<CardDev cover="/assets/img/dev/screens/kampoteks.webp" caption="Сайт швейной фабрики «Кампотекс»" link="https://kampoteks.ru" />
				<CardDev cover="/assets/img/dev/screens/ag60.webp" caption="Сайт компании «Автономная газификация»" link="https://ag60.ru" />
			</div>
		</section>
		<section id="webdev-intro" class="article-chapter wrapper--indentation">
			<h2 class="article-chapter-title">Примеры лендингов / лонгридов</h2>
			<p class="article-text">В «Псковской ленте новостей» (2020-2024):</p>
		</section>
		<section id="webdev-intro" class="article-chapter fullwidth wrapper--indentation animation-scroll-fadeup">
			<div class="collection">
				<CardDev cover="/assets/img/dev/screens/wedding.webp" caption="Свадьба от А до Я" link="https://home.pln24.ru/lngrd/142/index.html" />
				<CardDev cover="/assets/img/dev/screens/covid.webp" caption="Коронный год: хроника развития пандемии" link="https://home.pln24.ru/ig/53/index.html" />
				<CardDev cover="/assets/img/dev/screens/travel.webp" caption="В делёкие края: как отправиться в путешествие" link="https://home.pln24.ru/lngrd/141/index.html" />
				<CardDev cover="/assets/img/dev/screens/geely.webp" caption="Обзор купе-кроссовера Geely Tugella" link="https://home.pln24.ru/lngrd/182/index.html" />
				<CardDev cover="/assets/img/dev/screens/yogurt.webp" caption="Сила живых бактерий" link="https://home.pln24.ru/lngrd/108/index.html" />
				<CardDev cover="/assets/img/dev/screens/motherhood.webp" caption="Счастливое материнство: обзор-антистресс" link="https://home.pln24.ru/lngrd/167/index.html" />
				<CardDev cover="/assets/img/dev/screens/vl-dynamic.webp" caption="Великолукская динамика: I квартал 2023" link="https://home.pln24.ru/lngrd/170/index.html" />
				<CardDev cover="/assets/img/dev/screens/city-park.webp" caption="«Здесь будет город-парк»" link="https://home.pln24.ru/lngrd/81/index.html" />
				<CardDev cover="/assets/img/dev/screens/gorvodokanal.webp" caption="Псковский горводоканал: 89 лет прогресса" link="https://home.pln24.ru/lngrd/176/index.html" />
			</div>
		</section>
		<section id="webdev-intro" class="article-chapter wrapper--indentation">
			<p class="article-text">В «Псковском агентстве информации» (2014-2020):</p>
		</section>
		<section id="webdev-intro" class="article-chapter fullwidth wrapper--indentation animation-scroll-fadeup">
			<div class="collection">
				<CardDev cover="/assets/img/dev/screens/turchak5years.webp" caption="Пятилетка Турчака" link="https://informpskov.ru/turchak5years" />
				<CardDev cover="/assets/img/dev/screens/pskovtreasure.webp" caption="Псковские сокровища" link="https://informpskov.ru/pskovtreasure" />
				<CardDev cover="/assets/img/dev/screens/pskov1917.webp" caption="Отречение" link="https://informpskov.ru/pskov1917" />
				<CardDev cover="/assets/img/dev/screens/mobilemyth.webp" caption="Мобильные мифы" link="https://informpskov.ru/mobilemyth" />
				<CardDev cover="/assets/img/dev/screens/pskovadventure.webp" caption="Приключения американца в России в 1920 году" link="https://informpskov.ru/pskovadventure" />
				<CardDev cover="/assets/img/dev/screens/gerb_flag.webp" caption="10 вопросов о проекте флага и герба" link="https://informpskov.ru/gerb_flag" />
			</div>
		</section>
		<section id="webdev-story" class="article-chapter wrapper--indentation">
			<h2 class="article-chapter-title">Первые сайты</h2>
			<p class="article-text">
				Мой путь в веб-разработке начался в 2000 году, ещё в школьные годы. Первые сайты я создавал в обычном «Блокноте» — без фреймворков, сборщиков и даже отдельных CSS&#8209;файлов, используя только табличную вёрстку. Среди них был <strong>
					<a href="https://pleskov.narod.ru/" rel="nofollow" target="_blank">сайт о моём родном городе Пскове</a>
				</strong>, а затем — полноценное онлайн&#8209;медиа <strong>
					<a href="https://web.archive.org/web/20010603221923/http://province.hut.ru/files.shtml" rel="nofollow" target="_blank">«Взгляд из провинции»</a>
				</strong>. Это был, по сути, первый интернет-проект такого формата в Псковской области: на сайте под псевдонимом публиковались статьи моего отца, журналиста и редактора Виктора Васильева, работали форум и почтовая рассылка.
			</p>
			<p class="article-text">Интересно, что даже спустя годы эти сайты сохраняют адаптивность и целостность дизайна — они корректно отображаются даже на современных 4К&#8209;мониторах.</p>
			<div id="first-site-examples" class="animation-scroll-fadeup">
				<a href="https://pleskov.narod.ru/" title="Посмотреть сайт pleskov.narod.ru" target="_blank">
					<img src="/assets/img/dev/old-site-pleskov.webp" id="old-site-pleskov" class="old-site-img" alt="Сайт pleskov.narod.ru" />
				</a>
				<a href="https://web.archive.org/web/20010517002351/http://province.hut.ru/" title="Посмотреть сайт «Взгляд из провинции» province.hut.ru в web-архиве" target="_blank">
					<img src="/assets/img/dev/old-site-province.webp" id="old-site-province" class="old-site-img" alt="Сайт «Взгляд из провинции» province.hut.ru" />
				</a>
			</div>
			<section class="article-inset article-inset--columns width-xw wrapper--indentation animation-scroll-fadeup">
				<p class="article-text">Это было удивительное время: интернет был небольшим сообществом, и наши школьные проекты из Пскова порой упоминали в федеральных медиа и обзорах звёзд раннего Рунета. Позже этот опыт вдохновил меня на идею документального проекта об истории Рунета в провинции — к сожалению, удалось выпустить только первый пилотный выпуск.</p>
				<div class="article-inset--video">
					<iframe src="https://vkvideo.ru/video_ext.php?oid=-1205247&id=456254320" width="100%" height="auto" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0"></iframe>
				</div>
			</section>
		</section>
	</section>
</LayoutSiteSection>

<style>
	.collection {
		margin-block: var(--space-md);
	}

	#first-site-examples {
		width: min(100%, 250rem);
		margin-inline: auto;
		display: flex;
		gap: var(--space-main);
		justify-content: center;
		& > * {
			width: min(100%, 420px);
		}
		& #old-site-pleskov {
			transform: translate(0.5rem, 1.5rem);
			rotate: -9deg;
		}
		& #old-site-province {
			transform: translate(0.2rem, 1.7rem);
			rotate: 8deg;
		}
	}
</style>
