---
import Logo from "../components/atoms/Logo.astro";
import HeaderControls from "../components/atoms/HeaderControls.astro";
---

<header>
	<Logo />
	<HeaderControls />
</header>
<div class="progressive-blur-container">
	<div class="blur-filter"></div>
	<div class="blur-filter"></div>
	<div class="blur-filter"></div>
	<div class="blur-filter"></div>
	<div class="blur-filter"></div>
	<div class="blur-filter"></div>
	<div class="gradient"></div>
</div>

<style is:global>
	header {
		position: fixed;
		top: 0;
		z-index: +10000;
		padding-inline: var(--spacing-main);
		padding-block: var(--spacing-s);
		width: 100%;
		display: grid;
		grid-template-columns: auto auto;
		justify-content: space-between;
    align-items: center;
		@media screen and (width >= 1200px) {
			padding-inline: var(--spacing-xl);
		}
	}
	.sv_signature {
		width: min(16rem, 58vw);
    filter: drop-shadow(.1rem .5rem .5rem var(--color-bg-main));
	}
	.progressive-blur-container {
		position: fixed;
    width: 100%;
    z-index: 5;
    inset: 0 0 auto;
    height: 7rem;
    pointer-events: none;
    &:before {
      position: absolute;
      inset: 0;
      content: "";
      z-index: 1;
      backdrop-filter: blur(.5px);
      -webkit-backdrop-filter: blur(.5px);
      mask: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 25%, rgba(0, 0, 0, 0) 37.5%);
    }
    &:after {
      position: absolute;
      inset: 0;
      content: "";
      z-index: 8;
      backdrop-filter: blur(64px);
      -webkit-backdrop-filter: blur(64px);
      mask: linear-gradient(to top, rgba(0, 0, 0, 0) 87.5%, rgb(0, 0, 0) 100%);
    }
	}

	.progressive-blur-container > .blur-filter {
		position: absolute;
		inset: 0;
	}

	.progressive-blur-container > .blur-filter:nth-child(1) {
		z-index: 2;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    mask: linear-gradient(to top, rgba(0, 0, 0, 0) 12.5%, rgb(0, 0, 0) 25%, rgb(0, 0, 0) 37.5%, rgba(0, 0, 0, 0) 50%);
	}

	.progressive-blur-container > .blur-filter:nth-child(2) {
		z-index: 3;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    mask: linear-gradient(to top, rgba(0, 0, 0, 0) 25%, rgb(0, 0, 0) 37.5%, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 62.5%);
	}

	.progressive-blur-container > .blur-filter:nth-child(3) {
		z-index: 4;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    mask: linear-gradient(to top, rgba(0, 0, 0, 0) 37.5%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 62.5%, rgba(0, 0, 0, 0) 75%);
	}

	.progressive-blur-container > .blur-filter:nth-child(4) {
		z-index: 5;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    mask: linear-gradient(to top, rgba(0, 0, 0, 0) 50%, rgb(0, 0, 0) 62.5%, rgb(0, 0, 0) 75%, rgba(0, 0, 0, 0) 87.5%);
	}

	.progressive-blur-container > .blur-filter:nth-child(5) {
		z-index: 6;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    mask: linear-gradient(to top, rgba(0, 0, 0, 0) 62.5%, rgb(0, 0, 0) 75%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%);
	}

	.progressive-blur-container > .blur-filter:nth-child(6) {
		z-index: 7;
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    mask: linear-gradient(to top, rgba(0, 0, 0, 0) 75%, rgb(0, 0, 0) 87.5%, rgb(0, 0, 0) 100%);
	}

	.progressive-blur-container > .gradient {
		position: absolute;
		inset: 0;
		background: linear-gradient(to bottom, var(--color-bg-main) 35%, transparent);
    opacity: .85;
	}
</style>

<script is:inline src="/assets/scripts/buttonsicon.js"></script>
