<a href="/" class="logo--wrapper" title="На главную" tabindex="0">
  <?xml version="1.0" encoding="UTF-8"?>
  <svg id="sv_signature" class="sv_signature" data-name="sv_signature" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 24">
  <defs>
    <style>
      path {
        fill: none;
        stroke: var(--color-brand-main, #6667AB);
        stroke-linejoin: miter;
        stroke-miterlimit: 4;
        stroke-width: 0.75px;
      }
      @media (prefers-color-scheme: dark) {
        path { stroke: var(--color-brand-xs, #ccccff); }
      }
    </style>
  </defs>
  <path id="sign1" class="sugnature_sign" d="M8.23,9.18c.77.02,2.05-.47,2.57-1.21.8-1.13.2-2.22-1.04-2.2-2.51.04-8.68,6.31-4.78,8.4,2.19,1.17,7.16-1.09,8.9-5.51,1.23-3.13-.99-5.95-3.64-6-5.55-.11-13.92,9.36-7.57,13.91,3.99,2.87,11.46-.71,13.64-4.92.47-1.13-.49-1.38-1.63-.14-1.84,1.8-1.32,5.87,1.86,3.67,1.35-.93,2.6-2.82,3.61-4.03.24-.26.33-.26.3.02-.56,2.31-2.21,8.56-3.96,11.36-.52.82-1.38,1.18-1.33-.33.49-4.04,3.29-8.61,6.8-10.8,2.89-1.11,1.02,3.43-.03,4.21-.17.2-.81.68-.74.16.12-.58,1.29-1.82,2.72-2.88.71-.49,3.61-2.26,3.83-1.26.1.48-.44.95-1.19,1.87-3.15,3.86,3.46,2.17,5.23-.35,1.32-1.52.94-3.16-.91-1.3-1.54,1.65-1.27,4.82,1.22,3.66,1.29-.6,2.48-2.61,3.44-3.6.15-.13.23-.12.25.06.02.51-1.09,3.49-.35,3.76.56.2,1.03-.3,1.46-.68.66-.66,1-1.64,1.56-2.41.46-.57.77-1.13.95-.66.09.81-.21,2.58-.47,3.34-.75,2.13-1.48-4.13-1.71-5.55-.59-4.01,4.74-5.37,8.26-4.65"/>
  <path id="sign2" class="sugnature_sign" d="M54.61,0c-.64,1.62-4.96,16.83-9.4,17.16-2.25.17-2.56-2.07-2.07-3.15"/>
  <path id="sign3" class="sugnature_sign" d="M45.44,11.09c1.56-2.99,4.84-6.14,6.93-6.62,1.64-.44,2.16,1.06,1.41,2.42-.66,1.49-2.52,4.17-4.05,4.46-.22,0-.14-.67.23-.94,1.29-1.08,3.8-1.97,3.81,1.1,0,4.41-3.36,6.86-5.82,3.9"/>
  <path id="sign4" class="sugnature_sign" d="M58.95,12.85c.29-1.2-.26-2.71-1.6-2.18-1.34.57-2.59,2.56-2.59,4.16,0,1.85,2.24.89,2.72-.46.27-.55.4-1.18.53-1.18s-.85,3.38.73,2.26c.61-.43,1.19-1.05,1.98-2.24"/>
  <path id="sign5" class="sugnature_sign" d="M63.7,12.25c-.11-3.3-2.86-.29-3.12,1.57-.24,1.14.39,2.73,1.74,1.85,1.34-.73,2.8-3.46,2.94-3.88.13-.38.33-.53.51-.52.36.03-.47,1.32-.62,1.98-1.3,5.8,3.16-.16,3.97-1.57.46-.65.34-.13.2.38-.32,1.43-1.47,5.11,1.11,2.59.7-.58.43,2.1,1.75.5.85-1.04,1.66-3.26,2.24-4.31.04-.02,0,.23-.08.7-.12.85-.76,4.77,1.01,3.97,1.07-.66,1.91-4.15,2.17-4.51s-.35,1.15-.43,1.54c-.19.88-.41,1.76-.05,2.65.39.96,1.3.29,1.44-.25.19-.53-.76-1.52-.44-1.56,1.29.02,3.76.17,4.75-.77.83-.79.37-1.37-.12-1.39-1.38-.05-3.05,5.34-.42,4.77,3.16-1.15,8.42-11.5,7.4-13.43-.22-.41-.54.08-1.01.61-2.32,2.64-3.8,7.61-3.57,11.16.11,1.66,1.38,2.04,2.71.76.62-.6,1.13-1.62,1.05-2.36-.02-.39-.11-.61-.13-.69-.02-.06-.02-.04.05.03.84.64,2.38-.09,3.38-.39,3.25-1.31,4.1-1.14,7.46-.36"/>
  </svg>
</a>