---

---

<div class="progressive-blur-container">
	<div class="blur-filter"></div>
	<div class="blur-filter"></div>
	<div class="blur-filter"></div>
	<div class="blur-filter"></div>
	<div class="blur-filter"></div>
	<div class="blur-filter"></div>
	<div class="gradient"></div>
</div>

<style>
	.progressive-blur-container {
		position: fixed;
		width: 100%;
		z-index: 5;
		inset: 0 0 auto;
		height: 7rem;
		pointer-events: none;
		&:before {
			position: absolute;
			inset: 0;
			content: "";
			z-index: 1;
			-webkit-backdrop-filter: blur(1px);
			backdrop-filter: blur(1px);
			mask: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 12.5%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0) 37.5%);
		}
		&:after {
			position: absolute;
			inset: 0;
			content: "";
			z-index: 8;
			-webkit-backdrop-filter: blur(64px);
			backdrop-filter: blur(64px);
			mask: linear-gradient(to top, rgba(0, 0, 0, 0) 87.5%, rgba(0, 0, 0, 0.3) 100%);
		}
	}

	.progressive-blur-container > .blur-filter {
		position: absolute;
		inset: 0;
	}

	.progressive-blur-container > .blur-filter:nth-child(1) {
		z-index: 2;
		-webkit-backdrop-filter: blur(1px);
		backdrop-filter: blur(1px);
		mask: linear-gradient(to top, rgba(0, 0, 0, 0) 12%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 35%, rgba(0, 0, 0, 0) 50%);
	}

	.progressive-blur-container > .blur-filter:nth-child(2) {
		z-index: 3;
		-webkit-backdrop-filter: blur(2px);
		backdrop-filter: blur(2px);
		mask: linear-gradient(to top, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 1) 35%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 65%);
	}

	.progressive-blur-container > .blur-filter:nth-child(3) {
		z-index: 4;
		-webkit-backdrop-filter: blur(4px);
		backdrop-filter: blur(4px);
		mask: linear-gradient(to top, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 65%, rgba(0, 0, 0, 0) 75%);
	}

	.progressive-blur-container > .blur-filter:nth-child(4) {
		z-index: 5;
		-webkit-backdrop-filter: blur(8px);
		backdrop-filter: blur(8px);
		mask: linear-gradient(to top, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 1) 65%, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0) 90%);
	}

	.progressive-blur-container > .blur-filter:nth-child(5) {
		z-index: 6;
		-webkit-backdrop-filter: blur(12px);
		backdrop-filter: blur(12px);
		mask: linear-gradient(to top, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0) 100%);
	}

	.progressive-blur-container > .blur-filter:nth-child(6) {
		z-index: 7;
		-webkit-backdrop-filter: blur(20px);
		backdrop-filter: blur(20px);
		mask: linear-gradient(to top, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 1) 100%);
	}

	.progressive-blur-container > .gradient {
		position: absolute;
		inset: 0;
		background: linear-gradient(to bottom, var(--color-bg-main) 15%, color-mix(in oklch, var(--color-bg-main), transparent 50%) 45%, color-mix(in oklch, var(--color-bg-main), transparent 80%) 75%, color-mix(in oklch, var(--color-bg-main), transparent 95%) 90%, transparent);
		opacity: 0.6;
	}
</style>
