---
---

<section class="skills">

<h3>Ключевые навыки</h3>
<ul>
  <li>арт-дирекшн</li>
  <li>создание и развитие дизайн-систем</li> 
  <li>CX / UX / UI</li>
  <li>брендинг</li>
  <li>графдизайн</li>
  <li>управление командами</li>
  <li>cторителлинг</li>
  <li>редактирование текстов</li>
  <li>менторство</li>
  <li class="skills_more">ещё 7</li>
</ul>

<h3>Инструменты</h3>
<ul>
  <li>Figma</li> 
  <li>Penpot</li>
  <li>Storybook</li>
  <li>Style Dictonary</li>
  <li>Adobe Photoshop</li>
  <li>Adobe Illustrator</li>
  <li>Adobe InDesign</li>
  <li>Adobe PremierPro</li>
  <li>Adobe AfterEffects</li>
  <li>Adobe Animate</li>
  <li class="skills_more">ещё 11</li>
</ul>

<h3>Аналитика и исследования</h3>
<ul>
  <li>Яндекс Метрика</li>
  <li>Google Analytics</li>  
  <li>Тепловые карты</li>
  <li>Проверка гипотез</li>
  <li>A/B тесты</li>
  <li class="skills_more">ещё 5</li>
</ul>

<h3>Веб-разработка</h3>
<ul>
  <li>html</li> 
  <li>css</li>
  <li>js</li>
  <li>svg</li>
  <li>SMIL</li>
  <li>lottie</li>
  <li>Astro</li>
  <li>SvelteKit</li>
  <li>postCSS</li>
  <li>Git</li>
  <li>Tilda</li>
  <li class="skills_more">ещё 3</li>
</ul>
</section>

<style>
.skills {
  & h3 {
    margin-block-end: var(--spacing-main);
  }
  & ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-xs);
    list-style-type: none;
    margin-block-end: var(--spacing-main);
    & li {
      font-family: var(--font-family-secondary);
      font-size: var(--font-size-xxxs);
      background: var(--color-bg-xh);
      padding-inline: var(--spacing-xs);
      padding-block: var(--spacing-xxs);
      border-radius: .5em;
      &.skills_more {
        color: var(--color-safe-main);
        font-weight: var(--font-weight-extrabold);
        &:before {
          content: '+';
          padding-inline-end: var(--spacing-xxs);
          color: var(--color-safe-main);
        }
      }
    }
  }
}
</style>