---
interface Props {
	link?: string;
	cover?: string;
	caption?: string;
}

const { link, cover, caption } = Astro.props;

const Element = link ? "a" : Fragment;
const attributes = link ? { href: link, class: "card-dev-linkwrapper", target: "_blank" } : {};
---

<Element {...attributes}>
	<figure class="card-dev collection-item">
		{
			cover && (
				<div class="card-dev-cover">
					<img class="card-dev-cover--img" src={cover} alt={caption} loading="lazy" />
				</div>
			)
		}
		{caption && <figcaption>{caption}</figcaption>}
	</figure>
</Element>

<style is:global>
	.card-dev-linkwrapper {
		all: unset;
		cursor: pointer;
	}

	.card-dev {
		position: relative;
		& .card-dev-cover {
			position: relative;
			overflow: clip;
			width: 100%;
			height: auto;
			aspect-ratio: 16 / 9;
			border-radius: var(--radius-button-xxl);
			@supports (corner-shape: squircle) {
				corner-shape: squircle;
			}
			border: 4px solid var(--color-bg-xh);
			transition: scale 0.25s ease-in-out;
			box-shadow: var(--shadow-h);
			&::after {
				content: "";
				position: absolute;
				opacity: 0.5;
				top: 0;
				left: -100%;
				width: 100%;
				height: 100%;
				background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.25) 25%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.25) 75%, rgba(255, 255, 255, 0) 100%);
				transform: skewX(30deg);
				transition: none;
			}
			@media (hover: hover) and (pointer: fine) {
				&:hover {
					&::after {
						left: 120%;
						transition: all 0.5s ease-in-out;
					}
				}
			}
			& > .card-dev-cover--img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: top center;
			}
		}
		& figcaption {
			margin-block-start: var(--space-s);
			font-family: var(--font-family-secondary);
			font-size: var(--font-size-s);
			font-kerning: auto;
			font-optical-sizing: auto;
			letter-spacing: -0.003em;
			line-height: 1.2;
			text-wrap: balance;
			color: var(--color-content-s);
			font-variation-settings:
				"opsz" 8,
				"wght" var(--font-weight-regular),
				"GRAD" var(--font-grade-chapter-subtitle);
			position: relative;
			z-index: +1;
		}
	}

	@media (hover: hover) and (pointer: fine) {
		.card-dev-linkwrapper:hover,
		.card-dev-linkwrapper:focus {
			& .card-dev-cover {
				scale: 1.05;
			}
		}
	}

	.card-dev-linkwrapper:focus {
		& .card-dev-cover {
			border: 3px solid var(--color-link);
		}
	}
</style>
