---
// Компонент карточки страницы

interface Props {
	link?: string;
	timeline?: string;
	title?: string;
	subtitle?: string;
	tags?: string[];
}

const { link, timeline, title, subtitle, tags = [] } = Astro.props;

const Element = link ? "a" : Fragment;
const attributes = link ? { href: link, class: "pagecard-linkwrapper" } : {};
---

<Element {...attributes}>
	<article class="pagecard">
		<div class="pagecard-cover">
			<slot />
		</div>
		{
			timeline && (
				<div class="pagecard-timeline">
					<span class="tag">{timeline}</span>
				</div>
			)
		}
		<div class="pagecard-description">
			<div class="pagecard-heading">
				{title && <h3 class="pagecard-title">{title}</h3>}
				{subtitle && <p class="pagecard-subtitle">{subtitle}</p>}
			</div>
			{
				tags.length > 0 && (
					<div class="pagecard-tags">
						{tags.map((tag) => (
							<span class="tag">{tag}</span>
						))}
					</div>
				)
			}
		</div>
	</article>
</Element>

<style is:global>
	

</style>
