---

---

<section class="header_controls">
	<button type="button" role="button" aria-label="Toggle theme" id="theme-toggle" class="button_smilicon button_themetoggle" title="Переключение светлой/тёмной темы">
		<svg version="1.2" baseProfile="tiny" id="icon--themetoggle" class="smilicon icon--themetoggle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 128 128" overflow="visible" xml:space="preserve">
			<path d="M 83 14 C 111 24 127.88 60.47 111 90 C 91 125 48 124 26 102 C 26 102 62 91 75 74 C 85.95 59.68 87 37 83 14 M 62 28 L 62 42 M 46 76 L 46 62 M 53 69 L 39 69 M 55 35 L 69 35 M 9 55 L 23 55 M 16 62 L 16 48 M 29 13 L 29 27 M 22 20 L 36 20">
				<animate
					id="sun"
					class="close"
					begin="indefinite"
					fill="freeze"
					attributeName="d"
					dur="0.25s"
					to="M 83 14 C 111 24 127.88 60.47 111 90 C 91 125 48 124 26 102 C 26 102 62 91 75 74 C 85.95 59.68 87 37 83 14 M 62 28 L 62 42 M 46 76 L 46 62 M 53 69 L 39 69 M 55 35 L 69 35 M 9 55 L 23 55 M 16 62 L 16 48 M 29 13 L 29 27 M 22 20 L 36 20">
				</animate>
				<animate
					id="moon"
					class="open"
					begin="indefinite"
					fill="freeze"
					attributeName="d"
					dur="0.25s"
					to="M 64 27.5 C 84.16 27.5 100.5 43.84 100.5 64 C 100.5 84.16 84.16 100.5 64 100.5 C 43.84 100.5 27.5 84.16 27.5 64 C 27.5 43.84 43.84 27.5 64 27.5 M 106.43 21.57 L 96.53 31.47 M 124 64 L 110 64 M 106.43 106.43 L 96.53 96.53 M 64 110 L 64 124 M 31.47 96.53 L 21.57 106.43 M 4 64 L 18 64 M 31.47 31.47 L 21.57 21.57 M 64 18 L 64 4">
				</animate>
			</path>
		</svg>
	</button>
	<button type="button" role="menu" class="button_smilicon button_menu" title="Открыть меню">
		<svg version="1.1" id="icon--burger" class="smilicon icon--burger" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 128 128" overflow="visible" xml:space="preserve">
			<path d="M 0 4 L 64 4 M 0 64 L 128 64 M 0 124 L 96 124">
				<animate class="close" begin="indefinite" fill="freeze" attributeName="d" dur="0.15s" to="M 0 4 L 64 4 M 0 64 L 128 64 M 0 124 L 96 124"></animate>
				<animate class="open" begin="indefinite" fill="freeze" attributeName="d" dur="0.15s" to="M 4 4 L 64 64 M 4 124 L 124 4 M 64 64 L 124 124"></animate>
			</path>
		</svg>
	</button>
</section>

<style>
	.header_controls {
		display: flex;
		justify-content: end;
		gap: var(--spacing-s);
    z-index: +1;
	}

	@media screen and (width >= 1200px) {
		.button_menu {
			display: none;
		}
	}

	.button_smilicon {
		width: var(--size-button-main);
		height: var(--size-button-main);
		border-radius: var(--radius-button-main);
		cursor: pointer;
		padding: 0.9rem;
		background: var(--color-button_bg-main);
		box-shadow: 2px 6px 8px rgba(1, 1, 1, 0.05);
		@media (hover: hover) and (pointer: fine) {
			&:hover {
				background: var(--color-button_bg-focus);
				& > svg path {
					stroke: var(--color-const-light);
				}
			}
		}
		@supports (corner-shape: squircle) {
			corner-shape: squircle;
			border-radius: calc(var(--size-button-main) / 2);
		}
	}
	.button_smilicon svg path {
		fill: none;
		stroke: var(--color-brand-main);
		stroke-width: var(--icon-stroke);
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke-miterlimit: var(--icon-stroke);
	}
</style>
