<section class="scroll-progress-container">
	<div class="scroll-progress-bar"></div>
</section>

<style is:global>
	.scroll-progress-container {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 4px;
		background-color: transparent;
		z-index: 1000000000;
	}

	.scroll-progress-bar {
		height: 100%;
		width: 0%;
		background: linear-gradient(to right, transparent, var(--color-button-bg-hover), var(--color-brand-s));
		border-radius: 2px;
	}


	.scroll-progress-bar {
		animation: fill-progress linear forwards;
		animation-timeline: scroll(y);
		animation-range: entry 0% exit 100%;
	}

	@keyframes fill-progress {
		from {
			width: 0%;
		}
		to {
			width: 100%;
		}
	}
</style>
