---
export interface Props {
	class?: string;
}

const { class: className = "" } = Astro.props;
---

<div class:list={["tabs__panels", className]}>
	<slot />
</div>

<style>
	.tabs__panels {
		flex: 1;
		min-width: 0;
	}

	:global(.tabs--vertical) .tabs__panels {
		padding-inline-start: var(--spacing-md);
	}
</style>
